<div ng-if="!checkBatchProcessor.allowAccess()" class="alert alert-danger" role="alert">
  Sorry, you do not have access to run this tool.  Please contact an administrator.
</div>

<div ng-if="checkBatchProcessor.allowAccess()" ng-init="checkBatchProcessor.activate()">
  <div ng-if="checkBatchProcessor.error" class="alert alert-danger" role="alert">
    <strong>{{checkBatchProcessor.batch.name}}</strong> did not submit. Please try again.
  </div>

  <div ng-if="checkBatchProcessor.success" class="alert alert-success" role="alert">
    <strong>{{checkBatchProcessor.batch.name}}</strong> was successfully submitted.
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <h3> To import donation batches from EZ Scan to Ministry Platform: </h3>
        <ol>
          <li>Select the EZ Scan Batch Name that you wish to import into MP</li>
          <li>Select the Program this batch is allocated for from the dropdown.  If you are importing a batch with split donations, then leave the Program dropdown unselected.</li>
          <li>Click Import Donations</li>
          <li>View the progress of the donation import</li>
        </ol>
      </div>
    </div>

    <form name="checkBatchProcessorForm" ng-submit="checkBatchProcessor.processBatch()">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <h3> EZ Scan Batch Name </h3>
          <ui-select ng-model="checkBatchProcessor.batch" name="batch" required>
            <ui-select-match placeholder="Click here to choose check batch...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="batch in checkBatchProcessor.batches | filter: $select.search track by batch.id">
              <div ng-bind-html="batch.name | highlight: $select.search"></div>
              <small>
                Scan Date: <span ng-bind-html="''+batch.scanDate | date: 'MMM d, yyyy' | highlight: $select.search "></span>
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <h3> Program </h3>
          <ui-select ng-model="checkBatchProcessor.program" name="program" required>
            <ui-select-match placeholder="Click here to choose the program...">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="program in checkBatchProcessor.programs | filter: $select.search track by program.ProgramId">
              <div ng-bind-html="program.Name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="row" style="margin-top: 15px;">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <button ng-disabled="!checkBatchProcessorForm.batch.$dirty || checkBatchProcessor.processing"
                  class="btn btn-primary btn-lg btn-block-mobile give-button">
            Import Donations
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
