<div ng-if="!gpExport.allowAccess()" class="alert alert-danger" role="alert">
  Sorry, you do not have access to run this tool.  Please contact an administrator.
</div>

<div ng-if="gpExport.allowAccess()">
  <div ng-init="gpExport.activate()">
    <div ng-if="gpExport.error" class="alert alert-danger" role="alert">
      An error occured while trying to generate the file.  If this happens again, Please contact an administrator.
    </div>

    <div class="row ng-scope">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="page-header">GP Deposit Export</h1>
        <p>You have selected {{gpExport.selectedDeposits.length}} Deposits to export.</p>
        <p>Downloading the file will:</p>
        <ol>
          <li>Create a tab delimited text file to be saved for import into the accounting system</li>
          <li>The file name will be the DepositName_YYMMDD.txt</li>
          <li>Mark the selected deposits as exported</li>
          <li>Clear your selected deposits</li>
          <li>Close this window</li>
        </ol>
        <p>
          NOTE: Please make sure you reviewed and printed the "Selected Deposit - Export Preview" report
          before clicking to download the report.
        </p>
        <p>Deposits to be Downloaded:</p>
        <div ng-show="gpExport.selectedDeposits.length > 0">
          <ul>
            <li ng-repeat="deposit in gpExport.selectedDeposits">
              <a href="#" ng-click="gpExport.generateGPExportFile(deposit)">{{deposit.export_file_name}}</a>
              <svg viewBox="0 0 32 32" class="icon spinner3" ng-show="deposit.processing">
                <use xlink:href="#spinner3"></use>
              </svg>
            </li>
          <ul>
        </div>
        <div ng-show="gpExport.selectedDeposits.length == 0">
          <p>You do not have any selected deposits left to export.</div>
        </div>
      </div>
    </div>
  </div>
</div>
