<div class="col-sm-12 serve-opp-listings" id="{{panelId()}}">
  <div class="panel panel-default ng-isolate-scope">
    <div class="panel-heading clearfix" ng-click="openPanel(team.members)">
      <span class="team-name">{{::team.name}}</span>
      <div class="name-btns">
        <button type="button" ng-click="setActiveTab(member)" ng-repeat="member in team.members" class="btn btn-xs normal-type" ng-class="{'active':isActiveTab(member.name) }" stop-event>{{::member.name}}</button>
      </div><!--/pull-right-->
    </div><!--/panel-heading-->

    <div class="panel-collapse collapse" collapse="isCollapsed" style="height: 0px;">
      <div class="panel-body soft-half-bottom">
        <p class="flush-bottom">Editing sign up for {{currentMember.name + " " + currentMember.lastName}} ( <span> {{ currentMember.emailAddress}} </span> )<span class="text-muted"></span>
        <a href="" ng-click="editProfile(currentMember)" ng-show="showEdit" class="edit-btn">
            <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                <use xlink:href="#pencil4"></use>
            </svg>
        </a>
      </p>
        <div class="row">
          <div class="col-md-4">
            <h5>Opportunities</h5>
            <div class="radio" ng-class="{'text-muted': role.capacity.badgeType === 'label-success'}" ng-repeat="role in currentMember.roles">
              <label>
               <input type="radio" name="role" ng-disabled="role.capacity.badgeType === 'label-success'" ng-model="currentMember.currentOpportunity" ng-value="role" value="{{::role.name}}">
                <span class="opportunity-name">{{::role.name}}</span>
                <span class="label {{ role.capacity.badgeType }}" ng-show="role.capacity.display">{{ role.capacity.message }}</span>
              </label>
            </div><!--/radio-->
          </div><!--/col-sm-4-->
          <div class="col-md-4">
            <h5>Sign Up</h5>
            <div class="radio">
              <label>
                <input type="radio" name="signup" id="optionsRadios1"  value="true" ng-model="currentMember.currentOpportunity.signedup">
                Yes
              </label>
            </div><!--/radio-->
            <div class="radio">
              <label>
                <input type="radio" name="signup" id="optionsRadios2" value="false" ng-model="currentMember.currentOpportunity.signedup">
                No
              </label>
            </div><!--/radio-->
            <div ng-show="currentMember.currentOpportunity.signedup != null">
              <div class="form-group">
                <label>Frequency</label>
                <select class="form-control" ng-model="currentMember.currentOpportunity.frequency" ng-change="populateDates()" ng-options="f.text for f in frequency">
                  <option value="">Select a Frequency</option>
                </select>
              </div><!--/form-group-->
              <div ng-show="currentMember.currentOpportunity.frequency.value > 0">
                <div class="form-group">
                  <label>From:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="currentMember.currentOpportunity.fromDt" is-open="fromOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event, 'fromOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div><!--/input-group-->
                </div><!--/form-group-->
                <div class="form-group">
                  <label>To:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="currentMember.currentOpportunity.toDt" is-open="toOpened" min-date="minDate" max-date="'2050-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event, 'toOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div><!--/input-group-->
                </div><!--/form-group-->
              </div><!--/ng-show-->
            </div> <!--/ng-show-->
          </div><!--/col-sm-4-->
          <div class="col-sm-12 serve-save soft-half-top">
            <a href="mailto:{{ team.primaryContact }}" class="pull-left">
              <svg viewBox="0 0 32 32" class="icon icon-mail5 icon-large icon-subtle" tooltip-placement="right" tooltip="Email Team Leader">
                <use xlink:href="#mail5"></use>
              </svg>
            </a>
            <button class="btn btn-primary btn-sm" ng-click="closePanel()">Cancel</button>
            <button class="btn btn-primary btn-sm" ng-click="saveRsvp()">Save</button>
          </div><!--/col-sm-12-->
        </div><!--/row-->
      </div><!--/panel-body-->
    </div><!--/panel-collapse-->
  </div><!--/panel-->
</div>
