<form name="registerForm" ng-controller="RegisterCtrl" ng-submit="register(newuser)" novalidate="">

    <label for="firstname">First Name:</label>
    <input id="firstname" type="text" ng-model="newuser.firstname" required />

    <label for="lastname">Last Name:</label>
    <input id="lastname" type="text" ng-model="newuser.lastname" required />

    <label for="email">Email:</label>
    <input id="email" type="email" ng-model="newuser.email" required />

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" ng-show="showpassword" ng-model="newuser.password" required />
    <input type="password" id="password" name="password" ng-hide="showpassword" ng-model="newuser.password" required />
    <input type="checkbox" ng-model="showpassword" ng-checked="false">
    <button type="submit">Register</button>

</form>