<ul class="navbar--login list-unstyled">

    <li class="hidden-xs hidden-sm" data-toggle="dropdown" ng-show="showRegisterButton">
        <button class="btn btn-primary" id="form-toggle" ng-click="toggleDesktopRegister()">
            <span>Register</span>
        </button>
    </li>

    <li>
        <ul class="navbar--login__dropdown list-unstyled col-md-3 soft-top soft-sides" role="menu" aria-labelledby="dropdownMenu1" ng-class="{toggleOpen: loginShow}">
            <li role="presentation">
                <div class="navbar--login__container">
                    <div class="dd_menu">
                        <div class="primary">
                            <form id="nav_login" name="nav_login" role="form" ng-submit="login()" class="ng-pristine ng-valid" ng-app novalidate>
                                <div class="form-group">
                                    <div class="navbar--login__input" ng-class="{'has-error': loginError}">
                                        <input required class="form-control ng-pristine ng-untouched ng-valid" type="text" name="userName" id="username_nav" placeholder="Email" autocomplete="off" autocapitalize="off" ng-model="credentials.username" autofocus="">
                                    </div>
                                    <div class="navbar--login__input" ng-class="{'has-error': loginError}">
                                        <input required class="form-control ng-pristine ng-untouched ng-valid" autocomplete="off" type="password" name="password" id="password_nav" placeholder="Password" autocapitalize="off" ng-model="credentials.password">
                                    </div>
                                    <div>
                                        <span ng-show="nav_login.userName.$invalid && pending || nav_login.password.$invalid && pending">{{$root.MESSAGES.credentialsBlank}}</span>
                                        <span ng-show="loginFailed">{{$root.MESSAGES.loginFailed}}</span>
                                    </div>
                                    <input type="submit" name="submit_nav" value="Login" ng-click="login()" ng-class="{disabled: processing }" id="submit_nav" class="col-xs-12 btn btn-primary push-half-bottom">
                                    <div class="soft-half-bottom">
                                        <p class="forgot_password"><a href="#">Forgot password?</a></p>
                                        <input type="checkbox" name="remember" id="remember_nav" ng-model="checked" ng-init="checked=true" class="ng-pristine ng-untouched ng-valid">
                                        <label class="remember" for="remember_nav">Stay logged in</label>
                                    </div> <!--/soft-half-bottom -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </li>
</ul>