<div class="push-top">
    <div class="form-group">
        <div class="btn-group btn-group-justified" role="group" ng-show="!give.activeSession()">
            <a type="button" class="btn btn-default" role="button" ng-click="give.goToLogin()">Login</a>
            <a type="button" class="btn btn-default active" role="button">Give as Guest</a>
        </div>
    </div>
  
    <hr>
      <p>You are giving <strong>{{give.amount | currency}}</strong>  to <strong>{{give.program['Name']}}</strong>. <a href="" ng-click="give.processChange()" tabindex="-1" class="text-secondary">Change</a></p>
    <hr>

    <ng-form name="accountForm">
	    <div
	        class="form-group"
	        ng-if="!give.activeSession()"
	        ng-class="{'has-error': accountForm.email_field.email.$invalid && give.bankinfoSubmitted }">
	        <label for="email">Email</label>
	        <email-field
	            email="give.email"
	            submitted="give.bankinfoSubmitted"
	            prefix="give.emailPrefix"
	            on-email-not-found="give.onEmailNotFound"
	            on-email-found="give.onEmailFound"
	            validate-unique="false"
	            check-unique="true"
	            focused="true">
	        </email-field>
	    </div>

	    <div id="existingEmail" growl inline="true" reference="{{give.emailAlreadyRegisteredGrowlDivRef}}" limit-messages="1"></div>
	    <bank-credit-card-details></bank-credit-card-details>
	</ng-form>
    <button ng-click="give.submitBankInfo()" ng-class="{disabled: give.processing}" class="btn btn-primary btn-lg btn-block-mobile give-button">
      <span ng-if="give.processing">Giving...</span>
      <span ng-if="!give.processing">Give {{give.amount | currency}}</span>
      <span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
      </span>
    </button>
 </div>
