<div class="form-group">
	<donation-details amount="give.dto.amount" program="give.dto.program"
					  amount-submitted="give.amountSubmitted" programs-in="give.programsInput">
	</donation-details>
	<bank-credit-card-details></bank-credit-card-details>
	<button ng-click="give.submitChangedBankInfo()" ng-class="{disabled: give.processing}" class="btn btn-primary btn-lg btn-block-mobile give-button">
		<span ng-if="give.processing">Giving...</span>
		<span ng-if="!give.processing">Give {{give.dto.amount | currency}}</span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
	</button>
</div>
