<div class="col-sm-12 serve-opp-listings mobile-hard-sides">
  <div class="panel panel-default">

    <div class="panel-heading clearfix" ng-click="onetimeEventBlock.togglePanel()">
      <span class="team-date"> {{onetimeEventBlock.getDate()}} </span>
      <span class="team-name"> {{onetimeEventBlock.event.name}} </span>
      <span class="team-time"> {{onetimeEventBlock.startTime()}} - {{onetimeEventBlock.endTime()}} </span>
      <span class="team-location"> {{onetimeEventBlock.event.location}} </span>
    </div><!--/panel-heading-->

    <div class="panel-collapse collapse" collapse="onetimeEventBlock.isCollapsed">
      <div class="panel-body soft-half-bottom">
        <form ng-submit='onetimeEventBlock.submit()'>
          <div class="row">
            <div class="col-md-12">
              <h5> Please indicate who will attend the event </h5>
              <div ng-repeat="member in onetimeEventBlock.thisFamily">
                <div class="checkbox" >
                  <label>
                    <input type='checkbox' ng-model="member.selected" />
                    <span> {{member.preferredName}} </span>
                    <span> {{member.emailAddress}} </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="border-top: solid 1px #ddd; padding-top: 13px; padding-bottom: 13px;" ng-show="onetimeEventBlock.group.childCareInd">
              <div class="checkbox">
                <label>
                  <input type='checkbox' ng-model="onetimeEventBlock.childcareRequested" />
                  <span> Will you need childcare? </span>
                </label>
                <span class="hidden-xs visible-sm-inline visible-md-inline visible-lg-inline"
                  popover="{{ onetimeEventBlock.popoverText }}"
                  popover-placement="right">
                  <svg viewBox="0 0 32 32" class="icon icon-question-circle icon-subtle pointer">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question-circle"></use>
                  </svg>
                </span>
              </div>
            </div>
            <div class="col-sm-12 serve-save soft-half-top">
              <loading-button
                 loading-text='Saving...'
                 normal-text='Save'
                 input-type='submit'
                 input-classes='btn btn-primary'
                 loading-class='disabled'
                 loading='onetimeEventBlock.saving' >
              </loading-button>
            </div><!--/col-sm-12-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
