.btn-labeled {
  //padding-top: 0px;
  //padding-bottom: 0px;
  position: relative;
  padding-right: 52px;
  overflow: hidden;
  border: none;

  .btn-label {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    padding: 4px 0px 0px;
    width: 40px;
    background: rgba(0,0,0,0.15);
    overflow: hidden;
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;

    .icon {
      margin-top: 6px;
      color: #fff;
    }
  }

  &.btn-lg {

    .btn-label {
      height: 45px;

      .icon {
        margin-top: 10px;
      }
    }
  }

  &.btn-sm {
    padding-right: 42px;

    .btn-label {
      height: 30px;
      width: 30px;

      .icon {
        margin-top: 3px;
      }
    }
  }

  &.btn-xs {
    padding-right: 30px;

    .btn-label {
      height: 24px;
      width: 24px;

      .icon {
        margin-top: 0px;
        max-width: 12px;
        height: auto;
      }
    }
  }
}

.btn-gray {
  @include button-variant($btn-default-color, $gray, $gray);
}
.btn-gray-light {
  @include button-variant($gray, #f1f1f1, $gray-lighter);
}

h2 {
  .btn {
    letter-spacing: 0px;
  }
}

.btn.normal-type {
  text-transform: none;
}


// Table buttons

// Table buttons

.table-btn {
  @extend .btn;
  @extend .btn-default;
  @extend .col-full-height;
  @extend .push-half-bottom;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-bottom-width: 0px;
  font-size: 1.3rem;
  min-height: 31px;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
    border-radius: 0px;
    font-size: 1.4rem;
  }
}


.btn-checkbox-toggle {
  @extend .col-xs-12;
  text-align: left;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $input-color;
  font-weight: normal;
  border: 1px solid $input-group-addon-border-color;
  background: white;
  height: $input-height-base;

  &:hover {
    color: $text-color;
    background: $gray-lighter;
  }

  label {
    width: 100%;
    display: block;
  }
}
