.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  &:focus {
    text-decoration: none;
  }
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-labeled {
  //padding-top: 0px;
  //padding-bottom: 0px;
  position: relative;
  padding-right: 52px;
  overflow: hidden;
  border: none;

  .btn-label {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    padding: 4px 0px 0px;
    width: 40px;
    background: rgba(0,0,0,0.15);
    overflow: hidden;
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    height: 37.6px;

    .icon {
      margin-top: 6px;
      color: #fff;
    }
  }

  &.btn-lg {

    .btn-label {
      height: 45px;

      .icon {
        margin-top: 10px;
      }
    }
  }

  &.btn-sm {
    padding-right: 42px;

    .btn-label {
      height: 30px;
      width: 30px;

      .icon {
        margin-top: 3px;
      }
    }
  }

  &.btn-xs {
    padding-right: 30px;

    .btn-label {
      height: 24px;
      width: 24px;

      .icon {
        margin-top: 0px;
        max-width: 12px;
        height: auto;
      }
    }
  }
}

.input-group-btn {
  .btn {
    border-bottom-width: 1px;
  }
}

h2 {
  .btn {
    letter-spacing: 0px;
  }
}

.btn.normal-type {
  text-transform: none;
}

// Table buttons
.table-btn {
  @extend .btn;
  @extend .col-full-height;
  @extend .push-half-bottom;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-bottom-width: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

  @media (min-width: $screen-sm-min) {
    min-height: $line-height-computed*2;
    line-height: 2;
    margin-bottom: 0;
    border-radius: 0px;

    &.table-btn-sm {
      min-height: 31px;
      line-height: 1.5;
    }

    &.table-btn-lg {
     min-height: 54px;
     line-height: 3;
    }
  }
}



.btn-checkbox-toggle {
  @include button-variant($gray, #ffffff, $input-group-addon-border-color);
  text-align: left;
  font-family: $font-family-base;
}

.btn-block-mobile {
  @media (max-width: $screen-xs-max) { 
    width: 100%;
  }
}