.btn-labeled {
  //padding-top: 0px;
  //padding-bottom: 0px;
  position: relative;
  padding-right: 52px;

  .btn-label {
    position: absolute;
    right: 0px;
    top: -1px;
    display: inline-block;
    padding: 6px 0px;
    width: 40px;
    background: rgba(0,0,0,0.15);

    .icon {
      margin-top: 2px;
    }
  }
}

.btn-gray {
  color: white;
  background-color: $gray;
  border-color: $gray-dark;
  color: $gray-lighter;

  &:hover {
    background-color: $brand-primary;
  }
}

h2 {
  .btn {
    letter-spacing: 0px;
  }
}

.btn.normal-type {
  text-transform: none;
}


// Table buttons

.table-btn {
  @extend .btn;
  @extend .btn-default;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  right: 0;
  float: right;
  border-radius: 0px;
  border-bottom-width: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1.3rem;

  @media (min-width: $screen-sm-min) {
    font-size: 1.4rem;
  }

  span {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 100%;
    left: 0;
  }
}
