.card-item {
  margin-bottom: $line-height-computed;
  background: rgba(214, 224, 226, 0.2);
  border-radius: 2px;
  border-left: 5px solid $cr-blue;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.16), -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;

}

.card-img {
  padding: $line-height-computed/4 $line-height-computed/2;
  text-align: center;

  img, .corkboard-icon {
    width: 30%;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid rgba(214, 224, 226, 0.8);
    position: relative;
    margin: 0 auto;
    @media (min-width: 500px) {
      width: 20%;
    }
    @media (min-width: $screen-sm-min) {
      width: 70%;
    }
  }
}



.card-header {
  padding: $line-height-computed/2 $grid-gutter-width/2;
   a {
     color: $text-color;
     &:hover {
       color: darken($text-color, 12%);
     }
   }
  h1, h2, h3, h4, h5 {
   margin: 0;
  }
}
.card-body {
  padding: 0 $grid-gutter-width/2;
}
.card-dark {
  background: rgba(214, 224, 226, 0.4);
}

.card-content {
  padding: 0;
  border-radius:0;
  vertical-align: top;
  //bottom: -1px;
  //right: -1px;

  @media (min-width: $screen-sm-min) {
    border-radius: 0 2px 2px 0;
  }

  .addthis_crossroads_sharing {
    margin-top: 7px;
  }

  .card-desc {
    position: relative;
    height: 100%;
    display: block;
    a {
      position: absolute;
      width: 100%;
      bottom: 10px;
      left: 20px;
    }
  }
  h4 {
    padding: $line-height-computed/2 0px;
    margin: 0px;
  }

  ul.list-group {
    margin-bottom: 0px;

    li {
      @extend .clearfix;
      background: transparent;
      border-right: 0px;
      border-left: 0px;
      border-radius: 0px;
      padding-top: 0px;
      padding-bottom: 0px;

      @media (min-width: $screen-sm-min) {
        padding-right: 0;
      }
    }
  }
  .days-left {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
  }
  .funding-goal {
    margin-top: -20px;
  }
  .trip-funding {
    white-space: nowrap;
  }
  .progress-bar {
    text-align: right;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.5);
  }
}
