.card-item {
  margin-bottom: $line-height-computed;
  background: rgba(214, 224, 226, 0.2);
  border-radius: 2px;
  border-left: 5px solid $cr-blue;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.card-left {
  padding: $line-height-computed/4 $line-height-computed/2;
  text-align: center;

  img {
      max-width: 95%;
      background-color: transparent;
      border-radius: 50%;
      //margin: 5px;
      border: 3px solid rgba(214, 224, 226, 0.4);
      position: relative;
      margin: 0 auto;
  }
}

.card-middle {
  padding: $line-height-computed/2 0 0;

  .card-header {
    font-size: 20px;
    padding: 0 $line-height-computed/2;
  }

  .card-desc {
      position: relative;
      height: 100%;
      display: block;
      font-size: 13px;
      margin-top: 8px;

      a{
          position: absolute;
          width: 100%;
          bottom: 10px;
          left: 20px;
      }
  }
}

.card-middle {
  background: rgba(214, 224, 226, 0.4);
  border-radius: 0 0 0 0;
  bottom: -1px;

  @media (min-width: 768px) {
    border-radius: 0 2px 2px 0;
  }

  //border-left: 1px solid $table-border-color;

  // tate - don't feel great about this but I am struggling to figure out why there is a 1px gap to the right of this
  @media (min-width: 992px) {
      right: -1px;
  }

  ul.list-group {
    margin-bottom: 0px;

    li {
      background: transparent;
      //border-top: 0px;
      border-right: 0px;
      border-left: 0px;
      border-radius: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
      @extend .clearfix;
      line-height: 33px;
      padding-left: $line-height-computed/2;

      &:last-child {
        //border-bottom: 0px;

        .btn {
          border-bottom-right-radius: 2px;
        }

        @media (min-width: $screen-sm-min) {
          //border-bottom: 1px solid $table-border-color;

          .btn {
            border-bottom-right-radius: 0px;
          }
        }
      }

      .btn {
        float: right;
        border-radius: 0px;
        border-bottom-width: 0px;
        border-bottom-right-radius: 0px;
        font-size: 1.3rem;

        @media (min-width: $screen-sm-min) {
            font-size: 1.4rem;
        }

      }

      h4 {
        padding: $line-height-computed/2 0px;
        margin: 0px;
      }
    }
  }
}

.go-trip-name {
  padding-left: 0px;

  p {
    margin-bottom: 0px;
    line-height: 1.5;
    padding: 6px 0;
    font-size: 1.3rem;
  }
}

.go-trip-btn {
  right: -2px;

  a {
    text-align: center;
    vertical-align: middle;
    @extend .btn;
    @extend .btn-default;
    position: absolute;
    bottom: 0;
    top: -1px;
    left: 0;
    right: 0;

    span {
      position: absolute;
      top: 50%;
      margin-top: -13px;
      width: 100%;
      left: 0;
    }
  }
}
