.addthis_custom_sharing {
  display: block;

  a {
    display: inline-block;
    float: left;
    margin-right: $padding-base-horizontal/2;
    .at4-icon {
      height: 32px;
      width: 32px;
      text-align: center;
      background-position: center;
      border-radius: 50%;
      background-color: $gray-light !important;

      &.aticon-facebook {
        &:hover {
          background-color: rgb(48, 88, 145) !important;
        }
      }

      &.aticon-twitter {
        &:hover {
          background-color: rgb(44, 168, 210) !important;
        }
      }

      &.aticon-email {
        &:hover {
          background-color: $brand-primary !important;
        }
      }
    }
  }
}
