<form role="form" ng-controller="crdsProfileCtrl as profile">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="firstname">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" ng-model="profile.person.email">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="profile.person.firstName">
        </div>

        <div class="form-group col-sm-6">
            <label for="middlename">Middle Name</label>
            <input type="text" class="form-control" id="middlename" placeholder="Enter middle name" ng-model="profile.person.middleName">
        </div>

        <div class="form-group col-sm-6">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Enter last name" ng-model="profile.person.lastName">
        </div>

        <div class="form-group col-sm-6">
            <label for="maidenname">Maiden Name</label>
            <input type="text" class="form-control" id="maidenname" placeholder="Enter maiden name" ng-model="profile.person.maidenName">
        </div>

        <div class="form-group col-sm-6">
            <label for="nickname">Nick Name <small class="text-muted">(Example: Rob or Becky)</small></label>
            <input type="text" class="form-control" id="nickname" placeholder="Enter nick name" ng-model="profile.person.nickName">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="nickname">Mobile Phone</label>
            <input type="text" class="form-control" id="mobile" placeholder="Enter mobile phone" ng-model="profile.person.mobilePhone">
        </div>

        <div class="form-group col-sm-6">
            <label for="provider">Service Provider</label>
            <select class="form-control col-sm-12">
                {% for i in (1..31) %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <!--<div class="row">
        <div class="col-sm-6" ng-controller="crdsDatePickerCtrl">
            <label class="control-label">Birth Date</label>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" datepicker-append-to-body="true" ng-model="person.dateOfBirth" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="open($event)"><svg viewBox="0 0 32 32" class="icon icon-calendar"><use xlink:href="/icons/cr.svg#calendar"></use></svg></button>
                </span>
            </p>
        </div>
    </div>-->

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="marital_status">Maritial Status</label>
            <select class="form-control col-sm-12"
                    ng-model="person.maritalStatusId"
                    ng-options="status.dpRecordid as status.dpRecordname for status in maritalStatuses"></select>
        </div>

        <div class="form-group col-sm-6">
            <label class="block">Gender</label>
            <label class="radio-inline" ng-repeat="gender in genders">
                <input type="radio" id="gender" ng-value="gender" ng-model="person.gender"> {{ gender }}
            </label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="employer">Employer</label>
            <input type="text" class="form-control" id="employer" placeholder="Enter employer">
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-sm-6" ng-controller="crdsDatePickerCtrl">
            <label class="control-label">When did you start attending Crossroads?</label></span>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="contact.anniversaryDate" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="open($event)"><svg viewBox="0 0 32 32" class="icon icon-calendar"><use xlink:href="/icons/cr.svg#calendar"></use></svg></button>
                </span>
            </p>
        </div>
    </div>
    -->

    <button id="save-personal" ng-click="savePersonal(profile.person)" class="btn btn-primary" data-style="expand-left">
        Save
    </button>
</form>
