<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
  <div ng-bind-html="tripsearch.pageHeader"></div>

  <form method="get" id="go-trip-giving-form">
    <div class="form-group col-sm-12 hard-sides">
      <label for="exampleInputEmail1">Search by last name or email:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn btn-gray-light" type="submit" ng-click="showDetails = ! showDetails">
              <svg viewBox="0 0 32 32" class="icon icon-search3 icon-medium"><use xlink:href="#search3"></use></svg>
            </button>
        </span>
    </div>
  </form>

  <div class="go-search-results hard-sides soft-top col-sm-12" ng-show="showDetails">

    <h4>Search results for: ‘jones’</h4>

    <trip-participant-card trip-participant="participant" ng-repeat="participant in tripsearch.tripParticipants"></trip-participant-card>

  </div>
