<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 my-trip">
  <div class="row">
    <h1 class="page-header">My Trips</h1>
    <h2 class="subheading">Whether it’s New Orleans or India, we leave our own neighborhoods to be in others.</h2>

    <!-- Card Section -->
    <div class="col-md-12">
      <div class="row">

        <!-- Card -->
        <div class="card-item" data-category="view">
          <!-- card heading -->
          <div class="card-header card-background-dark clearfix">
            <div class="col-xs-12">
              <h2 class="card-row flush-bottom">GO New Orleans</h2>
              <p class="text-muted trip-date">July 7 - July 27, 2015</p>
            </div>

          </div>
          <!-- /card heading -->

          <!-- Card Body -->
          <!-- Progress Bar -->
          <div class="col-xs-12 col-top">
            <p class="flush-bottom text-right trip-funding" style="width: 100%">$700 Funded</p>
            <progressbar type="success" max="500" value="700"></progressbar>
            <p class="pull-right funding-goal">$500 Goal</p>
          </div>
          <!-- /progress bar -->

          <div class="col-xs-12 push-bottom">
            <div class="card-row days-left">Goal Reached!</div>
            <p class="text-muted">35 days left to add funding.</p>
          </div>

          <!-- Social Media / Donor toggle -->
          <div class="col-xs-7">
            <sn-addthis-toolbox class="addthis_crossroads_sharing clearfix addthis_32x32_style push-half-bottom" data-url="https://www.crossroads.net/blog/view/466/20509" data-title="Example Blog Post" data-description="Example Blog info.">
                <a href class="addthis_button_facebook" tooltip="Share your trip fundraising page with friends and family on Facebook" tooltip-append-to-body="true" tooltip-placement="right"></a>
                <a href class="addthis_button_twitter" tooltip="Share your trip fundraising page with friends and family on Twitter" tooltip-append-to-body="true" tooltip-placement="right"></a>
                <a href class="addthis_button_email" tooltip="Share your trip fundraising page with friends and family via Email" tooltip-append-to-body="true" tooltip-placement="right"></a>
            </sn-addthis-toolbox>
          </div>

          <!-- donor table -->
          <div class="clearfix col-xs-12 card-content">
            <ul class="list-group">
              <li class="list-group-item hard-sides">
                <div class="clearfix">
                    <div class="col-xs-12 col-sm-10 col-top">
                      <h5 class="hard-ends flush-bottom">Matt Brewer <span class="text-muted">4/2/15</span></h5>
                      <p class="tight-line-height">
                        $100
                      </p>
                    </div><!--/col-xs-12-->
                    <div class="col-xs-12 col-sm-2 hard-sides mobile-soft-sides mobile-push-half-top">
                      <a href="" class="table-btn table-btn-lg btn-standard" ng-click="matt = !matt"><span>
                        <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                          <use xlink:href="#mail-reply"></use>
                        </svg> Reply</span
                      </a>
                    </div>
                  </div>
                  <div class="clearfix gray-lighter">
                    <div class="col-xs-12" collapse="!matt">
                      <div class="push-half-ends clearfix">
                        <textarea class="form-control push-half-bottom" rows="10" placeholder="Type your message here&hellip;"></textarea>
                        <div class="pull-right">
                          <button class="btn btn-default" ng-click="matt = !matt">Cancel</button>
                          <button class="btn btn-primary">Send Message</button>
                        </div>
                      </div>
                    </div><!--/col-xs-12-->
                  </div><!--/clearfix gray-lighter -->
              </li><!--/list-group-item-->
              <li class="list-group-item hard-sides">
                <div class="clearfix">
                    <div class="col-xs-12 col-sm-10 col-top">
                      <h5 class="hard-ends flush-bottom">Sandi Ritter <span class="text-muted">3/2/15</span></h5>
                      <p class="tight-line-height">
                        $200  &nbsp;<span class="label label-info ">Reply Sent</span>
                      </p>
                    </div><!--/col-xs-12-->
                    <div class="col-xs-12 col-sm-2 hard-sides mobile-soft-sides mobile-push-half-top">
                      <a href="" class="table-btn table-btn-lg btn-standard" ng-click="sandi = !sandi"><span>
                        <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                          <use xlink:href="#mail-reply"></use>
                        </svg> Reply</span
                      </a>
                    </div>
                  </div>
                  <div class="clearfix gray-lighter">
                    <div class="col-xs-12" collapse="!sandi">
                      <div class="push-half-ends clearfix">
                        <textarea class="form-control push-half-bottom" rows="10" placeholder="Type your message here&hellip;"></textarea>
                        <div class="pull-right">
                          <button class="btn btn-default" ng-click="sandi = !sandi">Cancel</button>
                          <button class="btn btn-primary">Send Message</button>
                        </div>
                      </div>
                    </div><!--/col-xs-12-->
                  </div><!--/clearfix gray-lighter -->
              </li><!--/list-group-item-->
              <li class="list-group-item hard-sides">
                <div class="clearfix">
                    <div class="col-xs-12 col-sm-10 col-top">
                      <h5 class="hard-ends flush-bottom">Brian Miller <span class="text-muted">3/3/15</span></h5>
                      <p class="tight-line-height">
                        $50
                      </p>
                    </div><!--/col-xs-12-->
                    <div class="col-xs-12 col-sm-2 hard-sides mobile-soft-sides mobile-push-half-top">
                      <a href="" class="table-btn table-btn-lg btn-standard" ng-click="brian = !brian"><span>
                        <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                          <use xlink:href="#mail-reply"></use>
                        </svg> Reply</span
                      </a>
                    </div>
                  </div>
                  <div class="clearfix gray-lighter">
                    <div class="col-xs-12" collapse="!brian">
                      <div class="push-half-ends clearfix">
                        <textarea class="form-control push-half-bottom" rows="10" placeholder="Type your message here&hellip;"></textarea>
                        <div class="pull-right">
                          <button class="btn btn-default" ng-click="brian = !brian">Cancel</button>
                          <button class="btn btn-primary">Send Message</button>
                        </div>
                      </div>
                    </div><!--/col-xs-12-->
                  </div><!--/clearfix gray-lighter -->
              </li><!--/list-group-item-->
            </ul>
          </div>
        </div>
        <!-- /donor table -->
        <!-- /Card -->


        <div class="card-item" data-category="view">
          <!-- card heading -->
          <div class="card-header card-background-dark clearfix">
            <div class="col-xs-12">
              <h2 class="card-row flush-bottom">GO South Africa</h2>
              <p class="trip-date text-muted">Oct 17 - Oct 27, 2015</p>
            </div>
          </div>
          <!-- /card heading -->

          <!-- Card Body -->
          <!-- Progress Bar -->
          <div class="col-xs-12 col-top">
            <p class="flush-bottom text-right trip-funding" style="width: 60%">$600 Funded</p>
            <progressbar class="progress-striped" type="success" max="1000" value="600"></progressbar>
            <p class="pull-right funding-goal">$1000 Goal</p>
          </div>
          <!-- /progress bar -->

          <div class="col-xs-12 push-bottom">
            <div class="card-row days-left"><span class="text-danger">88</span> days left for funding.</div>
          </div>

          <div class="col-xs-7">
            <sn-addthis-toolbox class="addthis_crossroads_sharing clearfix addthis_32x32_style push-half-bottom" data-url="https://www.crossroads.net/blog/view/466/20509" data-title="Example Blog Post" data-description="Example Blog info.">
                <a href class="addthis_button_facebook" tooltip="Share your trip fundraising page with friends and family on Facebook" tooltip-append-to-body="true" tooltip-placement="right"></a>
                <a href class="addthis_button_twitter" tooltip="Share your trip fundraising page with friends and family on Twitter" tooltip-append-to-body="true" tooltip-placement="right"></a>
                <a href class="addthis_button_email" tooltip="Share your trip fundraising page with friends and family via Email" tooltip-append-to-body="true" tooltip-placement="right"></a>
            </sn-addthis-toolbox>
          </div>
          <!-- /social media & donor toggle -->

          <!-- donor table -->
          <div class="clearfix col-xs-12">
            <table class="table">
              <tbody>
                <tr>
                  <td scope="row">
                    <h5 class="flush">Lakshmi Maramraju</h5>
                    <p class="text-muted">3/2/15
                      <br>
                      <a href="">
                        <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                          <use xlink:href="#mail-reply"></use>
                        </svg> Reply
                      </a>
                    </p>
                  </td>
                  <td class="text-right"><span>$100.00</span>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <h5 class="flush">Dan Rye</h5>
                    <p class="text-muted">2/28/15
                      <br>
                      <a href="">
                        <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                          <use xlink:href="#mail-reply"></use>
                        </svg> Reply
                      </a>
                    </p>
                  </td>
                  <td class="text-right"><span>$200.00</span>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <h5 class="flush">Matthew Silbernagel</h5>
                    <p class="text-muted">2/2/15
                      <br>
                      <a href="">
                        <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                          <use xlink:href="#mail-reply"></use>
                        </svg> Reply
                      </a>
                    </p>
                  </td>
                  <td class="text-right"><span>$300.00</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /donor table -->
        </div>
      </div>
    </div>


    <!-- Card -->
    <div class="card-item" data-category="view">
      <!-- card heading -->
      <div class="card-header card-background-dark clearfix">
        <div class="col-xs-12">
          <h2 class="card-row flush-bottom">GO India</h2>
          <p class="text-muted trip-date">January 17 - January 30, 2016</p>
        </div>

      </div>
      <!-- /card heading -->

      <!-- Card Body -->
      <!-- Progress Bar -->
      <div class="col-xs-12 col-top">
        <p class="flush-bottom text-left trip-funding" style="width: 1%">$10 Funded</p>
        <progressbar type="success" max="3000" value="10"></progressbar>
        <p class="pull-right funding-goal">$3000 Goal</p>
      </div>
      <!-- /progress bar -->

      <div class="col-xs-12 push-bottom">
        <div class="card-row days-left"><span class="text-danger">136</span> days left for funding</div>
      </div>

      <!-- Social Media / Donor toggle -->
      <div class="col-xs-7">
        <sn-addthis-toolbox class="addthis_crossroads_sharing clearfix addthis_32x32_style push-half-bottom" data-url="https://www.crossroads.net/blog/view/466/20509" data-title="Example Blog Post" data-description="Example Blog info.">
            <a href class="addthis_button_facebook" tooltip="Share your trip fundraising page with friends and family on Facebook" tooltip-append-to-body="true" tooltip-placement="right"></a>
            <a href class="addthis_button_twitter" tooltip="Share your trip fundraising page with friends and family on Twitter" tooltip-append-to-body="true" tooltip-placement="right"></a>
            <a href class="addthis_button_email" tooltip="Share your trip fundraising page with friends and family via Email" tooltip-append-to-body="true" tooltip-placement="right"></a>
        </sn-addthis-toolbox>
      </div>

      <!-- donor table -->
      <div class="clearfix col-xs-12">
        <table class="table">
          <tbody>
            <tr>
              <td scope="row">
                <h5 class="flush">Lakshmi Maramraju</h5>
                <p class="text-muted">3/2/15
                  <br>
                  <a href="">
                    <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                      <use xlink:href="#mail-reply"></use>
                    </svg> Reply
                  </a>
                </p>
              </td>
              <td class="text-right"><span>$100.00</span>
              </td>
            </tr>
            <tr>
              <td scope="row">
                <h5 class="flush">Dan Rye</h5>
                <p class="text-muted">2/28/15
                  <br>
                  <a href="">
                    <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                      <use xlink:href="#mail-reply"></use>
                    </svg> Reply
                  </a>
                </p>
              </td>
              <td class="text-right"><span>$200.00</span>
              </td>
            </tr>
            <tr>
              <td scope="row">
                <h5 class="flush">Matthew Silbernagel</h5>
                <p class="text-muted">2/2/15
                  <br>
                  <a href="">
                    <svg viewBox="0 0 32 32" class="icon-small icon-mail-reply">
                      <use xlink:href="#mail-reply"></use>
                    </svg> Reply
                  </a>
                </p>
              </td>
              <td class="text-right"><span>$300.00</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /donor table -->
  </div>
  <!-- /Card -->
</div>
