<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 my-trip">
  <div class="row">
    <h1>My Trips</h1>
    <h2 class="subheading">Whether it’s New Orleans or India, we leave our own neighborhoods to be in others.</h2>

    <!-- Card Section -->
    <div class="col-md-12">
      <div class="row">

        <!-- Card -->
        <div class="card-item" data-category="view">
          <!-- card heading -->
          <div class="card-header card-background-dark clearfix">
            <div class="col-xs-12">
              <h2 class="card-row flush-bottom">GO New Orleans</h2>
              <p class="text-muted trip-date">July 7 - July 27, 2015</p>
            </div>

          </div>
          <!-- /card heading -->

          <!-- Card Body -->
          <!-- Progress Bar -->
          <div class="col-xs-12 col-top">
            <p class="flush-bottom text-right trip-funding" style="width: 100%">$700 Funded</p>
            <progressbar type="success" max="500" value="700"></progressbar>
            <p class="pull-right funding-goal">$500 Goal</p>
          </div>
          <!-- /progress bar -->

          <div class="col-xs-12 push-bottom">
            <div class="card-row days-left">Goal Reached!</div>
            <p class="text-muted">35 days left to add funding.</p>
          </div>

          <!-- Social Media / Donor toggle -->
          <div class="col-xs-7">
            <svg viewBox="0 0 32 32" class="icon icon-facebook6 icon-xlarge icon-facebook" tooltip="Share your trip fundraising page with friends and family on Facebook" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#facebook6"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-twitter6 icon-xlarge icon-twitter" tooltip="Share your trip fundraising page with friends and family on Twitter" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#twitter6"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-mail4 icon-xlarge icon-email" tooltip="Share your trip fundraising page with friends and family via Email" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#mail4"></use>
            </svg>
          </div>
          <div class="col-xs-5 text-right push-half-top">
            <a href="" class="pull-right" ng-click="orleans.donors = !orleans.donors" ng-show="!orleans.donors">Show Donors</a>
            <a href="" class="pull-right" ng-click="orleans.donors = !orleans.donors" ng-show="orleans.donors">Hide Donors</a>
          </div>
          <!-- /social media & donor toggle -->

          <!-- donor table -->
          <div class="clearfix col-xs-12">
            <div collapse="!orleans.donors">
              <table class="table">
                <tbody>
                  <tr>
                    <td scope="row"><a href="" ng-click="matt = !matt">Matt Brewer</a>
                      <p class="text-muted"><span>4/2/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$100.00</span>
                    </td>
                  </tr>
                  <tr collapse="!matt">
                    <td colspan="2" class="no-borders">
                      <textarea class="form-control push-bottom" rows="10" placeholder="Type your message here&hellip;"></textarea>
                      <div class="pull-right">
                        <button class="btn btn-primary" ng-click="matt = !matt">Cancel</button>
                        <button class="btn btn-primary">Send Message</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Sandi Ritter</a>
                      <p class="text-muted"><span>3/28/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$50.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Michael Harward</a>
                      <p class="text-muted"><span>3/22/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$150.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Brian Miller</a>
                      <p class="text-muted"><span>3/22/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$50.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Tate Lucus
                      <svg viewBox="0 0 32 32" class="icon icon-check-circle text-success icon-middle">
	                     <use xlink:href="#check-circle"></use>
                      </svg>
                      </a>
                      <p class="text-muted"><span>3/13/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$50.00</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /donor table -->
        </div>
        <!-- /Card -->


        <div class="card-item" data-category="view">
          <!-- card heading -->
          <div class="card-header card-background-dark clearfix">
            <div class="col-xs-12">
              <h2 class="card-row flush-bottom">GO South Africa</h2>
              <p class="trip-date text-muted">Oct 17 - Oct 27, 2015</p>
            </div>
          </div>
          <!-- /card heading -->

          <!-- Card Body -->
          <!-- Progress Bar -->
          <div class="col-xs-12 col-top">
            <p class="flush-bottom text-right trip-funding" style="width: 60%">$600 Funded</p>
            <progressbar class="progress-striped" type="success" max="1000" value="600"></progressbar>
            <p class="pull-right funding-goal">$1000 Goal</p>
          </div>
          <!-- /progress bar -->

          <div class="col-xs-12 push-bottom">
            <div class="card-row days-left"><span class="text-danger">88</span> days left for funding.</div>
          </div>

          <!-- Social Media / Donor toggle -->
          <div class="col-xs-7">
            <svg viewBox="0 0 32 32" class="icon icon-facebook6 icon-xlarge icon-facebook" tooltip="Share your trip with friends and family on Facebook" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#facebook6"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-twitter6 icon-xlarge icon-twitter" tooltip="Share your trip with friends and family on Twitter" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#twitter6"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-mail4 icon-xlarge icon-email" tooltip="Share your trip link with friends and family via Email" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#mail4"></use>
            </svg>
          </div>
          <div class="col-xs-5 text-right push-half-top">
            <a href="" class="pull-right" ng-click="orleans.donors = !orleans.donors" ng-show="!orleans.donors">Show Donors</a>
            <a href="" class="pull-right" ng-click="orleans.donors = !orleans.donors" ng-show="orleans.donors">Hide Donors</a>
          </div>
          <!-- /social media & donor toggle -->

          <!-- donor table -->
          <div class="clearfix col-xs-12">
            <div collapse="!africa.donors">
              <table class="table">
                <tbody>
                  <tr>
                    <td scope="row"><a href="">Lakshmi Maramraju</a>
                      <p class="text-muted"><span>3/2/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$100.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Dan Rye</a>
                      <p class="text-muted"><span>2/28/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$200.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Matthew Silbernagel</a>
                      <p class="text-muted"><span>2/2/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$300.00</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /donor table -->
        </div>


        <!-- Card -->
        <div class="card-item" data-category="view">
          <!-- card heading -->
          <div class="card-header card-background-dark clearfix">
            <div class="col-xs-12">
              <h2 class="card-row flush-bottom">GO India</h2>
              <p class="text-muted trip-date">January 17 - January 30, 2016</p>
            </div>

          </div>
          <!-- /card heading -->

          <!-- Card Body -->
          <!-- Progress Bar -->
          <div class="col-xs-12 col-top">
            <p class="flush-bottom text-left trip-funding" style="width: 1%">$10 Funded</p>
            <progressbar type="success" max="3000" value="10"></progressbar>
            <p class="pull-right funding-goal">$3000 Goal</p>
          </div>
          <!-- /progress bar -->

          <div class="col-xs-12 push-bottom">
            <div class="card-row days-left"><span class="text-danger">136</span> days left for funding</div>
          </div>

          <!-- Social Media / Donor toggle -->
          <div class="col-xs-7">
            <svg viewBox="0 0 32 32" class="icon icon-facebook6 icon-xlarge icon-facebook" tooltip="Share your trip with friends and family on Facebook" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#facebook6"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-twitter6 icon-xlarge icon-twitter" tooltip="Share your trip with friends and family on Twitter" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#twitter6"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-mail4 icon-xlarge icon-email" tooltip="Share your trip link with friends and family via Email" tooltip-append-to-body="true" tooltip-placement="right">
              <use xlink:href="#mail4"></use>
            </svg>
          </div>
          <div class="col-xs-5 text-right push-half-top">
            <a href="" class="pull-right" ng-click="orleans.donors = !orleans.donors" ng-show="!orleans.donors">Show Donors</a>
            <a href="" class="pull-right" ng-click="orleans.donors = !orleans.donors" ng-show="orleans.donors">Hide Donors</a>
          </div>
          <!-- /social media & donor toggle -->

          <!-- donor table -->
          <div class="clearfix col-xs-12">
            <div collapse="!africa.donors">
              <table class="table">
                <tbody>
                  <tr>
                    <td scope="row"><a href="">Lakshmi Maramraju</a>
                      <p class="text-muted"><span>3/2/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$100.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Dan Rye</a>
                      <p class="text-muted"><span>2/28/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$200.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><a href="">Matthew Silbernagel</a>
                      <p class="text-muted"><span>2/2/15</span>
                      </p>
                    </td>
                    <td class="text-right"><span>$300.00</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /donor table -->
        </div>
      </div>
      <!-- /Card -->
    </div>
  </div>
</div>
