<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="MyCommunicationPreferences" value="479" />
  <add key="MyContact" value="455" />
  <add key="MyHousehold" value="465" />
  <add key="ChangePassword" value="475" />
  <add key="MySkills" value="421" />
  <add key="MyProfile" value="474" />
  <add key="ContactAttributes" value="412" />
  <add key="Emails" value="481" />
  <add key="Genders" value="311" />
  <add key="MaritalStatus" value="339"/>
  <add key="ServiceProviders" value="453"/>
  <add key="States" value="452"/>
  <add key="Countries" value="442"/>
  <add key="CrossroadsLocations" value="288"/>
  <add key="TokenURL" value="https://my.crossroads.net/ministryplatform/oauth/token"/>
</appSettings>
