<?xml version="1.0" encoding="utf-8"?>
<appSettings>  
  <!--Below are codes reflecting the respective pages on MP-->
  <add key="MyCommunicationPreferences" value="479" />
  <add key="MyContact" value="455" />
  <add key="MyContactFamilyRelationshipViewId" value="75"/>
  <add key="Contacts" value="292"/>
  <add key="Participants" value="355"/>
  <add key="Users" value="401"/>
  <add key="Users_Roles" value="369"/>
  <add key="Households" value="327" />
  <add key="ContactHouseholds" value="432" />
  <add key="MyHousehold" value="465" />
  <add key="MyAddresses" value="468" />
  <add key="ChangePassword" value="475" />
  <add key="MySkills" value="421" />
  <add key="MyProfile" value="474" />
  <add key="ContactAttributes" value="412" />
  <add key="Attributes" value="277" />
  <add key="Emails" value="481" />
  <add key="Genders" value="311" />
  <add key="MaritalStatus" value="339"/>
  <add key="ServiceProviders" value="453"/>
  <add key="States" value="487"/>
  <add key="Countries" value="442"/>
  <add key="CrossroadsLocations" value="288"/>
  <add key="MyParticipantRecords" value="482"/>
  <add key="OpportunityResponses" value ="382"/>
  <add key="TodaysEventLocationRecords" value ="490"/>
  <add key="MyServingTeams" value="1014"/>
  <add key="GroupOpportunities" value="300"/>
  <add key="Events" value="308"/>
  <add key="ContactOpportunityResponses" value="76"/>
  <add key="GroupOpportunitiesEvents" value="77"/>
  <add key="Groups" value="322"/>
  <add key="GroupsParticipants" value="298"/>
  <add key="GroupsEvents" value="302"/>
  <add key="GroupsSubgroups" value="299"/>
  <add key="EventsGroups" value="408"/>
  <add key="Events" value="308"/>
  <add key="EventsParticipants" value="281"/>
  <add key="SignedupToServe" value="79"/>
  <add key="TokenURL" value="https://my.crossroads.net/ministryplatform/oauth/token"/>
  <!--Below are the credentials of the user that registers new records via the register form.-->
  <!--TODO Remove credentials out into a gitignore file-->
  <add key="ApiUser" value="register_api"/>
  <add key="ApiPass" value="01152015$j"/>
  <!--Below are the default values used by registerPerson in AccountService.cs-->
  <add key="Congregation_Default_ID" value="5"/>
  <add key="Household_Default_Source_ID" value="30"/>
  <add key="Household_Position_Default_ID" value="1"/>
  <add key="Household_Type_Default_ID" value="1"/>
  <add key="Role_Default_ID" value="39"/>
  <add key="Participant_Type_Default_ID" value="4"/>
  
  <!-- Default values used for signing up a participant for a Community Group -->
  <add key="Group_Role_Default_ID" value="16"/> <!-- Role = "Member" -->

  <!-- Default values used for signing up a participant for an Event -->
  <add key="Event_Participant_Status_Default_ID" value="02"/> <!-- Participant Status = "Registered" -->
</appSettings>
