<div ng-if="!addEvent.allowAccess()" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="addEvent.allowAccess()">
  <preloader full-screen='true' ng-show="!addEvent.viewReady"> </preloader>

  <add-event ng-if="addEvent.currentPage() == 1" on-next="addEvent.next(data)" event-data="addEvent.eventData"> </add-event> 
  
  <add-room ng-if="addEvent.currentPage() == 2" location-id="addEvent.eventData.congregation"> </add-room>
</div>
