<div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h1>Give</h1>
        <p class="subheading">Your generosity fuels the life change we experience around here.</p>
        <div class="push-top">
            <div class="form-group">

            <h4>Bank Info</h4>
            <div class="form-group">
                <div class="btn-group account-type form-group" role="group">
                    <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'bank'">Bank Account</button>
                    <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'cc'">Credit Card</button>
                </div>
                <span><svg viewBox="0 0 21 32" class="icon icon-lock"><use xlink:href="#lock"></use></svg></span>
                <section class="bank-section" ng-show="give.view=='bank'">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="account-type" value="checking" checked>Checking</input>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="account-type" value="Savings">Savings</input>
                        </label>
                    </div>
                    <div class="form-group row col-md-8 col-md-offset-2" ng-class="give.showCheckClass">
                        <svg viewBox="0 0 512 280" class="icon icon-crossroads_check give-check-icon">
                            <use xlink:href="#crossroads_check"></use>
                        </svg>
                    </div>
                    <div class="form-group">
                        <label for="routing" class="wide-label">Routing Number
                            <a href="" class="pull-right" ng-click="give.toggleCheck()">{{give.showMessage}}</a>
                        </label>
                        <input type="text" name="routing" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="account">Account Number</label>
                        <input type="text" name="account" class="form-control">
                    </div>
                </section>
                <section class="bank-section" ng-show="give.view=='cc'">
                    <alert ng-repeat="alert in give.alerts" type="{{alert.type}}" close="give.closeAlert($index)">{{alert.msg}}</alert>
                    <div class="form-group">
                        <label for="name-on-card">Name On Card</label>
                        <input type="text" name="name-on-card" class="form-control">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="cc-number">Credit Card Number</label>
                        <input type="tel" name="cc-number" class="form-control cc-icon" ng-class="give.ccNumberClass" ng-model="give.ccNumber" ng-keyup="give.ccCardType()" ui-mask="9999 9999 9999 9999" x-autocompletetype="cc-number" autocompletetype="cc-number" autocorrect="off" spellcheck="off" autocapitalize="off">
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4  col-md-3">
                            <label>Expiration</label>
                            <input type="tel" class="form-control" ng-model="give.expDate" ui-mask="99/99" placeholder="MM/YY">
                        </div>
                        <div class="form-group col-xs-4 col-md-2">
                            <label for="cvv">CVV</label>
                            <input type="tel" name="cvv" class="form-control">
                        </div>
                        <div class="form-group col-xs-4 col-md-3">
                            <label for="billing-zip-code">Zip Code</label>
                            <input type="tel" name="billing-zip-code" class="form-control">
                        </div>
                    </div>
                </section>
            </div>
            <!--/form-group-->

            <p>You are giving $125 to the Ministry Fund.
                <a href="" ui-sref="/demo/guest-giver">Change</a>
            </p>

            <a ui-sref="/demo/guest-giver/give-confirmation" class="btn btn-primary form-control">Give $125</a>

        </div>
        <!--/push-top-->
    </div>
</div>