<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ChangePassword" value="475" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MyProfile" value="474" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TokenURL" value="https://admin.crossroads.net/ministryplatform/oauth/token" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="www.crossroads.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="MinistryPlatformContext"
      connectionString="Data Source=mp-prod-db.centralus.cloudapp.azure.com;Database=MinistryPlatform;Integrated Security=false;User ID=%MP_API_DB_USER%;Password=%MP_API_DB_PASSWORD%"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>  
</configuration>