// Profile Styling

// Profile (Header)

.profile-header {
  margin-bottom: $line-height-computed;
  margin-top: $line-height-computed;

  .profile-name {
    margin: 0;

    @media (min-width: $screen-sm-min) {
      margin-bottom: $line-height-computed/4;
    }
  }

  .site-name {
    margin-bottom: ($line-height-computed/4);
    @media (min-width: $screen-sm-min) {
      margin-bottom: $line-height-computed;
    }
  }

  .edit-church-site {
    padding-right: 20px;

    .icon {
      display: inline-block;
      font-size: .6em;
      fill: $gray;
      @include transition(all .1s ease-in);
      @include opacity(0);
    }

    &:hover {
      .icon {
        @include opacity(1);
      }
    }
  }
}

.profile-pic {
  position: relative;
  display: block;
  overflow: hidden;
  background: $gray-lighter;

  img {
    @include opacity(.1); // temporary solution until we find a long term solution for icons
  }

  .change-photo {
    display: block;
    position: absolute;
    bottom: -35px;
    height: 30px;
    line-height: 30px;
    left: -1px;
    right: -1px;
    background: $brand-primary;
    text-align: center;
    color: white;
    @include transition(all .1s ease-in);
    @include opacity(.8);
  }

  &:hover {
    .change-photo {
      bottom: 0;
    }
  }
}

// Profile (Body)

.profile-body {
  .tab-pane {
    @extend .panel-body;
  }
}

// Profile (Household Tab)

.profile-card {
  .thumbnail {
    margin-bottom: 0px;

    img {
      max-width: 50px;
      @include opacity(.1); // temporary solution until we find a long term solution for icons
    }
  }
}

.household-cards {
  border-bottom: 1px solid darken($gray-lighter, 5%);
  margin-bottom: $line-height-computed;
}

// Profile (Skills Tab)

.current-skills-list {
  .label {
    padding: .5em .5em .6em 1.9em ;
    cursor: default;
    background: $brand-secondary;
    line-height: 3;
    vertical-align: middle;

    a {
      vertical-align: middle;
    }

    .icon {
      @include transition(all .2s ease-in);
      @include opacity(0);
      fill: #fff;
    }

    &:hover {
      color: #fff;

      a {
        .icon {
          @include opacity(1);
        }
      }
    }

  }
}

.add-skill {
  border-top: 1px solid $legend-border-color;
  padding-top: 20px;
  margin-top: 10px;
}

.add-skills {
  border-top: 1px solid $legend-border-color;
  padding-top: 20px;

  .h4 {
    clear: both;
  }

  .cat-skill-group {
    //
    padding: 0 0 20px 0;

    @media (min-width: $screen-sm-min) {
      @include content-columns(3);
    }

    .checkbox {
      margin-top: 0px;
      clear: both;
      margin-left: $grid-gutter-width/2;
      @media (min-width: $screen-sm-min) {
        margin-left: 0;
      }
    }
  }
}

.add-skill {
  border-top: 1px solid $legend-border-color;
  padding-top: 20px;
  margin-top: 10px;
}

.skill-group {
  margin-bottom: 20px;

  .cat-skill-group {
    //
    padding: 0 0 20px 0;

    @media (min-width: $screen-sm-min) {
      @include content-columns(3);
    }

    .checkbox {
      margin-top: 0px;
      clear: both;
      margin-left: $grid-gutter-width/2;
      @media (min-width: $screen-sm-min) {
        margin-left: 0;
      }
    }
  }
}