/***************************************************************************************
* Footer
***************************************************************************************/

footer {
  background-color: $gray-lighter;
  padding: 25px 0;
  margin-top: $line-height-computed;
  padding-bottom: 200px;
  color: $cr-grey;
}
footer h5 {
  margin-top: 0;
}

footer .open, footer .office {
  //border-left: 1px solid #fff;
}
