/***************************************************************************************
* Footer
***************************************************************************************/

footer {
  background-color: $gray-lighter;
  margin-top: 40px;
  padding-bottom: 200px;
  padding-top: 50px;
  color: $cr-grey;
}
footer h5 {
  margin-top: 0;
}

footer .open, footer .office {
  //border-left: 1px solid #fff;
}
