<div class="event-room push-ends" class="push-bottom" style="border-bottom: 1px solid #DDD">
  <h2> {{ room.currentRoom.name }}
    <button class="btn btn-standard" ng-click="room.remove()">
      <svg viewBox="0 0 32 32" class="icon icon-trash">
        <use xlink:href="#trash"></use>
      </svg>
    </button>
  </h2>
  <ng-form name="roomForm">
    <div class="form-group" ng-class="{'has-error': room.validation.showErrors(roomForm, 'layout')}">
      <label class="required"> Layout </label>
      <select class="form-control"
              name="layout"
              ng-model="room.currentRoom.layout"
              ng-options="layout.layoutName for layout in room.layouts track by layout.id"
              required
              ng-disabled="room.existing()">
        <option value="">-- Choose a Layout --</option>
      </select>
      <ng-messages for="roomForm.layout.$error" ng-if="room.validation.showErrors(roomForm, 'layout')">
        <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
      </ng-messages>
    </div>

    <div class="form-group" name="description" ng-model="room.currentRoom.description">
      <label>Notes</label>
      <textarea class="form-control"
                name="description"
                ng-model="room.currentRoom.description"
                ng-disabled="room.existing()" >
      </textarea>
    </div>

    <div class="form-group">
      <label> <input type="checkbox" name="hidden" ng-model="room.currentRoom.hidden">
        Hide from Atrium Monitors
      </label>
      <span popover="Only 1 primary room per event will show on atrium monitors."
            popover-placement="right">
        <svg viewBox="0 0 32 32" class="icon icon-question-circle icon-subtle pointer">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question-circle"></use>
        </svg>
      </span>

    </div>

    <equipment-form current-equipment="room.currentRoom.equipment"
                    equipment-lookup="room.equipmentLookup">
    </equipment-form>

  </ng-form>
</div>
