<div class="social-media-buttons addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_facebook">
    <svg viewBox="0 0 12 32" class="icon-facebook icon-social-media icon-medium">
      <use xlink:href="/icons/cr.svg#facebook">
    </svg>
  </a>
  <a class="addthis_button_twitter">
    <svg viewBox="0 0 32 32" class="icon-twitter icon-social-media icon-medium">
      <use xlink:href="/icons/cr.svg#twitter">
    </svg>
  </a>
  <a class="addthis_button_email">
    <svg viewBox="0 0 32 32" class="icon-mail5 icon-social-media icon-medium">
      <use xlink:href="/icons/cr.svg#mail5">
    </svg>
  </a>
</div>
