/***************************************************************************************
* Typography
***************************************************************************************/

// Global

body {
  font-weight: 300;
}

p .icon {
  vertical-align: middle;
  margin-bottom: 0px;
  width: ceil(($font-size-base * 1.25));
  height: ceil(($font-size-base * 1.25));
}

// Links

a:hover, a:active {
  text-decoration:none;
}

// Headings

.page-header {
  font-weight: normal;
}

.subheading {
  font-weight: 400;
  color: #777;
  margin-top: -11px;
  line-height: 1.25;
}
h1.subheading {
  font-size: $font-size-h1*$subheading-ratio;
}
h2.subheading {
  font-size: $font-size-h2*$subheading-ratio
}
h3.subheading {
  font-size: $font-size-h3*$subheading-ratio
}
h4.subheading {
  font-size: $font-size-h4*$subheading-ratio
}
h5.subheading {
  font-size: $font-size-h5*$subheading-ratio
}
h6.subheading {
  font-size: $font-size-h6*$subheading-ratio
}

.small-heading {
  font-size: $font-size-h4*$subheading-ratio;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;

  &.bold {
    font-weight: bold;
  }
}

// Brand

.brand-font {
  font-family: $brand-font-family;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1.8px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
