<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PlatformService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://my.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService"
                contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" />
        </client>
    </system.serviceModel>
</configuration>