<div class="push-top">
  <ng-form class="give-form" role="form" name="amountForm" novalidate>
    <div class="form-group">
       <donation-details amount="give.amount" program="give.program" amount-submitted="give.amountSubmitted" programs-in="give.programsInput"></donation-details>
       <button ng-click="give.goToAccount()" ng-class="{disabled: give.processing}" class="btn btn-primary btn-lg btn-block-mobile">
         <span ng-if="give.processing">Giving...</span>
         <span ng-if="!give.processing">GIVE {{give.amount | currency}}</span>
       </button>
    <p class="give-info">You may also manage your
        <a href="">recurring giving</a>,
        <a href="">give to someone's trip</a>, or
        <a href="">learn more</a> about ways to engage financially.
    </p>
    </div>
  </ng-form>
</div>
