<ng-form name="giveForm">
  <div class="form-group" >
  <h1>Bank Info</h1>
    <div class="btn-group btn-group-sm account-type form-group" role="group">
        <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'bank'">Bank Account</button>
        <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'cc'">Credit Card</button>
    </div>
    <span>
        <a href="#/confidentiality-and-security/" target="_blank">
            <svg viewBox="0 0 21 32" class="icon icon-lock"><use xlink:href="#lock"></use></svg>
        </a>
    </span>
    <section class="bank-section" ng-show="give.view=='bank'">
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="account-type" value="checking" checked>Checking</input>
            </label>
            <label class="radio-inline">
                <input type="radio" name="account-type" value="Savings">Savings</input>
            </label>
        </div>
        <div class="form-group row col-md-8 col-md-offset-2" collapse="!isCollapsed" >
            <svg viewBox="0 0 512 280" class="icon icon-crossroads_check give-check-icon">
                <use xlink:href="#crossroads_check"></use>
            </svg>
        </div>
        <div class="form-group" ng-class="{'has-error': giveForm.routing.$error.invalidRouting && give.bankinfoSubmitted || giveForm.routing.$error.invalidRouting && giveForm.routing.$dirty && giveForm.routing.$viewValue !== '' }">
            <label for="routing" class="wide-label">Routing Number
                <a href="" class="pull-right weight-normal" ng-click="isCollapsed=!isCollapsed; give.toggleCheck()"></a>
            </label>
            <input type="text" name="routing" class="form-control" ng-model="give.routing" maxlength="9" ng-required='true' ng-model-options="{ updateOn: 'blur', debounce: {'blur': 500} }" invalid-routing>
            <ng-messages for="giveForm.routing.$error" ng-show="giveForm.routing.$error.invalidRouting && giveForm.routing.$dirty && giveForm.routing.$viewValue !== ''" ng-messages-include="on-blur-messages"></ng-messages>
            <ng-messages for="giveForm.routing.$error" ng-if="give.bankinfoSubmitted" ng-messages-include="on-submit-messages"></ng-messages>

      </div>
        <div class="form-group" ng-class="{'has-error': giveForm.account.$error.invalidAccount && give.bankinfoSubmitted || giveForm.account.$error.invalidAccount && giveForm.account.$dirty && giveForm.account.$viewValue !== ''  }">
            <label for="account">Account Number</label>
            <input type="text" name="account" class="form-control" ng-model="give.account" maxlength="30" ng-required='true' ng-model-options="{ updateOn: 'blur', debounce: {'blur': 500} }"invalid-account>
            <ng-messages for="giveForm.account.$error" ng-show="giveForm.account.$error.invalidAccount && giveForm.account.$dirty && giveForm.account.$viewValue !== ''" ng-messages-include="on-blur-messages"></ng-messages>
            <ng-messages for="giveForm.account.$error" ng-if="give.bankinfoSubmitted" ng-messages-include="on-submit-messages"></ng-messages>

        </div>
    </section>
    <section>
      <credit-card-info></credit-card-info>
    </section>
  </div>
</ng-form>
