<div class="form-group" >
    <div class="btn-group btn-group-sm account-type form-group" role="group">
        <button type="button" class="btn btn-default" ng-model="give.dto.view" btn-radio="'bank'" tabindex="-1" ng-click="give.togglePaymentInfo()">Bank Account</button>
        <button type="button" class="btn btn-default" ng-model="give.dto.view" btn-radio="'cc'" tabindex="-1" ng-click="give.togglePaymentInfo()">Credit Card</button>
    </div>

    <span>
  <a href="/confidentiality-and-security" target="_blank" tabindex="-1">
            <svg viewBox="0 0 21 32" class="icon icon-lock" focusable="false"><use xlink:href="#lock"></use></svg>
        </a>
    </span>

    <section ng-if="give.dto.view=='bank'">
    	<bank-info account="give.dto.donor.default_source.bank_account_number"
                 bankinfo-submitted="give.bankinfoSubmitted"
                 change-account-info="give.dto.changeAccountInfo"
                 default-source="give.dto.donor.default_source"
                 declined-payment="give.dto.declinedPayment"
                 routing="give.dto.donor.default_source.routing"
                 show-check-class="give.showCheckClass"
                 show-message="give.showMessage"
                 show-message-on-change="give.showMessageOnChange">
        </bank-info>
     </section>

    <section ng-if="give.dto.view=='cc'" >
      <credit-card-info cvc="give.dto.donor.default_source.cvc"
                        exp-date="give.dto.donor.default_source.exp_date"
                        cc-number="give.dto.donor.default_source.cc_number"
                        billing-zip-code="give.dto.donor.default_source.address_zip"
                        bankinfo-submitted="give.bankinfoSubmitted"
                        donor="give.donor"
                        default-source="give.dto.donor.default_source"
                        declined-payment="give.dto.declinedPayment"
                        change-account-info="give.dto.changeAccountInfo"
                        email="give.email"
                        set-valid-card="give.setValidCard"
                        set-valid-cvc="give.setValidCvc"
                        cc-number-class="give.dto.ccNumberClass">
      </credit-card-info>
    </section>
</div>
