<div class="form-group">

  <h1>Bank Info</h1>
    <div class="btn-group btn-group-sm account-type form-group" role="group">
        <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'bank'">Bank Account</button>
        <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'cc'">Credit Card</button>
    </div>
    <span>
        <a href="#">
            <svg viewBox="0 0 21 32" class="icon icon-lock"><use xlink:href="#lock"></use></svg>
        </a>
    </span>
    <section class="bank-section" ng-show="give.view=='bank'">
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="account-type" value="checking" checked>Checking</input>
            </label>
            <label class="radio-inline">
                <input type="radio" name="account-type" value="Savings">Savings</input>
            </label>
        </div>
        <div class="form-group row col-md-8 col-md-offset-2" ng-class="give.showCheckClass">
            <svg viewBox="0 0 512 280" class="icon icon-crossroads_check give-check-icon">
                <use xlink:href="#crossroads_check"></use>
            </svg>
        </div>
        <div class="form-group">
            <label for="routing" class="wide-label">Routing Number
                <a href="" class="pull-right weight-normal" ng-click="give.toggleCheck()">{{give.showMessage}}</a>
            </label>
            <input type="text" name="routing" class="form-control">
        </div>
        <div class="form-group">
            <label for="account">Account Number</label>
            <input type="text" name="account" class="form-control">
        </div>
    </section>
</div>
