<div class="form-group" >
    <div class="btn-group btn-group-sm account-type form-group" role="group">
        <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'bank'">Bank Account</button>
        <button type="button" class="btn btn-ghost" ng-model="give.view" btn-radio="'cc'">Credit Card</button>
    </div>

    <span>
  <a ui-sref="content({link:'/confidentiality-and-security/'})" target="_blank">
            <svg viewBox="0 0 21 32" class="icon icon-lock"><use xlink:href="#lock"></use></svg>
        </a>
    </span>

    <section class="bank-section" ng-if="give.view=='bank'">
    	<bank-info></bank-info>
     </section>

    <section ng-if="give.view=='cc'" >
      <credit-card-info cvc="give.cvc" exp-date="give.expDate" cc-number="give.ccNumber" billing-zip-code="give.billingZipCode" bankinfo-submitted="give.bankinfoSubmitted" name-on-card="give.nameOnCard" donor="give.donor" email="give.email"></credit-card-info>
    </section>
</div>