<ng-form name="giveForm">
  <div class="form-inline form-group give-amount" ng-class="{'has-error': giveForm.amount.$error.naturalNumber && giveForm.$dirty || giveForm.amount.$error.required && give.amountSubmitted }">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" name="amount" class="form-control" ng-model="give.amount" autocomplete="off" ng-model-options="{ debounce: 500 }" natural-number required />
      <span class="input-group-addon ">.00</span>
<!--       <p>{{giveForm}}</p> -->
    </div>
    <ng-messages for="giveForm.amount.$error" ng-show="giveForm.amount.$error.naturalNumber && giveForm.$dirty"
      ng-messages-include="on-blur-messages"></ng-messages>
      <ng-messages for="giveForm.amount.$error" ng-if="give.submitted" ng-messages-include="on-submit-messages"></ng-messages>
  </div>

  <div class="form-group">
    <select class="form-control" ng-options="program.Name for program in programs track by program.ProgramId" ng-model="give.program" required="true">
    </select>
  </div>
  <div class="form-group">
    <select class="form-control">
      <option>One Time</option>
    </select>
  </div>
</ng-form>
