<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class="page-header">My Profile</h1>
    <h2 class="subheading">Hello, special you.</h2>
    <div class="profile-header">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <label for="fileInputModal" class="profile-pic" ng-click="myProfile.openModal()">
              <img class="profile-image pull-left img-square img-responsive imgix-fluid" data-src="{{myProfile.profileImage}}" alt="Profile Default Photo" />
              <span class="change-photo">Change Photo</span>
          </label>
        </div>



        <div class="profile-desc col-xs-7 col-sm-9">
          <h3 class="profile-name">Tate Lucas</h3>
          <!-- Handle a null church site here with something like "Please select your site" currently it's just blank when null-->
          <p class="lead site-name"><a href="#Site" ng-click="set.showHousehold = true" data-toggle="tab" class="edit-church-site">Oakley <svg viewBox="0 0 32 32" class="icon icon-pencil4"><use xlink:href="#pencil4"></use></svg></a>
          </p>
          <div class="col-sm-6 row">
            <progressbar value="55">55%</progressbar>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="profile-body col-sm-12">

        <tabset ng-init="set = {}">
          <tab heading="Personal">
            <ng-include src="'templates/profile_personal.html'"></ng-include>
          </tab>
          <tab heading="Communications" class="hidden-xs" active="set.showHousehold">
            <ng-include src=" 'templates/profile_account.html' "></ng-include>
          </tab>
          <tab heading="Giving" class="hidden-xs" active="set.showGiving">
            <ng-include src=" 'templates/profile_giving.html' "></ng-include>
          </tab>
          <tab heading="Skills" class="hidden-xs" active="set.showSkills">
            <ng-include src=" 'templates/profile_skills.html' "></ng-include>
          </tab>
          <tab heading="History" class="hidden-xs" active="set.showHistory">
            <ng-include src=" 'templates/profile_history.html' "></ng-include>
          </tab>
          <li role="tab" class="dropdown hidden-md hidden-lg hidden-sm dropdown-toggle" dropdown is-open="status.isopen">
            <a dropdown-toggle ng-disabled="disabled">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" ng-click="set.showHousehold = true">Communications</a>
              </li>
              <li><a href="" ng-click="set.showGiving = true">Giving</a>
              </li>
              <li><a href="" ng-click="set.showSkills = true">Skills</a>
              </li>
              <li><a href="" ng-click="set.showHistory = true">History</a>
              </li>
            </ul>
          </li>
        </tabset>
      </div>
    </div>
    <!--/row-->
  </div>
