<div class="form-group col-sm-6">
    <label for="password">Change Password</label>
    <div class="input-group" ng-class="{'has-error':account_form.password.$invalid}">
        <input type="{{AAAinputType}}" class="form-control" id="password" placeholder="Password" ng-minlength="6" autocomplete="off" ng-model="passwd">

        <span class="input-group-addon">
            <input type="checkbox" ng-click="AAApwprocess()">
            <label>{{AAApwprocessing}}</label>
        </span>
    </div> <!--input-group-->
    <div ng-show="account_form.password.$error.minlength">{{MESSAGES.invalidPassword}}</div>
</div>