<ng-form name="password_field">
    <div class="form-group" ng-class="{'has-error': password_field.password.$error.minlength}">
        <div class=" input-group">
            <input type="{{inputType}}" class="form-control" id="password" placeholder="Password" ng-minlength="6" autocomplete="off" ng-model="passwd" name="password" ng-required="true" ng-model-options="{ updateOn: 'blur'}">
            <a class="input-group-addon btn-primary pointer" ng-click="pwprocess()"><small class="smaller ng-binding" ng-init="pwprocessing='SHOW'">{{pwprocessing}}</small></a>
        </div> <!--input-group-->
        <ng-messages for="password_field.password.$error" ng-messages-include="on-blur-messages"></ng-messages>
    </div>
</ng-form>