<div>
    <form name="password_field">
        <div class="input-group" ng-class="{'has-error': password.$invalid}">
            <input type="{{inputType}}" class="form-control" id="password" placeholder="Password" ng-minlength="6" autocomplete="off" ng-model="passwd" name="password" ng-required="true">
            <a class="input-group-addon btn-primary pointer" ng-click="pwprocess()"><small class="smaller ng-binding" ng-init="pwprocessing='SHOW'">{{pwprocessing}}</small></a>
        </div> <!--input-group-->
        <div ng-show="true">{{MESSAGES.invalidPassword}}Invalid if TRUE: {{password_field.password.$invalid}}</div>
    </form>
</div>