<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
	<add key="ChangePassword" value="475" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="MyProfile" value="474" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="TokenURL" value="https://adminint.crossroads.net/ministryplatform/oauth/token" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="BaseUrl" value="int.crossroads.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="BaseMPUrl" value="adminint.crossroads.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="MinistryPlatformDatabase"
      connectionString="Data Source=mp-int-db.cloudapp.net;Database=MinistryPlatform;Integrated Security=false;User ID=%MP_API_DB_USER%;Password=%MP_API_DB_PASSWORD%"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="https://adminint.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService" contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
  <log4net>
    <root>
      <level value="INFO" xdt:Transform="Replace" />
      <appender-ref ref="RollingFileAppender" xdt:Transform="Replace" />
    </root>
  </log4net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>