<div class="col-sm-10 col-sm-offset-1">
    <h1 class="page-header">Go South Africa Signup</h1>
    <h2 class="subheading">Step 5 of 6</h2>

    <p class="text-muted hard-ends flush-ends">80% Completed</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="10" aria-valuemax="100" style="width: 80%">
        <span class="sr-only">80% Complete</span>
      </div>
    </div>

    <br/><p><b><h2 class="page-header">Travel Information</h2></b></p>
   
    <form role="form">
      <br/><p><b><h3 class="page-header">Passport Information</h3></b></p>
      <div class="form-group col-sm-12">
        <label class="block">Please note that your passport cannot be expired within 6 months of the return date of the trip to be valid and must have at least 2 blank pages. </label>
        <label class="block required">Do you have a valid passport?</label>
        <label class="radio-inline" ng-click="isCollapsed = !isCollapsed">
            <input type="radio" value="yes"  name="pssportYes">Yes
        </label>
        <label class="radio-inline" ng-click="isCollapsed = !isCollapsed">
            <input type="radio" value="no" name="passportNo">No
        </label>
      </div>
      <div class="form-group col-sm-12"  collapse="!isCollapsed">
        <label for="why">Please update your passport as soon as possible</label>      
      </div>

      <div class="form-group col-sm-12" ng-controller="crdsDatePickerCtrl">
        <label class="control-label">When does your passpost expire?</label>
        <input type="text" class="form-control" id="tripDate" placeholder="mm/dd/yyyy">
      </div>
      <div class="form-group col-sm-12">
        <label class="block">We'll use the information suplied below to buy your plane ticket.  It must be entered exactly as it appears on your passport.  This is frequently an issue for women who have their maiden name on their passport. </label>
        <div class="row">
          <div class="form-group col-sm-6">
              <label for="firstname" class="required">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter first name">
          </div>
          <div class="form-group col-sm-6">
              <label for="middlename">Middle Name</label>
              <input type="text" class="form-control" id="middlename" placeholder="Enter middle name">
          </div>
          <div class="form-group col-sm-6">
              <label for="lastname" class="required">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter last name">
          </div>
          <div class="form-group col-sm-6">
              <label for="country" class="required">Country of Passport</label>
              <input type="text" class="form-control" id="country" placeholder="Enter pssport country">
          </div>
          <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
            <label class="control-label required">Birthdate</label>
            <input type="text" class="form-control" id="birthdate" placeholder="mm/dd/yyyy">
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <br/><p><b><h3 class="page-header">Frequent Flyer Information</h3></b></p>       
        <div class="form-group col-sm-6">
            <label for="firstname">Delta</label>
            <input type="text" class="form-control" id="deltaff" placeholder="Enter Delta frequent flyer number">
        </div>
        <div class="form-group col-sm-6">
            <label for="firstname">South African Airlines</label>
            <input type="text" class="form-control" id="southafricaff" placeholder="Enter South African Airlines frequent flyer number">
        </div>
        <div class="form-group col-sm-6">
            <label for="firstname">United Airlines</label>
            <input type="text" class="form-control" id="unitedff" placeholder="Enter United Airlines frequent flyer number">
        </div>
        <div class="form-group col-sm-6">
            <label for="firstname">USAirways</label>
            <input type="text" class="form-control" id="usairff" placeholder="Enter USAirways frequent flyer number">
        </div>
      </div>
     
     <div class="form-group col-sm-12">
      <br/><p><b><h3 class="page-header">Travel Experience Information</h3></b></p>
   
      <div class="form-group col-sm-12">
        <label class="block required">International Travel Experience</label> 
        <div>            
          <label class="radio-inline">
              <input type="radio" value="yes"  name="internationMulti"> I take three or more international trips a year.
          </label>
        </div>
        <div>            
          <label class="radio-inline">
              <input type="radio" value="no"  name="internationalSome"> I take less than three international trips per year.

          </label>
        </div>
        <div>            
          <label class="radio-inline">
              <input type="radio" value="no"  name="internationalNo"> I have not traveled internationally.
          </label>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="block required">Do you have outside experience with serving abroad outside of Crossroads GO Trips?</label> 
        <div>            
          <label class="radio-inline"  ng-click="isCollapsed = !isCollapsed">
              <input type="radio" value="yes"  name="travelExperienceYes"> Yes
          </label>
        </div>
        <div>            
          <label class="radio-inline"  ng-click="isCollapsed = !isCollapsed">
              <input type="radio" value="no"  name="trvelExperienceNo"> No
          </label>
        </div>
        <div class="form-group col-sm-12"  collapse="!isCollapsed">
          <label for="why" class="required">Please describe your experince:</label>
          <textarea cols="1" rows="4" class="form-control" id="travelExperience" maxlength="250"></textarea>
        </div>
      </div>

      <a ui-sref="go-south-africa-signup-page-confirmation" class="btn btn-primary pull-right">Continue</a>
      <a ui-sref="go-south-africa-signup-page-4" class="btn btn-primary pull-right">Back</a>
    </form>
</div>

