<!-- <div ng-show="groupsignup.viewReady"> -->
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class="page-header">Go South Africa Signup</h1>
    <h2 class="subheading">Step 1 of 8</h2>

    <p class="text-muted hard-ends flush-ends">0% Completed</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>

    <form role="form">
      <p>
        You will have the opportunity to sign up any family members who are registered in our site for the trip once you have submitted your application.
      </p>
      <p class="push-bottom">Information shared here is kept secure and private. We will not share or sell your information.</p>

      <br/><p><b><h2 class="page-header">Profile Information</h2></b></p>
      
      <div class="row">
          <div class="form-group col-sm-6">
              <label for="firstname" class="required">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="contact.firstName">
          </div>

          <div class="form-group col-sm-6">
              <label for="middlename">Middle Name</label>
              <input type="text" class="form-control" id="middlename" placeholder="Enter middle name" ng-model="contact.middleName">
          </div>

          <div class="form-group col-sm-6">
              <label for="lastname" class="required">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter last name" ng-model="contact.lastName">
          </div>

          <div class="form-group col-sm-6">
              <label for="maidenname">Maiden Name</label>
              <input type="text" class="form-control" id="maidenname" placeholder="Enter maiden name">
          </div>

          <div class="form-group col-sm-6">
              <label for="nickname">Preferred Name <small class="text-muted">(Example: Chris instead of Christopher)</small>
              </label>
              <input type="text" class="form-control" id="nickname" placeholder="Enter nick name" ng-model="contact.nickname">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="firstname" class="required">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" ng-model="contact.emailAddress">
          </div>

          <div class="form-group col-sm-6">
              <label for="password">Change Password</label>
              <div class="input-group">
                  <input type="password" class="form-control" id="password" name="password" ng-model="fields.password" value="testpassword" />
                  <!--<input type="text" class="form-control" id="password-clear" name="password" ng-model="fields.password" ng-if="showPassword" value="testpassword" />-->
                  <span class="input-group-addon">
            <label>
              <input type="checkbox" ng-click="showPassword = !showPassword"> Show
            </label>
          </span>
              </div>
              <!-- /input-group -->
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
              <label class="control-label required">Birth Date</label>
              <input type="text" class="form-control" id="dateOfBirth" placeholder="mm/dd/yyyy" ng-required="true">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="marital_status">Maritial Status</label>
              <select class="form-control col-sm-12" ng-model="contact.maritalStatusId" ng-options="status.dpRecordid as status.dpRecordname for status in maritalStatuses">
              </select>
          </div>

          <div class="form-group col-sm-6">
              <label class="block">Gender</label>
              <!--<label class="radio-inline" ng-repeat="gender in genders">-->
              <!--<input type="radio" id="gender" ng-value="gender.dpRecordid" ng-model="contact.genderId"> {{ gender.dpRecordname }}-->
              <label class="radio-inline">
                  <input type="radio" value="male" name="gender">Male
              </label>
              <label class="radio-inline">
                  <input type="radio" value="female" name="gender">Female
              </label>
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="employer">Employer</label>
              <input type="text" class="form-control" id="employer" placeholder="Enter employer">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
              <label class="control-label">When did you start attending Crossroads?</label>
              </span>
              <input type="text" class="form-control" id="anniversaryDate" placeholder="mm/dd/yyyy" ng-model="contact.anniversaryDate">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="nickname">Mobile Phone
              </label>
              <div class="small inline bold">
                  <span ng-show="phoneToggle" class="link-styling" ng-click="phoneToggle = !phoneToggle">Don't have a mobile phone?</span>
                  <span ng-show="!phoneToggle" class="text-muted">Edit your household phone <a class="pointer" ng-click="householdPhoneFocus()">here</a>.</span>
              </div>
              <input type="text" class="form-control" id="mobile" placeholder="Enter mobile phone" ng-model="contact.mobilePhone">
          </div>

          <div class="form-group col-sm-6">
              <label for="provider">Service Provider</label>
              <select class="form-control col-sm-12">
                  <option></option>
              </select>
          </div>
      </div>

      <div class="row">
          <fieldset>

              <div class="col-sm-12">
                  <legend>Your Household</legend>
                  <p>Update information for your household, which includes:
                      <br />
                      <strong>Tate Lucas</strong>, <strong>Christy Lucas</strong>, <strong>Sadie Lucas</strong>, <strong>Simon Lucas</strong>
                  </p>

                  <div class="panel panel-default clearfix">
                      <div class="panel-heading address-panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">
                          <div class="row">
                              <a ng-click="isCollapsed = !isCollapsed" href="#" class="address-show" ng-show="isCollapsed">
                                  <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                      <use xlink:href="#pencil4"></use>
                                  </svg>
                              </a>
                              <a ng-click="isCollapsed = !isCollapsed" href="#" class="address-show" ng-show="!isCollapsed">
                                  <svg viewBox="0 0 18 32" class="icon icon-caret-up">
                                      <use xlink:href="#caret-up"></use>
                                  </svg>
                              </a>
                              <div class="col-md-7">
                                  <svg viewBox="0 0 32 32" class="icon icon-home">
                                      <use xlink:href="#home"></use>
                                  </svg>3727 Hyde Park Ave, Cincinnati, OH 45209</div>
                              <div class="col-md-2">
                                  <svg viewBox="0 0 32 32" class="icon icon-phone3">
                                      <use xlink:href="#phone3"></use>
                                  </svg>(513) 258-5827</div>
                              <div class="col-md-3">
                                  <svg viewBox="0 0 32 32" class="icon icon-crossroads">
                                      <use xlink:href="#crossroads"></use>
                                  </svg>Crossroads Oakley
                              </div>
                          </div>
                          <!--/row-->
                      </div>
                      <!--/panel-heading-->

                      <div class="address-panel-body panel-body clearfix" collapse="!isCollapsed">
                          <div class="col-sm-12">
                              <form role="form" ng-controller="crdsProfileHousehold">
                                  <fieldset class="row">
                                      <ul class="list-group clearfix">
                                          <li class="list-group-item clearfix">
                                              <div class="form-group col-sm-6">
                                                  <label for="street" class="required">Street</label>
                                                  <input ng-model="address.addressLine1" type="text" class="form-control" id="street" placeholder="Enter street address">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="street2">Street 2</label>
                                                  <input ng-model="address.addressLine2" type="text" class="form-control" id="street2" placeholder="Enter street address (cont.)">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="city" class="required">City</label>
                                                  <input ng-model="address.city" type="text" class="form-control" id="city" placeholder="Enter city">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="state" class="required">State</label>
                                                  <select ng-model="address.state__Region" ng-options="state.stateAbbreviation as state.stateAbbreviation for state in states" class="form-control col-sm-12">
                                                  </select>
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="zip" class="required">Zip</label>
                                                  <input ng-model="address.postalCode" type="text" class="form-control" id="zip" placeholder="Enter zip code">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="county">County</label>
                                                  <input ng-model="address.county" type="text" class="form-control" id="county" placeholder="Enter county">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="country" class="required">Country</label>
                                                  <select ng-model="countryObj" ng-change="setCountry()" ng-options="country as country.dpRecordname for country in countries track by country.dpRecordname" class="form-control col-sm-12">
                                                  </select>
                                              </div>
                                          </li>
                                          <li class="list-group-item clearfix">
                                              <div class="form-group col-sm-6" id="homephonecont">
                                                  <label for="homephone">Home Phone</label>
                                                  <input ng-model="household.homePhone" type="text" class="form-control" id="homephone" placeholder="Enter home phone">
                                              </div>
                                          </li>
                                          <li class="list-group-item clearfix">
                                              <div id="Site" class="form-group col-sm-6">
                                                  <label for="provider">Crossroads Location</label>
                                                  <select class="form-control col-sm-12" ng-model="household.congregationId" ng-options="congregation.dpRecordid as congregation.congregationName for congregation in congregations">
                                                  </select>
                                              </div>
                                          </li>
                                      </ul>
                                  </fieldset>
                              </form>
                          </div>
                          <!--/col-sm-12-->
                      </div>
                      <!--/panel-body-->
                  </div>
                  <!--/panel-->

              </div>
              <!--/col-sm-12-->
          </fieldset>
        </div>
        <!--/row-->
        <div class="row">
          <div id="Site" class="form-group col-sm-6 required">
            <label for="provider">T-shirt Size</label>
            <select class="form-control col-sm-12" ng-model="attribute">
            </select>
          </div> 
          <div class="form-group col-sm-6">
              <label class="block required">How did you her about this trip?</label>              
              <label class="radio-inline">
                  <input type="radio" value="yes" name="program">Program
              </label>
              <label class="radio-inline">
                  <input type="radio" value="no" name="session">Info Session
              </label>
              <label class="radio-inline">
                  <input type="radio" value="no" name="friend">Friend/Family
              </label>
              <label class="radio-inline">
                  <input type="radio" value="no" name="website">Website
              </label>
              <label class="radio-inline">
                  <input type="radio" value="no" name="other">Other
              </label>
          </div>
          <div class="form-group col-sm-6">
              <label for="conditions" class="required">Please describe any medical conditions that may affect your ability to participate in this trip (Leave blank if it doesn't apply):</label>
              <textarea class="form-control" rows="2" cols="1" id="conditions" maxlength="250"></textarea>
          </div>
          <div class="form-group col-sm-6">
              <label class="block required">Vegetarian? (If you mark yes we will do our best to provide vegetarian meals during the trip)</label>              
              <label class="radio-inline">
                  <input type="radio" value="yes" name="vegetarian">Yes
              </label>
              <label class="radio-inline">
                  <input type="radio" value="no" name="vegetarian">No
              </label>
          </div> 
          <div class="form-group col-sm-6">
              <label for="allergies" class="required">Please describe all food allergies (Leave blank if it doesn't apply):</label>
              <textarea class="form-control" rows="2" cols="1" id="allergies" maxlength="250"></textarea>
          </div>
          
          <div id="Site" class="form-group col-sm-6">
            <label for="provider" class="required">How would you define your spiritual life? (Pick as many as you like)</label>
            <input type="checkbox" name="vehicle" value="Searching">Searching for answers<br>
            <input type="checkbox" name="vehicle" value="Received">I have received Jesus <br>
            <input type="checkbox" name="vehicle" value="Obedience">Focusing on obedience - I've quit negotiating with God<br>
            <input type="checkbox" name="vehicle" value="Replicating">I'm actively replicating my faith in others
          </div>             
          <div class="form-group col-sm-6">
              <label for="why" class="required">Tell us why you want to go on this trip (Please be specific):</label>
              <textarea cols="1" rows="4" class="form-control" id="why" maxlength="1000"></textarea>
          </div>        
        </div>
        <a ui-sref="go-south-africa-signup-page-2" class="btn btn-primary pull-right">Continue</a>
    </form>

  </div><!--/col-sm-12-->
</div><!--/row-->
