<script type="text/ng-template" id="recurring_giving_edit_modal">
  <div class="modal-header">
    <h3 class="modal-title">Edit Recurring Gift</h3>
  </div>

  <div class="modal-body">
    <form class="give-form">
      <div class="form-group">
        <div class="form-inline form-group give-amount form-group-lg">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="tel" class="form-control" min="0" maxlength="6" ng-model="give.amount = '125'" autocomplete="off"></input>
            <span class="input-group-addon ">.00</span>
          </div>
          <!--input-group-->
        </div>
        <!--form-inline-->
      </div>
      <!--form-group-->

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <select class="form-control">
              <option>Monthly</option>
              <option>Weekly</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="5/23/15">
          </div>
        </div>
      </div>

      <bank-info></bank-info>
    </form>
  </div>

  <div class="modal-footer">
    <a href="" class="btn btn-standard" ng-click="cancel()">Cancel </a>
    <button class="btn btn-primary" ng-click="ok()">Update</button>
  </div>
</script>
