<script type="text/ng-template" id="recurring_giving_edit_modal">
  <div class="modal-header">
    <a type="button" class="close" ng-click="recurringGift.cancel()">x</a>
    <h3 class="modal-title">Edit Recurring Gift</h3>
  </div>

  <div class="modal-body">
    <donation-details amount="recurringGift.dto.amount"
                     program="recurringGift.dto.program"
                     amount-submitted="recurringGift.dto.amountSubmitted"
                     programs-in="recurringGift.programsInput"
                     giving-type="recurringGift.dto.givingType"
                     recurring-start-date="recurringGift.dto.recurringStartDate">
    </donation-details>

    <bank-credit-card-details
          dto='recurringGift.dto'
          bank-info-submitted='recurringGift.dto.bankinfoSubmitted'
          donor='recurringGift.dto.donor'
          email='recurringGift.dto.email'
          set-valid-card='setValidCard'
          set-valid-cvc='setValidCvc'
          account-state-name='recurringGift.account'>
        </bank-credit-card-details>
    </bank-credit-card-details>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Update</button>
  </div>
</script>
