<script type="text/ng-template" id="recurring_giving_edit_modal">
  <div class="modal-header">
    <h3 class="modal-title">Edit Recurring Gift</h3>
  </div>

  <div class="modal-body">
    <donation-details amount="recurringGift.donation.amount"
                     program="recurringGift.donation.program"
                     amount-submitted="recurringGift.donation.amountSubmitted"
                     programs-in="recurringGift.donation.programsInput"
                     giving-type="recurringGift.donation.givingType"
                     recurring-start-date="recurringGift.donation.recurringStartDate">
    </donation-details>

    <bank-credit-card-details
          dto='give.dto'
          bank-info-submitted='give.dto.bankinfoSubmitted'
          show-check-class='give.showCheckClass'
          show-message='give.showMessage'
          donor='give.dto.donor'
          email='give.dto.email'
          set-valid-card='setValidCard'
          set-valid-cvc='setValidCvc'
          account-state-name='give.account'>
        </bank-credit-card-details>
    </bank-credit-card-details>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Update</button>
  </div>
</script>
