<div class="dd_menu">
    <div class="primary">
        <form id="navlogin" name="navlogin" ng-submit="login()" role="form" novalidate>
            <div class="form-group">
                <div class="navbar--login__input" ng-class="{'has-error': checkEmail() }">
                    <input id="{{passwordPrefix}}-email" required class="form-control" ng-model-options="{ updateOn: 'blur', debounce: {'blur': 500} }" type="email" name="username" placeholder="Email" autocomplete="off" autocapitalize="off" ng-model="credentials.username" autofocus="">
                    <ng-messages for="navlogin['username'].$error" ng-if="navlogin.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
                    <ng-messages for="navlogin['username'].$error" ng-show="$root.username == undefined" ng-messages-include="on-blur-messages"></ng-messages>
                </div>
                <div class="navbar--login__input" >
                    <password-field required="true" passwd="credentials.password" submitted="navlogin.$submitted" prefix="passwordPrefix"></password-field>
                </div>
                <div>
                    <ng-messages for="navlogin['password'].$error" ng-if="navlogin.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
                    <!-- TODO Update to use ngMessages and a validator -->
                    <span ng-show="loginFailed" ng-class="{'has-error': loginFailed }">
                        <span ng-bind-html="$root.messages[$root.MESSAGES.loginFailed].message | html"></span>
                    </span>
                </div>
                <input type="submit" name="submit_nav" value="Login" ng-class="{disabled: processing }" id="submit_nav" class="col-xs-12 btn btn-primary push-half-bottom"/>
                <div class="pull-right">
                    <p class="forgot_password"><a href="#">Forgot password?</a></p>
                </div>
            </div>
        </form>
    </div>
</div>


