<div >
  <ng-form name="tripsSignup.tripAppPage6" role="form" novalidate>

    <legend>
      Passport Information
    </legend>

      <div class="row">
        <div class="col-sm-12" ng-bind-html="$root.MESSAGES.TripPassport.content | html"></div>
        <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passport') }">
          <label class="control-label block required">Do you have a valid passport?</label>
          <label id="passport-yes" class="radio-inline">
              <input ng-model="tripsSignup.signupService.page6.validPassport" type="radio" value="yes"  name="passport" id="passport-yes" ng-required="true">Yes
          </label>
          <label id="passport-no" class="radio-inline">
              <input ng-model="tripsSignup.signupService.page6.validPassport" type="radio" value="no" name="passport" id="passport-no" ng-required="true">No
          </label>
          <ng-messages for="tripsSignup.tripAppPage6.passport.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passport')">
            <span ng-message="required">
              <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
        <div class="form-group col-sm-12"  collapse="!isCollapsed">
          <label for="why">
            <span ng-bind-html="$root.MESSAGES.TripNoPassport.content | html"></span>
          </label>
        </div>
      </div>

        <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportNumber') }">
            <label for="passport-number" class="control-label" ng-class="{'required': tripsSignup.hasPassport() }">Passport Number</label>
            <input ng-model="tripsSignup.signupService.page6.passportNumber" type="text" class="form-control" name="passportNumber" id="passport-number" ng-required="tripsSignup.hasPassport()" placeholder="Enter passport number">
            <ng-messages for="tripsSignup.tripAppPage6.passportNumber.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportNumber')">
              <span ng-message="required">
                <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
        </div>
        <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportExpire') }" ng-controller="crdsDatePickerCtrl">
          <label for="passport-expire" class="control-label" ng-class="{'required': tripsSignup.hasPassport() }">When does your passport expire?</label>
          <input ng-model="tripsSignup.signupService.page6.passportExpirationDate" type="text" class="form-control" name="passportExpire" id="passport-expire" validate-date="MM/DD/YYYY" ng-required="tripsSignup.hasPassport()" ng-model-options="{updateOn: 'blur'}" placeholder="mm/dd/yyyy">
          <ng-messages for="tripsSignup.tripAppPage6.passportExpire.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportExpire')">
            <span ng-message="required">
              <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
            <span ng-message="invalidDate">
              <span ng-bind-html="$root.MESSAGES.invalidData.content | html"></span>
            </span>
          </ng-messages>
        </div>
      </div><!--/row-->

      <div class="row">
        <div class="form-group col-sm-12">
          <span ng-bind-html="$root.MESSAGES.TripPassportName.content | html"></span>
          <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportFirstName') }">
                <label for="passport-firstname" class="control-label" ng-class="{'required': tripsSignup.hasPassport() }">First Name</label>
                <input ng-model="tripsSignup.signupService.page6.passportFirstName" type="text" class="form-control" name="passportFirstName" id="passport-firstname" ng-required="tripsSignup.hasPassport()" placeholder="Enter first name">
                <ng-messages for="tripsSignup.tripAppPage6.passportFirstName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportFirstName')">
                  <span ng-message="required">
                    <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
            </div>
            <div class="form-group col-sm-6">
                <label for="passport-middlename" class="control-label">Middle Name <small class="text-muted">Exactly as printed on your passport</small></label>
                <input ng-model="tripsSignup.signupService.page6.passportMiddleName" type="text" class="form-control" name="passportMiddlename" id="passport-middlename" placeholder="Enter middle name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportLastName') }">
                <label for="passport-lastname" class="control-label" ng-class="{'required': tripsSignup.hasPassport() }">Last Name</label>
                <input ng-model="tripsSignup.signupService.page6.passportLastName" type="text" class="form-control" name="passportLastName" id="passport-lastname" ng-required="tripsSignup.hasPassport()" placeholder="Enter last name">
                <ng-messages for="tripsSignup.tripAppPage6.passportLastName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportLastName')">
                  <span ng-message="required">
                    <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
            </div>
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportCountry') }">
                <label for="passport-country" class="control-label" ng-class="{'required': tripsSignup.hasPassport() }">Country of Passport</label>
                <input ng-model="tripsSignup.signupService.page6.passportCountry" type="text" class="form-control" name="passportCountry" id="passport-country" ng-required="tripsSignup.hasPassport()" placeholder="Enter passport country">
                <ng-messages for="tripsSignup.tripAppPage6.passportCountry.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportCountry')">
                  <span ng-message="required">
                    <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
            </div>
          </div>
        </div>
      </div><!--/row-->

      <div class="row" ng-show="!tripsSignup.nolaRequired()">
        <div class="col-sm-12">
          <legend>Frequent Flyer Information</legend>
        </div>
        <div class="form-group col-sm-6" ng-repeat="flyer in signupStep.frequentFlyers" ng-show="tripsSignup.showFrequentFlyer(flyer)" >
          <label for="deltaff">{{flyer.name}}</label>
          <input ng-model="flyer.notes"
                 type="text" 
                 class="form-control" 
                 id="deltaff"
                 placeholder="Enter {{flyer.name}} frequent flyer number">
        </div>
      </div>

      <div class="row" ng-show="!tripsSignup.nolaRequired()">
       <div class="col-sm-12">
        <legend>
          Travel Experience Information
        </legend>
      </div>
      </div><!--/row-->

      <div class="row" ng-show="!tripsSignup.nolaRequired()">
        <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'internationalTrips') }">
          <label class="control-label block required">International Travel Experience</label>
          <div>
            <label for="international-trips-multi" class="radio-inline">
              <input ng-model="tripsSignup.signupService.page6.internationalTravelExpericence" type="radio" value="multi"  name="internationalTrips" id="international-trips-multi" ng-required="tripsSignup.requireInternational()"> I take three or more international trips a year.
            </label>
          </div>
          <div>
            <label for="international-trips-some" class="radio-inline">
            <input ng-model="tripsSignup.signupService.page6.internationalTravelExpericence" type="radio" value="some"  name="internationalTrips" id="international-trips-some" ng-required="tripsSignup.requireInternational()"> I take less than three international trips per year.

            </label>
          </div>
          <div>
            <label for="international-trips-none" class="radio-inline">
                <input ng-model="tripsSignup.signupService.page6.internationalTravelExpericence" type="radio" value="none"  name="internationalTrips" id="international-trips-none" ng-required="tripsSignup.requireInternational()"> I have not traveled internationally.
            </label>
          </div>
          <ng-messages for="tripsSignup.tripAppPage6.internationalTrips.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'internationalTrips')">
            <span ng-message="required">
              <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>

        <div class="col-sm-12 push-bottom" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'travelExperience') }">
          <label class="control-label block required">Do you have outside experience with serving abroad outside of Crossroads GO Trips?</label>

          <label for="travel-experience-yes" class="radio-inline" ng-click="isCollapsed = true">
              <input ng-model="tripsSignup.signupService.page6.experienceAbroad" type="radio" value="yes"  name="travelExperience" id="travel-experience-yes" ng-required="tripsSignup.requireInternational()">Yes
          </label>
          <label for="travel-experience-no" class="radio-inline" ng-click="isCollapsed = false">
              <input ng-model="tripsSignup.signupService.page6.experienceAbroad" type="radio" value="no" name="travelExperience" id="travel-experience-no" ng-required="tripsSignup.requireInternational()">No
          </label>
          <ng-messages for="tripsSignup.tripAppPage6.travelExperience.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'travelExperience')">
            <span ng-message="required">
              <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
        <div class="col-sm-12 push-bottom" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'describeExperienceAbroad') }">
          <div class="form-group push-top" collapse="!isCollapsed">
            <label for="describeExperienceAbroad" ng-class="{'required': isCollapsed}">Please describe your experience</label>
            <textarea ng-model="signupStep.experienceAbroad.notes" 
                      cols="1"
                      rows="4"
                      class="form-control"
                      name="describeExperienceAbroad"
                      id="travelExperienceDetail"
                      maxlength="250"
                      ng-required="isCollapsed">
            </textarea>
            <ng-messages for="tripsSignup.tripAppPage6.describeExperienceAbroad.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'describeExperienceAbroad')">
              <span ng-message="required">
                <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-show="tripsSignup.isIndia()">
        <div class="row">
          <legend>
            Past Abuse History (This will in no way keep you from GOing to India)
          </legend>
          <div ng-bind-html="$root.MESSAGES.trip_abuse.content | html"></div>
          <div class="form-group" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'abuse') }">
            <label class="control-label block required">Have you ever been a victim of any form of abuse?</label>
            <div class="radio" ng-repeat="option in signupStep.abuseOptions.attributes">
              <label for="abuse-{{option.attributeId}}">
                  <input ng-model="signupStep.abuseHistory.attribute.attributeId"
                         type="radio"
                         ng-value="option.attributeId"
                         name="abuse"
                         id="abuse-{{option.attributeId}]"
                         ng-required="tripsSignup.isIndia()">
                  {{option.name}}
              </label>
            </div>
            <ng-messages for="tripsSignup.tripAppPage6.abuse.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'abuse')">
              <span ng-message="required">
                <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>
      </div>

      <a ng-click='tripsSignup.handleSubmit(tripsSignup.tripAppPage6)' class="btn btn-primary pull-right">Submit Application</a>
    </ng-form>
  </div>
</div><!--/row-->
