  <ng-form name="tripsSignup.tripAppPage2" id="tripAppPage2">
  <fieldset>
    <div class='row' ng-show='tripsSignup.underAge()'>
      <div class="col-sm-12">
        <legend>Guardian Information</legend>
        <span ng-bind-html="$root.MESSAGES.TripGuardianInformation.content | html"></span>
      </div><!--/col-sm-12-->

      <div class="form-group col-sm-6" >
        <label for='firstName' class='control-label required'> First Name </label>
        <input ng-model="tripsSignup.signupService.page2.guardianFirstName.value" type='text' class='form-control' id='guardian-first-name' placeholder='First Name'>
      </div>

      <div class="form-group col-sm-6" >
        <label for='lastName' class='control-label required'> Last Name </label>
        <input ng-model="tripsSignup.signupService.page2.guardianLastName.value" type='text' class='form-control' id='guardian-last-name' placeholder='Last Name'>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Trip Information</legend>
      </div><!--/col-sm-12-->

      <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'tshirtSize') }">
        <label for="tshirt" class="control-label required">T-shirt Size</label>
        <select class="form-control col-sm-12" name="tshirtSize" id="tshirt" ng-required='true'
          ng-model="tripsSignup.signupService.page2.tshirtSize"
          ng-options="tshirt.value for tshirt in tripsSignup.signupService.tshirtSizes track by tshirt.attributeId">
        </select>
        <ng-messages for="tripsSignup.tripAppPage2.tshirtSize.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'tshirtSize')">
          <span ng-message="required">
            <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div><!--/form-group-->
    </div>
    <div class="row" ng-show="tripsSignup.destination == 'South Africa'">
      <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'scrubBottom') }">
        <label for="scrub" class="control-label" ng-class="{'required': tripsSignup.destination == 'South Africa'}">Scrub Size Bottom</label>
        <select class="form-control col-sm-12" name="scrubBottom" id="scrubBottom"
          ng-model="tripsSignup.signupService.page2.scrubSizeBottom"
          ng-options="bottom.value for bottom in tripsSignup.signupService.bottomScrubSizes track by bottom.attributeId"
          ng-required="tripsSignup.destination == 'South Africa'">
        </select>
        <ng-messages for="tripsSignup.tripAppPage2.scrubBottom.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'scrubBottom')">
          <span ng-message="required">
            <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'scrubTop') }">
        <label for="scrub" class="control-label" ng-class="{'required': tripsSignup.destination == 'South Africa'}">Scrub Size Top</label>
        <select class="form-control col-sm-12" name="scrubTop" id="scrubTop"
          ng-model="tripsSignup.signupService.page2.scrubSizeTop"
          ng-options="top.value for top in tripsSignup.signupService.topScrubSizes track by top.attributeId"
          ng-required="tripsSignup.destination == 'South Africa'">
        </select>
        <ng-messages for="tripsSignup.tripAppPage2.scrubTop.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'scrubTop')">
          <span ng-message="required">
            <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div><!--/form-group-->
    </div>

    <div class="row">
      <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'referral') }">
          <label class="control-label block required">How did you hear about this trip?</label>
          <label for="program" class="radio-inline">
              <input type="radio" value="program" id="program" name="referral" ng-model="tripsSignup.signupService.page2.referral.value" ng-required='true'>Program
          </label>
          <label for="session" class="radio-inline">
              <input type="radio" value="session" id="session" name="referral" ng-model="tripsSignup.signupService.page2.referral.value" ng-required='true'>Info Session
          </label>
          <label for="friend" class="radio-inline">
              <input type="radio" value="friend" id="friend" name="referral" ng-model="tripsSignup.signupService.page2.referral.value" ng-required='true'>Friend/Family
          </label>
          <label for="website" class="radio-inline">
              <input type="radio" value="website" id="website" name="referral" ng-model="tripsSignup.signupService.page2.referral.value" ng-required='true'>Website
          </label>
          <label for="other" class="radio-inline">
              <input type="radio" value="other" id="other" name="referral" ng-model="tripsSignup.signupService.page2.referral.value" ng-required='true'>Other
          </label>
          <ng-messages for="tripsSignup.tripAppPage2.tshirtSize.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'referral')">
            <span ng-message="required">
              <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div class="form-group col-sm-12">
        <label for="conditions">Please describe any medical condition(s) that may affect your ability to participate in this trip <small class="text-muted">Leave blank if it doesn't apply</small></label>
        <textarea ng-model="tripsSignup.signupService.page2.conditions.value" class="form-control" rows="2" cols="1" id="conditions" maxlength="250"></textarea>
      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'vegetarian') }">
          <label class="control-label block required">Vegetarian? <small class="text-muted">If you mark yes we will do our best to provide vegetarian meals during the trip</small></label>
          <label for="vegetarian-yes" class="radio-inline">
              <input ng-model="tripsSignup.signupService.page2.vegetarian.value" type="radio" value="yes" name="vegetarian" id="vegetarian-yes" ng-required='true'>Yes
          </label>
          <label for="vegetarian-no" class="radio-inline">
              <input ng-model="tripsSignup.signupService.page2.vegetarian.value" type="radio" value="no" name="vegetarian" for="vegetarian-no" ng-required='true'>No
          </label>
          <ng-messages for="tripsSignup.tripAppPage2.vegetarian.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'vegetarian')">
            <span ng-message="required">
              <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div class="form-group col-sm-12">
          <label for="allergies">Please describe all food allergies <small class="text-muted">Leave blank if it doesn't apply</small</label>
          <textarea ng-model="tripsSignup.signupService.page2.allergies.value" class="form-control" rows="2" cols="1" id="allergies" maxlength="250"></textarea>
      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div id="Site" class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'slife') }">
        <label for="slife" class="control-label required">How would you define your spiritual life? <small class="text-muted">Pick as many as you like</small></label><br>

        <div class="checkbox"> <label for="slife-searching"> <input ng-model="tripsSignup.signupService.page2.spiritualLifeSearching.value" type="checkbox" name="slife" value="Searching" id="slife-searching" ng-required='!tripsSignup.spiritualSelected()'> Searching for answers </label> </div>
        <div class="checkbox"> <label for="slife-received"> <input ng-model="tripsSignup.signupService.page2.spiritualLifeReceived.value" type="checkbox" name="slife" value="Received" id="slife-received" ng-required='!tripsSignup.spiritualSelected()'> I have received Jesus </label> </div>
        <div class="checkbox"> <label for="slife-obedience"> <input ng-model="tripsSignup.signupService.page2.spiritualLifeObedience.value" type="checkbox" name="slife" value="Obedience" id="slife-obedience" ng-required='!tripsSignup.spiritualSelected()'> Focusing on obedience - I've quit negotiating with God </label> </div>
        <div class="checkbox"> <label for="slife-replicating"> <input ng-model="tripsSignup.signupService.page2.spiritualLifeReplicating.value" type="checkbox" name="slife" value="Replicating" id="slife-replicating" ng-required='!tripsSignup.spiritualSelected()'> I'm actively replicating my faith in others </label> </div>

        <ng-messages for="tripsSignup.tripAppPage2.slife.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'slife')">
          <span ng-message="required">
            <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div class="form-group col-sm-12" ng-class="{ 'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'why') }">
          <label for="why" class="control-label required">Tell us why you want to go on this trip</label>
          <textarea ng-model="tripsSignup.signupService.page2.why.value" ng-required="true" cols="1" rows="4" class="form-control" name="why" id="why" maxlength="1000" placeholder="{{ tripsSignup.whyPlaceholder }}"></textarea>
          <ng-messages for="tripsSignup.tripAppPage2.why.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'why')">
            <span ng-message="required">
              <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
      </div><!--/form-group-->
    </div>
  </fieldset>
  <a ng-click='tripsSignup.handlePageChange(3, tripsSignup.tripAppPage2)' class="btn btn-primary pull-right">Next</a>
</ng-form>
