<div>
  <ng-form name="tripsSignup.tripAppPage5" role="form">
    <div ng-show="tripsSignup.destination == 'Nicaragua'">
      <legend>
        Child Sponsorship
      </legend>

      <div class="row">
        <div class="form-group col-sm-12">
          <label class="block required">Have you sponsored a child through Crossroads in Nicaragua?</label>
          <label class="radio-inline" ng-click="isCollapsed = true">
              <input ng-model="tripsSignup.signupService.page5.sponsorChildInNicaragua.value" type="radio" value="yes" name="leader" id="sponsor-yes">Yes
          </label>
          <label class="radio-inline" ng-click="isCollapsed = false">
              <input ng-model="tripsSignup.signupService.page5.sponsorChildInNicaragua.value" type="radio" value="no" name="leader" id="sponsor-no">No
          </label>
        </div>
        <div class="form-group col-sm-6" collapse="!isCollapsed">
          <label for="sponsor-firstname" class="required">Child's First Name</label>
          <input ng-model="tripsSignup.signupService.page5.sponsorChildFirstName.value" type="text" class="form-control" id="sponsor-firstname" placeholder="Enter sponsored child's first name">
        </div>
        <div class="form-group col-sm-6" collapse="!isCollapsed">
          <label for="sponsor-lastname" class="required">Child's Last Name</label>
          <input ng-model="tripsSignup.signupService.page5.sponsorChildLastName.value" type="text" class="form-control" id="sponsor-lastname" placeholder="Enter sponsored child's last name">
        </div>
        <div class="form-group col-sm-6" collapse="!isCollapsed">
          <label for="sponsor-number" class="required">Child's Sponsorship Number</label>
          <input ng-model="tripsSignup.signupService.page5.sponsorChildNumber.value" type="text" class="form-control" id="sponsor-number" placeholder="Enter sponsored child's number">
        </div>
      </div>
    </div><!--/#child sponsor-->


      <legend>
        Skills &amp; Experience
      </legend>



        <div class="row" ng-show="tripsSignup.destination == 'NOLA'">
          <div class="form-group col-sm-12" >
            <label for="workteam-first" ng-class='tripsSignup.nolaRequired()'>First Choice Work Team <span class="small text-muted">Kids traveling must be on the same work team as at least one parent.</span></label>

            <div class="row">
              <div class="col-sm-6">
                <select class='form-control'
                  id='workteam-first'
                  ng-model="tripsSignup.signupService.page5.nolaFirstChoiceWorkTeam.value" >
                    <option ng-repeat="workTeam in tripsSignup.workTeams" value="{{workTeam.dp_RecordID}}">{{workTeam.dp_RecordName}}</option>
                </select>
              </div>
            </div>

          </div>

          <div class="form-group col-sm-12" >
            <label for="workteam-experience" class="required" ng-class='tripsSignup.nolaRequired()'>Please describe your experience in this area</label>
            <textarea ng-model="tripsSignup.signupService.page5.nolaFirstChoiceExperience.value" cols="1" rows="4" class="form-control" id="workteam-experience" maxlength="250"></textarea>
          </div>

          <div class="form-group col-sm-12" >
            <label for="workteam-second" ng-class='tripsSignup.nolaRequired()'>Second Choice Work Team</label>

            <div class="row">
              <div class="col-sm-6">
                <select class="form-control" id="workteam-second"
                  ng-model='tripsSignup.signupService.page5.nolaSecondChoiceWorkTeam.value' >
                  <option ng-repeat="workTeam in tripsSignup.workTeams" value="{{workTeam.dp_RecordID}}">{{workTeam.dp_RecordName}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-sm-12" >
            <label for="trip-experience" class="required" ng-class='tripsSignup.nolaRequired()'>Describe any previous serving trip experience</label>
            <textarea ng-model="tripsSignup.signupService.page5.previousTripExperience.value" cols="1" rows="4" class="form-control" id="trip-experience" maxlength="250" placeholder="Dug water wells in Nicaragua? Built houses in Appalachia? We want to hear all of the details." ></textarea>
          </div>
          <div id="profession" class="form-group col-sm-12" ng-class='tripsSignup.nolaRequired()'>
            <label class="required" ng-class='tripsSignup.nolaRequired()'>Are you a professional in any of the following fields?</label><br>

            <div class="checkbox">
              <label for="profession-business" >
                <input ng-model="tripsSignup.signupService.page5.professionalSkillBusiness.value" type="checkbox" name="professionchoice" value="business" id="profession-business"> Business
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-construction">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillConstruction.value" type="checkbox" name="professionchoice" value="construction" id="profession-construction"> Construction
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-dental">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillDental.value" type="checkbox" name="professionchoice" value="dental" id="profession-dental"> Dental
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-education">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillEducation.value" type="checkbox" name="professionchoice" value="education" id="profession-education"> Education
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-it">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillInformationTech.value" type="checkbox" name="professionchoice" value="it" id="profession-it"> IT
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-media">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillMedia.value" type="checkbox" name="professionchoice" value="media" id="profession-media"> Media/Journalism
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-medical">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillMedical.value" type="checkbox" name="professionchoice" value="medical" id="profession-medical"> Medical
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-music">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillMusic.value" type="checkbox" name="professionchoice" value="music" id="profession-music"> Music
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-photo">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillPhotography.value" type="checkbox" name="professionchoice" value="photography" id="profession-photo"> Photography
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-social">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillSocialWorker.value" type="checkbox" name="professionchoice" value="social" id="profession-social"> Social Worker/Counselor
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-student">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillStudent.value" type="checkbox" name="professionchoice" value="student" id="profession-student"> Student
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-other">
                <input ng-model="tripsSignup.signupService.page5.professionalSkillOther.value" type="checkbox" name="professionchoice" value="other" id="profession-other"> Other
              </label>
            </div><!--/checkbox-->

          </div>
        </div><!--/row-->

        <a ng-click='tripsSignup.handlePageChange(6)' class="btn btn-primary pull-right" ng-show="tripsSignup.destination != 'NOLA'">Next</a>
        <a ng-click='tripsSignup.handleSubmit()' class="btn btn-primary pull-right" ng-show="tripsSignup.destination == 'NOLA'">Submit Application</a>
      </ng-form>
</div><!--/row-->
