<div >
      <legend>
        Emergency Contact Information
      </legend>

      <span ng-bind-html="$root.MESSAGES.TripEmergencyContact.content | html"></span>

      <ng-form name="tripsSignup.tripAppPage3" role="form">
        <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyFirstName') }">
              <label for="emergency-firstname" class="control-label required">First Name</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactFirstName.value" type="text" class="form-control" name="emergencyFirstName" id="emergency-firstname" placeholder="Enter emergency contact first name" ng-required="true">
              <ng-messages for="tripsSignup.tripAppPage3.emergencyFirstName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyFirstName')">
                <span ng-message="required">
                  <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
            </div>
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyLastName') }">
              <label for="emergency-lastname" class="control-label required">Last Name</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactLastName.value" type="text" class="form-control" name="emergencyLastName" id="emergency-lastname" placeholder="Enter emergency contact last name" ng-required="true">
              <ng-messages for="tripsSignup.tripAppPage3.emergencyLastName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyLastName')">
                <span ng-message="required">
                  <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyPrimaryPhone') }">
              <label for="emergency-primaryphone" class="control-label required">Primary Phone</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactPrimaryPhone.value" type="text" class="form-control" name="emergencyPrimaryPhone" id="emergency-primaryphone" placeholder="Enter emergency contact primary phone number" ng-required="true" ng-pattern="tripsSignup.phoneFormat" ng-model-options="{updateOn: 'blur'}">
              <ng-messages for="tripsSignup.tripAppPage3.emergencyPrimaryPhone.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyPrimaryPhone')">
                <span ng-message="required">
                  <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
                <span ng-message="pattern">
                  <span ng-bind-html="$root.MESSAGES.invalidPhone.content | html"></span>
                </span>
              </ng-messages>
            </div>
            <div class="form-group col-sm-6">
              <label for="emergency-secondaryphone">Secondary Phone</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactSecondaryPhone.value" type="text" class="form-control" id="emergency-secondaryphone" placeholder="Enter emergency contact secondary phone number">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="emergency-email">Email Address</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactEmail.value" type="text" class="form-control" id="emergency-email" placeholder="Enter emergency contact email address">
            </div>
        </div>

        <a ng-click='tripsSignup.handlePageChange(4, tripsSignup.tripAppPage3)' class="btn btn-primary pull-right">Next</a>
      </ng-form>
</div><!--/row-->
