@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="crossroads">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="appCtrl">
    <ul>
        <li><a ui-sref="home">home</a></li>
        <li><a ui-sref="login">login</a></li>
        <li><a ui-sref="profile">profile</a></li>
    </ul>
    <div ui-view></div>
    Authorized: {{currentUser}}

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/modules")
    @Scripts.Render("~/bundles/crossroads.net")

</body>
</html>
