@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="crossroads">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="appCtrl">
    <ul>
        <li><a ui-sref="home">home</a></li>
        <li><a ui-sref="login">login</a></li>
        <li><a ui-sref="profile">profile</a></li>
    </ul>
    <div ui-view></div>
    Authorized: {{currentUser}}

    @*<script src="~/scripts/angular.js"></script>
        <script src="~/Scripts/angular-route.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    @Scripts.Render("~/bundles/angular")

</body>
</html>
