
<div class="primary">
    <form id="nav_login" name="registerForm" role="form" ng-submit="register()" novalidate>

        <div class="soft-half-bottom" ng-class="{'has-error': firstnameError() }">
              <input id="{{passwordPrefix}}-firstname" class="form-control" id="firstname" name="firstname" type="text" ng-model="newuser.firstname" required placeholder="First Name" autofocus>
                <ng-messages for="registerForm.firstname.$error" ng-if="registerForm.$submitted">
                  <ng-messages-include src="on-submit-messages"></ng-messages-include>
                </ng-messages>
       </div>

        <div class="soft-half-bottom" ng-class="{'has-error': lastnameError() }">
                <input id="{{passwordPrefix}}-lastname" class="form-control" id="lastname" name="lastname" type="text" ng-model="newuser.lastname" required placeholder="Last Name">
                <ng-messages for="registerForm.lastname.$error" ng-if="registerForm.$submitted">
                  <ng-messages-include src="on-submit-messages"></ng-messages-include>
                </ng-messages>
        </div>

        <span>
            <email-field email="newuser.email" submitted="registerForm.$submitted" prefix="passwordPrefix" focused="false"></email-field>
        </span>
        <div class="input-group soft-half-bottom col-xs-12">
            <password-field required="true" passwd="newuser.password" submitted="registerForm.$submitted" prefix="passwordPrefix"></password-field>
        </div>
        <p class="small push-half-bottom text-muted">Registering signifies that you have read and agreed to the <a href="/terms-of-service" target="_blank">terms of service</a> and <a href="/privacy-policy" target="_blank">privacy policy</a>.
        </p>
        <input type="submit" class="btn btn-primary btn-block-mobile push-bottom " value="Create an Account"/>
    </form>
</div>
