<div class="container-fluid">

  <div class="media-curtain container hard-left hard-right">
    <div ng-controller="mediaToggleCtrl" class="ng-scope">
      <div class="media-background">

        <!--VIDEO-->
        <div class="container hard-left hard-right" ng-show="is(1)">
          <div class="col-lg-10 col-lg-offset-1 custom-poster mobile-hard-left mobile-hard-right ng-scope" ng-controller="mediaPosterCtrl as poster" ng-click="poster.showPoster()">
            <svg viewBox="0 0 32 32" class="icon icon-youtube-play-bw">
            	<use xlink:href="#youtube-play-bw"></use>
            </svg>
            <img src="http://s3.amazonaws.com/crossroads-media/images/likeaboss_02_still.jpg" class="img-full-width">
          </div>
        </div>

        <!--AUDIO-->
        <div class="container hard-left hard-right ng-hide" ng-show="is(2)">
          <div class="col-lg-10 col-lg-offset-1 audio-thumb-container mobile-hard-left mobile-hard-right" ng-app="plangular">
            <img src="http://s3.amazonaws.com/crossroads-media/images/likeaboss_02_still.jpg" class="img-responsive img-full-width fade">
            <div plangular="" data-src="http://soundcloud.com/crdschurch/work-like-you-need-it" class="plangular col-xs-12 row ng-scope">

              <div class="controls">
                <div class="col-xs-2 col-sm-1">
                  <a href="" ng-click="player.play(track)" ng-hide="player.playing == track" class="">
                    <div plangular-icon="play" class="ng-scope plangular-icon plangular-icon-play" viewbox="0 0 32 32" style="max-height:100%" fill="currentColor">
                      <path d="M0 0 L32 16 L0 32 z"></path>
                    </div>
                  </a>
                  <a href="" ng-click="player.pause()" ng-show="player.playing == track" class="ng-hide">
                    <div plangular-icon="pause" class="ng-scope plangular-icon plangular-icon-pause" viewbox="0 0 32 32" style="max-height:100%" fill="currentColor">
                      <path d="M0 0 H12 V32 H0 z M20 0 H32 V32 H20 z"></path>
                    </div>
                  </a>
                </div> <!--/col-xs-2 col-sm-1-->
                <div class="col-xs-10 col-sm-11">
                  <div class="plangular-progress progress ng-isolate-scope" ng-transclude="" value="NaN" ng-click="seekTo($event);"></div>
                  <div class="progress bootstrap-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="NaN" aria-valuemin="0" aria-valuemax="100" style="width: NaN%;" ng-click="seekTo($event);player.play(track)">
                      <span class="sr-only ng-binding">%</span>
                      <span class="progress-percentage ng-binding">%</span>
                    </div> <!--/progress-bar-->
                  </div> <!--/progress bootstrap-progress-->
                </div> <!--/col-xs-10 col-sm-11-->
              </div> <!--/controls-->

            </div>
            <!--/media col-xs-12 row-->
          </div> <!--/col-lg-10 col-lg-offset-1 row-->
        </div> <!--/container-->

      </div> <!--/hidden-media-tabs-->

      <div class="media-details">
        <div class="container hard-left hard-right">
          <div class="message-info col-sm-8 col-lg-8 col-lg-offset-1">
            <header class="message-header">
              <h2>Work Like You Need It
                <small>Series: Like A Boss</small>
              </h2>
              <span class="message-date text-muted">Saturday, August 30, 2014</span>

              <!--Social Media Buttons-->
              <div class="social-media-buttons addthis_toolbox addthis_default_style addthis_32x32_style pull-right">
                <a title="Facebook" href="#">
                  <svg viewBox="0 0 14 32" class="icon icon-facebook icon-social-media">
                  	<use xlink:href="#facebook"></use>
                  </svg>
                </a>
                <a title="Tweet" href="#">
                  <svg viewBox="0 0 30 32" class="icon icon-twitter icon-social-media">
                  	<use xlink:href="#twitter"></use>
                  </svg>
                </a>
                <a target="_blank" title="Email" href="#">
                  <svg viewBox="0 0 32 32" class="icon icon-mail5 icon-social-media">
                  	<use xlink:href="#mail5"></use>
                  </svg>
                </a>
              </div>


              <hr>
            </header>
            <div class="message-body">
              <p>Chuck Mingo talks about working like you need it.</p>
            </div>
            <!--/message-body-->

          </div>
          <!--/message-info-->

          <div class="message-action-buttons col-sm-4 col-lg-2 push-top">

            <a class="btn btn-gray btn-labeled btn-sm btn-block ng-hide" ng-click="section(1)" ng-show="is(2)">
              Watch Video
              <span class="btn-label">
                <svg viewBox="0 0 32 32" class="icon icon-play4"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/cr.svg#play4"></use></svg>
              </span>
            </a>

            <!--Media Action Buttons-->
            <a class="btn btn-gray btn-labeled btn-sm btn-block" ng-click="section(2)" ng-show="is(1)">
              Listen to Audio
              <span class="btn-label">
                <svg viewBox="0 0 32 32" class="icon icon-music4"><use xlink:href="#music4"></use></svg>
              </span>
            </a>
            <a href="http://s3.amazonaws.com/crossroads-media/documents/08_30-31_14Program_LO.pdf" class="btn btn-gray btn-labeled btn-sm btn-block">
              View Program
              <span class="btn-label">
                <svg viewBox="0 0 32 32" class="icon icon-file-pdf"><use xlink:href="#file-pdf"></use></svg>
              </span>
            </a>
            <a href="http://s3.amazonaws.com/crossroads-media/messages/video/likeaboss_02.mp4" class="btn btn-gray btn-labeled btn-sm btn-block">
              Download Video
              <span class="btn-label">
                MP4
              </span>
            </a>
            <a href="http://s3.amazonaws.com/crossroads-media/messages/audio/likeaboss_02.mp3" class="btn btn-gray btn-labeled btn-sm btn-block">
              Download Audio
              <span class="btn-label">
                MP3
              </span>
            </a>
            <a href="https://itunes.apple.com/us/podcast/crossroads-church-audio/id254202585?mt=2" class="btn btn-gray btn-labeled btn-sm btn-block">
              Subscribe To Audio
              <span class="btn-label">
                <svg viewBox="0 0 32 32" class="icon icon-podcast"> <use xlink:href="#podcast"></use> </svg>
              </span>
            </a>
            <a href="https://itunes.apple.com/us/podcast/crossroads-church-video/id312696731?mt=2" class="btn btn-gray btn-labeled btn-sm btn-block">Subscribe To Video
              <span class="btn-label">
                <svg viewBox="0 0 32 32" class="icon icon-podcast"> <use xlink:href="#podcast"></use> </svg>
              </span>
            </a>
            <!--/media-action-buttons-->

          </div>
          <!--/message-action-buttons-->
        </div>
        <!--/container-->
      </div>
      <!--/media-details-->
    </div>
    <!--ng-mediaToggleCtrl-->
  </div><!--/media-curtain-->

  <div class="container related-media">
    <div class="col-sm-12">
      <h3>Related Media</h3>
    </div>
  </div>

</div><!--/container-fuild-->
