<div class="message-action-buttons col-sm-4 col-lg-2 push-top">

  <a class="btn btn-standard-dark btn-labeled btn-sm btn-block ng-hide" ng-click="media.musicisopen = false; media.msgisopen = true;" ng-show="media.musicisopen">
    Watch Video
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-play4"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play4"></use></svg>
    </span>
  </a>

  <a class="btn btn-standard-dark btn-labeled btn-sm btn-block" ng-click="media.musicisopen = true; media.msgisopen = false;" ng-show="media.msgisopen">
    Listen to Audio
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-music4"><use xlink:href="#music4"></use></svg>
    </span>
  </a>

  <a href="http://s3.amazonaws.com/crossroads-media/documents/08_30-31_14Program_LO.pdf" class="btn btn-standard-dark btn-labeled btn-sm btn-block">
    View Program
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-file-pdf"><use xlink:href="#file-pdf"></use></svg>
    </span>
  </a>
  <a href="http://s3.amazonaws.com/crossroads-media/messages/video/likeaboss_02.mp4" class="btn btn-standard-dark btn-labeled btn-sm btn-block">
    Download Video
    <span class="btn-label">
      MP4
    </span>
  </a>
  <a href="http://s3.amazonaws.com/crossroads-media/messages/audio/likeaboss_02.mp3" class="btn btn-standard-dark btn-labeled btn-sm btn-block">
    Download Audio
    <span class="btn-label">
      MP3
    </span>
  </a>

  <div class="btn-group btn-block" dropdown is-open="msgisopen">
    <button type="button" class="btn btn-standard-dark btn-labeled btn-sm btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
      Subscribe to Podcast
      <span class="btn-label">
        <svg viewBox="0 0 32 32" class="icon icon-podcast"> <use xlink:href="#podcast"></use> </svg>
      </span>
    </button>
    <ul class="dropdown-menu podcast-dropdown" role="menu">
      <li>
        <a href="https://itunes.apple.com/us/podcast/crossroads-church-audio/id254202585?mt=2">
          <svg viewBox="0 0 25 32" class="icon icon-apple">
          	<use xlink:href="#apple"></use>
          </svg>
           iTunes Audio
        </a>
      </li>
      <li>
        <a href="https://itunes.apple.com/us/podcast/crossroads-church-video/id312696731?mt=2">
          <svg viewBox="0 0 25 32" class="icon icon-apple">
          	<use xlink:href="#apple"></use>
          </svg>
           iTunes Video
        </a>
      </li>

      <li>
        <a href="http://pca.st/8AoN">
          <svg viewBox="0 0 25 32" class="icon icon-android">
            <use xlink:href="#android"></use>
          </svg>
           Pocket Cast Audio
        </a>
      </li>
      <li>
        <a href="http://pca.st/hXAb">
          <svg viewBox="0 0 25 32" class="icon icon-android">
            <use xlink:href="#android"></use>
          </svg>
           Pocket Cast Video
        </a>
      </li>
      <li><hr></li>
      <li>
        <div class="dropdown-menu-content">
          <!--Removing unless someone else feels we should keep<label for="rss-link">Audio Link</label>-->
          <span class="dropdown-rss-link">
            <svg viewBox="0 0 32 32" class="icon icon-link">
            	<use xlink:href="#link"></use>
            </svg>
            crds.ch/pod-audio <button type="button" class="btn btn-default btn-xs">Copy</button>
          </span>
        </div>
      </li>
      <li>
        <div class="dropdown-menu-content">
          <!--Removing unless someone else feels we should keep<label for="rss-link">Video Link</label>-->
          <span class="dropdown-rss-link">
            <svg viewBox="0 0 32 32" class="icon icon-link">
              <use xlink:href="#link"></use>
            </svg>
            crds.ch/pod-video <button type="button" class="btn btn-default btn-xs">Copy</button>
          </span>
        </div>
      </li>
    </ul>
  </div>



</div> <!--/message-action-buttons-->
