<div class="message-action-buttons col-sm-4 col-lg-2 push-top">

  <a class="btn btn-gray btn-labeled btn-sm btn-block ng-hide" ng-click="section(1)" ng-show="is(2)">
    Watch Video
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-play4"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/cr.svg#play4"></use></svg>
    </span>
  </a>

  <a class="btn btn-gray btn-labeled btn-sm btn-block" ng-click="section(2)" ng-show="is(1)">
    Listen to Audio
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-music4"><use xlink:href="#music4"></use></svg>
    </span>
  </a>
  <a href="http://s3.amazonaws.com/crossroads-media/documents/08_30-31_14Program_LO.pdf" class="btn btn-gray btn-labeled btn-sm btn-block">
    View Program
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-file-pdf"><use xlink:href="#file-pdf"></use></svg>
    </span>
  </a>
  <a href="http://s3.amazonaws.com/crossroads-media/messages/video/likeaboss_02.mp4" class="btn btn-gray btn-labeled btn-sm btn-block">
    Download Video
    <span class="btn-label">
      MP4
    </span>
  </a>
  <a href="http://s3.amazonaws.com/crossroads-media/messages/audio/likeaboss_02.mp3" class="btn btn-gray btn-labeled btn-sm btn-block">
    Download Audio
    <span class="btn-label">
      MP3
    </span>
  </a>
  <a href="https://itunes.apple.com/us/podcast/crossroads-church-audio/id254202585?mt=2" class="btn btn-gray btn-labeled btn-sm btn-block">
    Subscribe To Audio
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-podcast"> <use xlink:href="#podcast"></use> </svg>
    </span>
  </a>
  <a href="https://itunes.apple.com/us/podcast/crossroads-church-video/id312696731?mt=2" class="btn btn-gray btn-labeled btn-sm btn-block">Subscribe To Video
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-podcast"> <use xlink:href="#podcast"></use> </svg>
    </span>
  </a>
</div> <!--/message-action-buttons-->
