<div class="col-sm-8 col-sm-offset-2">
  <h1 class="page-header">Post Job</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="job-title" class="col-sm-3 control-label">Job Title</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="job-title">
      </div>
    </div>
    <div class="form-group">
      <label for="job-start-date" class="col-sm-3 control-label">Job Start Date</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="corkboard.jobStartDate">
          <option value="" disabled selected>When?</option>
          <option value="asap">ASAP</option>
          <option value="before">Before</option>
          <option value="after">After</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-show="corkboard.jobStartDate == 'before' || corkboard.jobStartDate == 'after'">
      <div class="col-sm-9 col-sm-offset-3">
        <p class="input-group datepicker">
          <input type="text" class="form-control" placeholder="dd/mm/yyyy" datepicker-popup="dd/MM/yyyy" ng-model="corkboard.dt" ng-required="true" close-text="Close" is-open="corkboard.opened" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="corkboard.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="pay-rate" class="col-sm-3 control-label">Pay Rate</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="pay-rate">
      </div>
    </div>
    <div class="form-group">
      <label for="skills" class="col-sm-3 control-label">Skills Required</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="4" id="skills"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="desc" class="col-sm-3 control-label">Descripton</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="4" id="desc"></textarea>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary">Cancel</button>
      <button class="btn btn-primary">Delete</button>
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>