<div class="col-sm-8 col-sm-offset-2">
  <h1 class="page-header">Post an Event</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="need" class="col-sm-3 control-label text-left">Event Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="need">
      </div>
    </div>
    <div class="form-group">
      <label for="location" class="col-sm-3 control-label text-left">Location</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="location">
      </div>
    </div>
    <div class="form-group">
      <label for="date" class="col-sm-3 control-label text-left">Event Date</label>
      <div class="col-sm-9">
        <p class="input-group datepicker">
          <input type="text" class="form-control" placeholder="dd/mm/yyyy" datepicker-popup="dd/MM/yyyy" ng-model="corkboard.dt" ng-required="true" close-text="Close" is-open="corkboard.opened" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="corkboard.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="time" class="col-sm-3 control-label text-left">Event Time</label>
      <div class="col-sm-9 timepicker">
        <timepicker ng-model="corkboard.myTime" ng-class="timepicker" hour-step="corkboard.hstep" minute-step="corkboard.mstep" show-meridian="corkboard.isMeridian"></timepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="desc" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="4"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="pic" class="col-sm-3 control-label text-left">Upload Picture</label>
      <div class="col-sm-9">
        <input type="file" id="pic">
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-gray-light">Cancel</button>
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>