<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Batches" value="282" />
  <add key="Deposits" value="294"/>
  <add key="Distributions" value="296"/>
  <add key="Donations" value="297"/>
  <add key="DonationStatus" value="506"/>
  <add key="Donors" value="299"/>
  <add key="DonorByContactId" value="1058"/>
  <add key="MessagesPageId" value="341"/>
  <add key="PaymentProcessorEventErrors" value ="508"/>
  <add key="Programs" value="375"/>
  <add key="RecipientsSubpageId" value="461"/>

  <!-- Default values used in sending emails -->
  <add key="ActionStatusId" value="2"/>
  <add key="CommunicationStatusId" value="3"/>

  <!-- Below are ids of message templates for GiveConfirmation -->
  <add key="DefaultGiveConfirmationEmailTemplate" value="11402"/>
  <!-- Below are ids of message templates for GiveDeclines -->
  <add key="DefaultGiveDeclineEmailTemplate" value="11940"/>
  
  <!-- Configuration values for Stripe and Payments -->
  <add key="OnlineGivingProgramsPageViewId" value="1038"/>
  <add key="BatchEntryTypePaymentProcessor" value="10" />
  <add key="DonationStatusDeclined" value="3" />
  <add key="DonationStatusDeposited" value="2" />
  <add key="DonationStatusSucceeded" value="4" />
  <add key="Bank" value="5:Bank"/>
  <add key="CreditCard" value="4:Credit Card" />
  <add key="MaxStripeQueryResultsPerPage" value="100"/> <!-- This value needs to be 100 or less, per Stripe docs -->
  <add key="PaymentClient" value ="https://api.stripe.com/v1"/>
  <add key="StripeWebhookLiveMode" value="false" /> <!-- Set to true in production, false in non-prod -->
</appSettings>
