
<!-- TODO Can this error handling be updated to utilize ngMessages? -->
<div class="alert alert-success" role="alert" ng-if="volunteer.created">
  <span ng-bind-html="$root.messages[$root.MESSAGES.succesfulResponse].message | html"></span>
</div>

<div class="alert alert-danger" role="alert" ng-if="volunteer.rejected">
  <span ng-bind-html="$root.messages[$root.MESSAGES.failedResponse].message | html"></span>
</div>

<h2 class="header noPspace" ng-bind-html="volunteer.pageInfo.title | html"></h2>
<div >
  <p id="content" class="noPspace" dir="ltr" ng-bind-html="volunteer.pageInfo.content | html" ng-show="volunteer.showContent"></p>
  <p id="successMessage" ng-bind-html="volunteer.signupPage.success | html" ng-show="groupsignup.showSuccess && !groupsignup.waitListCase"></p>
  <p id="fullGroupMessage" ng-bind-html="volunteer.signupPage.full | html" ng-show="groupsignup.showFull"></p>
  <p id="waitListMessage" ng-bind-html="volunteer.signupPage.waitList | html" ng-show="groupsignup.showWaitList && groupsignup.waitListCase && !groupsignup.alreadySignedUp"></p>
  <p id="waitSuccessMessage" ng-bind-html="volunteer.signupPage.waitSuccess | html" ng-show="groupsignup.showWaitSuccess && groupsignup.waitListCase"></p>
</div>

<div>
  <legend>Participants</legend>
  <form class="form-group" name="myForm" role="form" ng-submit="volunteer.save(myForm)" id="myForm">
    <p>
      <div class="checkbox" ng-repeat="participant in volunteer.participants as people" ng-class="{'has-error':!groupsignup.formValid && !person['userInGroup']}">
        <label>
          <span ng-show="volunteer.participants.length > 1">
            <input name="input" type="checkbox" ng-checked="participant.memberOfGroup" ng-disabled="participant.memberOfGroup" ng-model="participant.add">&nbsp;</span>
          <span>{{ participant.preferredName }}</span>
          <span ng-show="volunteer.displayEmail(participant.email)">({{ participant.email }})</span>
          <span>{{formValid}}</span>
          <span ng-show="participant.loggedInUser">
            <a href="" ng-click="groupsignup.editProfile()">
              <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                <use xlink:href="#pencil4"></use>
              </svg>
            </a>
          </span>
        </label>
      </div>
    </p>
    <!-- <section>
      <button class="btn btn-primary" ng-click="opportunity.submitRequest(115)"> Request to Join Kids Club </button>
    </section> -->
    <p >
      <input type="submit" name="submit_group_signup" value="Request to Join Kids Club" id="submit_group_signup" class="btn btn-primary push-half-bottom">
    </p>
  </form>
</div>
