.give-form {
    .panel-heading {
        background: transparent;
        padding: 10px 8px;
        cursor: pointer;
        &:hover {
            background: $gray-lighter;
        }
        .panel-title {
            font-weight: 300;
            font-style: normal;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: $font-size-base;
            a, a:focus {
                display: block;
                color: $gray;
                text-decoration: none;
            }
        }
    }
    .panel-body {
        padding: 10px 8px;
    }
}

.give-amount {
  .form-control {
    @media (min-width: $screen-sm-min) {
        max-width: 130px;
    }
  }
}

.give-login, .give-register {
  .btn-primary.col-xs-12 {
    @extend .btn-lg;
  }
}

.wide-label {
    width: 100%;
}

.bank-section {
    margin-top: 10px;
}

.exp {
    padding-left: 0;
}

.account-type > .btn {
    outline: none !important;
}

.cc-icon {
    background: no-repeat 99%;
    background-size: auto 30px;
}

.cc-visa {
    background-image: url('http://crossroads-media.s3.amazonaws.com/images/cc_visa.svg');
}

.cc-mastercard {
    background-image: url('http://crossroads-media.s3.amazonaws.com/images/cc_mastercard.svg');
}

.cc-discover {
    background-image: url('http://crossroads-media.s3.amazonaws.com/images/cc_discover.svg');
}

.cc-american-express {
    background-image: url('http://crossroads-media.s3.amazonaws.com/images/cc_american_express.svg');
}

.give-check-icon {
    height: auto;
    width: auto;
}

.confirm-cc-icon {
    height: 12px;
    width: 20px;
}

// Giving History Styles

.giving-history {
  @media (min-width: $screen-md-min) {
    .icon.visible-md {
      display: inline-block !important;
    }
  }
  @media (min-width: $screen-lg-min) {
    .icon.visible-lg {
      display: inline-block !important;
    }
  }
}

.gift-table {
  border-bottom: 1px solid $table-border-color;
}

.gift-table, .recent-gifts {
    .table-actions {
        min-width: 100px;
        a {
            display: block;
            padding-bottom: 5px;
            padding-left: 8px;

            .icon {
              vertical-align: sub;
            }
        }
    }
    .dollar-amount {
        @extend .text-success;
        font-weight: bold;
    }
    .payment-type-icon {
      vertical-align: middle;
      height: 15px;
      width: 17px;
    }

    .pending {
      @extend .text-muted;

      .dollar-amount {
        @extend .text-muted;
      }

      span.label {
        margin-left: $line-height-computed/4;
      }

      @media screen {
        svg {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: gray;
        }
      }
    }
}
