.go-trip-name {
  padding-left: 0px;
}

.go-trip-btn {
  right: -1px;
}

.go-trip-card-header {
  padding: $line-height-computed/4 $line-height-computed/2;
}

.go-trip-card {
  .list-group {
    margin-top: $line-height-computed/4;
  }
}
