.go-trip-name {
  padding-left: 0px;

  p {
    margin-bottom: 0px;
    line-height: 1.5;
    padding: 6px 0;
    font-size: 1.3rem;
  }
}

.go-trip-btn {
  right: -1px;
}

.go-trip-card-header {
  padding: $line-height-computed/4 $line-height-computed/2;
}

.go-trip-card {
  .list-group {
    margin-top: $line-height-computed/4;
  }
}
