.main {
  margin-top: 20px;
  margin-bottom: 40px;
  @media (max-width: $screen-md-min) {
    margin-top: 10px;
  }
}

/***************************************************************************************
* Home
***************************************************************************************/

.home {
  margin-top: 40px;
  margin-bottom: 60px;
}
.home .home-header {
  color: $cr-blue;
}
.home .tagline {
  margin-bottom: 20px;
  margin-top: 10px;
}
.home .tagline small {
  font-weight: 300;
}
