
.series-list {
	list-style: none;
	padding: 0;
}
.series-list li img {width: 100%;}

.media-well {
  background-color: $gray-darker;
  color: $gray-light;
  border: 1px solid $gray-darker;

  h2 {
    color: $gray-lighter;
  }
}

.series-image-container {
	overflow: hidden;
	position: relative;
	transform-style: preserve-3d;
	max-height: 210px;
}

.series-image-small {
	@include vertical-align;
	position: absolute;
	text-align: center;
	width: 100%;

	img {
		margin: 0 auto;
		@include box-shadow(0 3px 9px rgba(0,0,0,.8));
	}
}

.blurred-series-image {
	filter: blur(10px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}

.series-info {
  clear: both;

  h2 {
    font-weight: normal;
  }
}

.media-details .social-media-buttons a svg {
	color: $gray; //setting specifically so the default for .icon-twitter and .icon-facebook and be used elsewhere
}

/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-xs-max) {
	.series-list li{
		width: 50%;
		float: left;
		margin-bottom: 30px;
		display: block;
	}
	.series-list li:nth-child(odd) {
		margin-right: 2%;
		clear: left;
	}
 }

.container-max {max-width: 1170px;}

.media-background {
  background: $gray-darker;

  iframe,video {
    margin: 0 auto;
  }

  img {
    // We have .fade on these to combat both images showing up in tabs before the JS loads
    opacity: 1;
  }
}

.message-body {
  .social-media-buttons {
    padding-top: 6px;
  }
}

.audio-container {
  .media {
    //margin-top: -($line-height-computed*2);

  }
}

.media-details {
  color: $gray-light;
  padding-bottom: ($line-height-computed*3);

  h2 {
    color: $gray-lighter;
    font-weight: normal;
  }

  .message-header {
    hr {
      border-top: 1px solid $gray;
      margin: ($line-height-computed/2) auto;
    }
  }

  .label {
    color: $gray-lighter;
  }
}

@media (max-width: $screen-sm-min) {
  .message-body {
    .btn {
      width: 100%;
      margin-top: $line-height-computed/2;
    }
    .social-media-buttons {
      width: 100%;
			text-align: center;
    }
  }
}

.media-search {

  margin-bottom: 0;

  @media only screen and (max-width:  $screen-sm-min){
    margin-bottom: $line-height-computed !important;
  }

  @media (min-width: $screen-sm-min) {
    float: right;
  }

  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0px;
  }

  .icon {
    height: 18px;
    width: 18px;
  }
}

.message-action-buttons {
  .btn-block:first-child {
    margin-top: 5px;
  }
}


/***************************************************************************************
* Message Preview Include - used on _includes/media/message_preview.html
***************************************************************************************/
#video-player-box {
  background: #f8f3e5;
  padding: 10px 0 10px 10px;
  margin: 0 0 20px 0;
  position: relative;
}
