.my-trip {
  .trip-date {
    font-size: 18px;
  }
  .icon-facebook {
    color: #3b5998;
  }
  .icon-twitter {
    color: #00aced;
  }
  .icon-email {
    color: $gray;
  }
  .donor-row {
    div {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}
