.my-trip {
    .trip-date {
        margin-top: -3px;
        padding-left: 10px;
    }
    .days-left {
        margin-top: -10px;
        .card-heading {
            font-size: 30px;
        }
        p {
            margin-top: -13px;
        }
    }
    .trip-funding {
        padding-top: 5px;
    }
    h5 {
        padding-left: 5px;
    }
}