.search-title {
  font-family: $brand-font-family;
  font-weight: 700;
  font-size: 24px;
  @extend .search-link;
}

.search-suggested-links {
  font-family: $brand-font-family;
  font-weight: 400;
  font-size: 14px;
}

.search-link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.search-media-title {
  font-family: $brand-font-family;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-media-subtitle {
  @extend .search-media-title;
  color: $gray-light;
}

.search-media-date {
  font-family: $brand-font-family;
  font-size: 14px;
  color: $gray-light;
}

.card-item {
  p {
    line-height: 18px;
  }
}

.search-media-image {
  padding-top: 5px;
  padding-bottom: 10px;
}

.search-filter {
  list-style-type: none;
  padding: 0;
  li {
    display: inline;
    margin-right: 2em;
    padding: 10px;
    &.active {
      border-bottom: 3px solid $brand-secondary;
      color: $brand-secondary;
    }
  }
}

.site-search {
  margin-top: 5px;
  
  .icon {
    height: 20px;
    width: 20px;
  }
}