.filter-clear {
  float: right;
}

.filter-reset {
    font-size: $font-size-base;
    font-weight: normal;
}

.filter-group {
  border-bottom: 1px solid darken($gray-lighter, 20%);

  &:last-of-type {
    border-bottom: 0px;
  }
}

.serve-opp-listings {

  .panel {
    border-radius: 0px;
    margin-bottom: $line-height-computed/2;
    box-shadow: none;

    .list-unstyled {
      line-height: 2;
    }
  }

  .panel-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .panel-heading {
    border-radius: 0px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;

    @media (min-width: $screen-sm-min) {
      padding: 5px 15px;
    }

    .name-btns {
      float: left;
      width: 100%;
      position: static;
      z-index: 4;
      margin-top: -5px;
      position: relative;

      @media (min-width: $screen-sm-min) {
        float: right;
        width: auto;
      }

      .btn {
        margin: 5px 5px 0 0;
        display: inline-block;
        background: darken($gray-lighter, 5%);
        color: $text-color;

        &:hover {
          background: darken($gray-lighter, 15%);
          color: $text-color;
        }

        &:focus {
          outline: 0;
        }

        &.active {
          background: $brand-secondary;
          color: #fff;
          box-shadow: none;

          //Icon colors
          .icon {
            color: white;
          }

        }

        &:last-of-type {
          margin-right: 0px;
        }

        .icon {
          vertical-align: baseline;
        }

        //Icon colors
        .icon-check-circle {
          color: $brand-success;

        }

        .icon-minus-circle {
          color: $brand-danger;
          margin-bottom: -3px; //the check icon does not line up with the minus for some reason
        }
      }
    }
  }
}

.serve-save {
  border-top: 1px solid $gray-lighter;
  text-align: right;
}

.serve-signup-cont {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $screen-sm-min) {
    padding-left: 0;
    padding-right: $grid-gutter-width/2;
  }
}
