.filter-clear {
  float: right;
}

.filter-reset {
    font-size: $font-size-base;
    font-weight: normal;
}

.filter-group {
  border-bottom: 1px solid darken($gray-lighter, 20%);
  &:last-of-type {
    border-bottom: 0px;
  }
}

.serve-signup-wrapper {
  //Icon colors
  .icon-check-circle {
    color: $brand-success;
  }

  .icon-minus-circle {
    color: $brand-danger;
  }

}

.serve-opp-listings {

  .panel {
    border-radius: 0px;
    margin-bottom: $line-height-computed/2;
    box-shadow: none;

    .list-unstyled {
      line-height: 2;
    }
  }

  .label {
    margin-left: 5px;
  }

  &.serve-opp-listing-expired {
    @extend .text-muted;

    h5 {
      @extend .text-muted;
    }

    button,
    .label {
      display: none;
    }

    .badge {
      margin-left: 5px;
      font-size: 83%;
      background: $gray-light;
    }
  }

  .panel-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .panel-heading {
    border-radius: 0px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 0 $padding-base-horizontal/2 $padding-base-vertical;
    border-bottom: none;

    @media (min-width: $screen-sm-min) {
      padding: $padding-base-vertical/2  $padding-base-horizontal/2 $padding-base-vertical/2 $padding-base-horizontal;
    }

    .team-name {
      line-height: 2.5;
    }

    .name-btns {
      float: left;
      width: 100%;
      position: static;
      z-index: 4;
      margin-top: -5px;
      position: relative;

      @media (min-width: $screen-sm-min) {
        float: right;
        width: auto;
      }

      .btn {
        margin: 5px 5px 0 0;
        display: inline-block;
        @extend .btn-default;
        border-bottom: 1px solid #DDD;

        &:hover {
          background: darken($gray-lighter, 15%);
          color: $text-color;
        }

        &:focus {
          outline: 0;
        }

        &.active {
          background: $brand-secondary;
          color: #fff;
          box-shadow: none;

          //Icon colors
          .icon {
            color: white;
          }

        }

        &:last-of-type {
          margin-right: 0px;
        }

        .icon {
          vertical-align: baseline;
        }

      }
    }
  }

  .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid $panel-inner-border;
  }
}

.serve-save {
  border-top: 1px solid $panel-inner-border;
  text-align: right;
}

.serve-signup-cont {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $screen-sm-min) {
    padding-left: 0;
    padding-right: $grid-gutter-width/2;
  }
}
.serve-filter {
  .dropdown-menu {
    padding-left: $panel-body-padding;
    padding-right: $panel-body-padding;
  }
}
