<profile-picture></profile-picture>
<tabset>
  <tab heading="Personal">
    <ui-view name="personal"></ui-view>
  </tab>
  <tab heading="Account" class="hidden-xs">
    <ui-view name="account"></ui-view>
  </tab>
  <tab heading="Giving">
    <ui-view name="giving"></ui-view>
  </tab>
  <tab heading="Skills" class="hidden-xs">
    <ui-view name="skills"></ui-view>
  </tab>
  <tab heading="History" class="hidden-xs" active="set.showHistory"></tab>
  <li role="tab" data-toggle="tab" class="dropdown hidden-md hidden-lg hidden-sm dropdown-toggle" data-toggle="dropdown">
    <a href="#">More <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" ng-click="set.showHousehold = true">Household</a></li>
      <li><a href="#" ng-click="set.showSkills = true">Skills</a></li>
      <li><a href="#" ng-click="set.showHistory = true">History</a></li>
    </ul>
  </li>
</tabset>
