<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_PlatformService" maxReceivedMessageSize="10000000">
                  <security mode="Transport" />
              </binding>
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="https://adminint.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService"
              contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" />
      </client>
  </system.serviceModel>
  
</configuration>
