<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyCommunicationPreferences" value="479" />
    <add key="MyContact" value="455" />
    <add key="MyHousehold" value="465" />
    <add key="ChangePassword" value="475" />
    <add key="MySkills" value="421" />
  </appSettings>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_PlatformService" maxReceivedMessageSize="1000000">
                  <security mode="Transport" />
              </binding>
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="https://my.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService"
              contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" />
      </client>
  </system.serviceModel>
  
</configuration>
