<section ng-show="profile.viewReady" class="email-modal">
<form role="form" name="personal" ng-init="profile.initProfile(this)" novalidate>
    <p class="push-bottom">Information shared here is kept secure and private. We will not share or sell your information.</p>

    <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error': profile.showError(personal, 'first-name')}">
            <label for="firstname" class="required">First Name</label>
            <input type="text" class="form-control" id="first-name" name="first-name" placeholder="Enter first name" ng-model="profile.person.firstName" required>
            <ng-messages for="personal.firstName.$error" ng-if="profile.showError(personal, 'first-name')">
              <span ng-message="required">
                <span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
        </div>

        <div class="form-group col-sm-6">
            <label for="middlename">Middle Name</label>
            <input type="text" class="form-control" id="middle-name" placeholder="Enter middle name" ng-model="profile.person.middleName">
        </div>

        <div class="form-group col-sm-6">
            <label for="lastname" class="required">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Enter last name" ng-model="profile.person.lastName">
            <ng-messages for="personal['last-name'].$error" ng-if="personal.$submitted">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
        </div>

        <div class="form-group col-sm-6">
            <label for="maidenname">Maiden Name</label>
            <input type="text" class="form-control" id="maidenname" placeholder="Enter maiden name" ng-model='profile.person.maidenName'>
        </div>

        <div class="form-group col-sm-6">
            <label for="nickname">Preferred Name <small class="text-muted">(Example: Chris instead of Christopher)</small>
            </label>
            <input type="text" class="form-control" id="nickname" placeholder="Enter nick name" ng-model="profile.person.nickName">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error':personal.email.$invalid}">
            <label for="firstname" class="required">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" ng-model="profile.person.emailAddress">
        </div>

        <div class="form-group col-sm-6" ng-if="profile.allowPasswordChange">
            <label for="password">Change Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" ng-model="fields.password" value="testpassword" />
                <!--<input type="text" class="form-control" id="password-clear" name="password" ng-model="fields.password" ng-if="showPassword" value="testpassword" />-->
                <span class="input-group-addon">
          <label>
            <input type="checkbox" ng-click="showPassword = !showPassword"> Show
          </label>
        </span>
            </div>
            <!-- /input-group -->
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
            <label class="control-label required">Birth Date</label>
            <input type="text" class="form-control" name="birthdate" id="birthdate" placeholder="mm/dd/yyyy" ng-required="true" ng-model='profile.person.dateOfBirth'>
            <ng-messages for="personal.birthdate.$error" ng-if="personal.$submitted || personal.birthdate.$touched">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
            <ng-messages for="personal.birthdate.$error" ng-if="personal.$submitted || personal.birthdate.$touched">
              <ng-messages-include src="on-pause-messages"></ng-messages-include>
            </ng-messages>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="marital_status">Marital Status</label>
            <select class="form-control col-sm-12" ng-model="profile.person.maritalStatusId" ng-options="status.dp_RecordID as status.dp_RecordName for status in profile.maritalStatuses">
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label class="block">Gender</label>
            <!--<label class="radio-inline" ng-repeat="gender in genders">-->
            <!--<input type="radio" id="gender" ng-value="gender.dpRecordid" ng-model="contact.genderId"> {{ gender.dpRecordname }}-->
            <label class="radio-inline" ng-repeat="gender in profile.genders">
                <input type="radio" id="gender-{{ gender.dp_RecordName}}" ng-value="gender.dp_RecordID" ng-model="profile.person.genderId"> {{ gender.dp_RecordName }}
            </label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="employer">Employer</label>
            <input type="text" class="form-control" id="employer" placeholder="Enter employer" ng-model='profile.person.employerName'>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
            <label class="control-label">When did you start attending Crossroads?</label>
            </span>
            <input type="text" class="form-control" id="anniversary-Date" placeholder="mm/yyyy" ng-model="profile.person.anniversaryDate">
            <ng-messages for="personal['anniversary-date'].$error">
              <ng-messages-include src="on-pause-messages"></ng-messages-include>
            </ng-messages>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="mobile-phone" ng-class="{'required': profile.requireMobilePhone}">Mobile Phone</label>
            <div class="small inline bold">
                <span ng-show="phoneToggle" class="link-styling" ng-click="phoneToggle = !phoneToggle">Don't have a mobile phone?</span>
                <span ng-show="!phoneToggle" class="text-muted">Edit your household phone <a class="pointer" ng-click="profile.householdPhoneFocus()">here</a>.</span>
            </div>
            <input type="text" class="form-control" name="mobile-phone" id='mobile-phone' placeholder="Enter mobile phone" ng-model="profile.person.mobilePhone">
            <ng-messages for="personal['mobile-phone'].$error">
                <!-- TODO Create custom phone validator here so we can use the template instead of the override below -->
                <span ng-message="pattern"><span ng-bind-html="$root.MESSAGES.invalidPhone.content | html"></span></span>
            </ng-messages>
        </div>

        <div class="form-group col-sm-6">
            <label for="provider">Service Provider</label>
            <select name="service-provider" class="form-control col-sm-12" id="service-provider" ng-model="profile.person.mobileCarrierId" ng-options="providers.dp_RecordID as providers.dp_RecordName for providers in profile.serviceProviders" ng-required="profile.serviceProviderRequired()">
                <option value=""> -- Choose One -- </option>
            </select>
            <ng-messages for="personal['service-provider'].$error">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
        </div>
    </div>

    <div class="row" ng-if="profile.person.householdId!==undefined">
        <profile-household household-id='profile.person.householdId'/>
    </div>
    <!--/row-->

    <button id="save-personal" ng-if="profile.allowSave" ng-click="savePersonal(contact)" class="btn btn-primary" data-style="expand-left">
        Save
    </button>
</form>
</section>
