<script type="text/ng-template" id="profile_giving_remove_modal">

  <div class="modal-header">
    <h3 class="modal-title">Confirm Removal</h3>
  </div>
  <div class="modal-body">

    <div ng-bind-html="$root.MESSAGES.giveRecurringRemove.content | html"></div>

    <p>
      You will be removing the recurring gift of
      <strong>$100 Monthly</strong>
      to the
      <strong>General Giving</strong>
      fund from
      <span>
        <svg viewBox="0 0 160 100" class="icon icon-cc_visa payment-type-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cc_visa"></use>
        </svg>
        <strong>ending in 3459</strong>
      </span>.
    </p>

    <div class="alert alert-warning">
      <div ng-bind-html="$root.MESSAGES.giveRecurringRemoveWarning.content | html"></div>
    </div>
  </div>
  <div class="modal-footer">

    <button class="btn btn-standard" ng-click="ok()">Cancel</button>

    <button class="btn btn-danger" ng-click="ok()">
      <svg viewBox="0 0 25 32" class="icon icon-trash-o">
        <use xlink:href="#trash-o"></use>
      </svg>
      Remove
    </button>

  </div>

</script>
