<div class="profile-giving" ng-controller="ModalDemoCtrl">

  <div class="row">
    <div class="col-sm-12">

      <div class="row giving-intro">
        <div class="col-sm-12">
          <p>If you have any questions or need help please contact <a href="">finance@crossroads.net</a>.</p>
        </div>
      </div>
      <!--/row-->

      <!--Recurring Giving-->
      <div class="row recurring-gifts push-bottom">
        <div class="col-sm-12">
          <h2>Recurring Gifts</h2>
          <table class="table gift-table">
            <tbody>
              <tr>
                <td>
                  Ministry Fund
                  <p class="text-muted">
                    <span>
                      <small>
                        <svg viewBox="0 0 160 100" class="icon icon-cc_visa payment-type-icon">
                            <use xlink:href="#cc_visa"></use>
                        </svg>
                        ending in 3459
                      </small>
                    </span>
                  </p>
                </td>
                <td class="text-right">
                  <span class="dollar-amount">$100.00</span>
                  <p class="text-muted"><small><span>15th Monthly</span></small></p>
                </td>
                  <td class="table-actions text-right">
                    <a href="" ng-click="openEditGiftModal()">
                      <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                          <use xlink:href="#pencil4"></use>
                      </svg>Edit
                    </a>
                    <a href="" ng-click="openRemoveGiftModal()">
                      <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                          <use xlink:href="#trash-o"></use>
                      </svg>Remove
                    </a>
                  </td>
              </tr>
              <tr>
                <td>
                  Game Change Fund
                  <p class="text-muted">
                    <!-- TATE - logic goes here to show commitment info if there is more than one commitment for the same fund -->
                    <!-- We want to show the amount and the full name associated with the commitment. This should be enough to distinguish them -->
                    <small><span class="multi-commitment-details block">Tate Lucas &middot; $10,000.00</span></small>
                    <span>
                      <small>
                        <svg viewBox="0 0 32 32" class="icon icon-library payment-type-icon">
                            <use xlink:href="#library"></use>
                        </svg>
                        ending in 3459
                      </small>
                    </span>
                  </p>
                </td>
                <td class="text-right">
                  <span class="dollar-amount">$200.00</span>
                  <p class="text-muted"><small><span>5th Monthly</span></small></p>
                </td>
                <td class="table-actions text-right">
                  <a href="" ng-click="open()">
                    <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                        <use xlink:href="#pencil4"></use>
                    </svg>Edit
                  </a>
                  <a href="" ng-click="open()">
                    <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                        <use xlink:href="#trash-o"></use>
                    </svg>Remove
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  OSG Fund
                  <p class="text-muted">
                    <span>
                      <small>
                        <svg viewBox="0 0 32 32" class="icon icon-library payment-type-icon">
                            <use xlink:href="#library"></use>
                        </svg>
                        ending in 3459
                      </small>
                    </span>
                  </p>
                </td>
                <td class="text-right">
                  <span class="dollar-amount">$300.00</span>
                  <p class="text-muted"><small><span>Tuesdays Weekly</small></span></p>
                </td>
                <td class="table-actions text-right">
                  <a href="" ng-click="open()">
                    <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                        <use xlink:href="#pencil4"></use>
                    </svg>Edit
                  </a>
                  <a href="" ng-click="open()">
                    <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                        <use xlink:href="#trash-o"></use>
                    </svg>Remove
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-12 text-center">
              <a href="" class="btn btn-primary">Add New</a>
            </div>
          </div>
        </div>
      </div><!--/row-->

      <!--Recent Gifts-->
      <div class="row recent-gifts push-bottom">
          <div class="col-sm-12">
              <h2>Recent Gifts</h2>
              <table class="table recent-gifts gift-table">
                  <tbody>
                      <tr>
                          <td>
                              Ministry Fund
                              <p class="text-muted">
                                <span>
                                  <small>
                                    <svg viewBox="0 0 160 100" class="icon icon-cc_visa payment-type-icon">
                                        <use xlink:href="#cc_visa"></use>
                                    </svg>
                                    ending in 3459
                                  </small>
                                </span>
                              </p>
                          </td>
                          <td class="text-right">
                              <span class="dollar-amount">$100.00</span>
                              <p class="text-muted"><span><small>12/12/15</small></span></p>
                          </td>

                      </tr>
                      <tr>
                          <td>
                              Game Change Fund
                              <p class="text-muted">
                              <span>
                                <small>
                                  <!-- TATE - logic goes here to show commitment info if there is more than one commitment for the same fund -->
                                  <!-- We want to show the amount and the full name associated with the commitment. This should be enough to distinguish them -->
                                  <span class="multi-commitment-details block">Tate Lucas &middot; $10,000.00</span>
                                  <svg viewBox="0 0 32 32" class="icon icon-library payment-type-icon">
                                      <use xlink:href="#library"></use>
                                  </svg>
                                  ending in 3459
                                </small>
                              </span>
                              </p>
                          </td>
                          <td class="text-right">
                              <span class="dollar-amount">$200.00</span>
                              <p class="text-muted"><span><small>12/16/15</small></span></p>
                          </td>

                      </tr>
                      <tr>
                          <td>
                              Game Change Fund
                              <p class="text-muted">
                              <span>
                                <small>
                                <!-- TATE - logic goes here to show commitment info if there is more than one commitment for the same fund -->
                                <!-- We want to show the amount and the full name associated with the commitment. This should be enough to distinguish them -->
                                <span class="multi-commitment-details block">Christy Lucas &middot; $15,000.00</span>
                                <svg viewBox="0 0 32 32" class="icon icon-library payment-type-icon">
                                    <use xlink:href="#library"></use>
                                </svg>
                                ending in 3459
                              </small>
                              </span>
                              </p>
                          </td>
                          <td class="text-right">
                              <span class="dollar-amount">$200.00</span>
                              <p class="text-muted"><span><small>12/16/15</small></span></p>
                          </td>

                      </tr>
                      <tr>
                          <td>
                              OSG Fund
                              <p class="text-muted">
                                  <span>
                                  <svg viewBox="0 0 34 32" class="icon icon-money payment-type-icon">
                                      <use xlink:href="#money"></use>
                                  </svg>
                                  cash</span>
                              </p>
                          </td>
                          <td  class="text-right">
                              <span class="dollar-amount">$300.00</span>
                              <p class="text-muted"><span><small>12/24/15</small></span></p>
                          </td>

                      </tr>
                  </tbody>
              </table>
              <div class="row">
                  <div class="col-sm-12 text-center push-bottom">
                      <a ui-sref="history" class="btn btn-default">View All</a>
                  </div>
              </div>
          </div>
      </div><!--/row-->

      <!--Commitments-->
      <div class="row commitments">
          <div class="col-sm-12">
              <h2>Commitments</h2>
              <hr>

              <!--Card 1: Active campaign midway through dates and progress-->
              <div class="card-item" data-category="view">
                  <div class="col-sm-3 col-xs-12 card-img card-img-stacked card-dark col-sm-height">
                    <!--Brian Miller: These need converted to IMGIX once the routes are refactored to trigger IMGIX-->
                    <img class="card-img-show" src="//crossroads-media.imgix.net/images/commitment-campaign-im-in.jpg">
                  </div>
                  <div class="col-sm-9 col-xs-12 card-content col-sm-height">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-sm-8">
                          <h3>I'm In Campaign</h3>
                        </div>
                        <div class="col-sm-12">
                          <p class="text-muted trip-date">January 1, 2016 - January 1, 2019</p>
                        </div>
                      </div><!--/row-->
                      <div class="row">
                        <div class="col-sm-12">
                          <p class="flush-bottom text-right trip-funding" style="width: 1.4%">$500 Given</p>
                          <progressbar class="progress-striped" type="success" max="35000" value="500">1&#37;</progressbar>
                          <p class="pull-right funding-goal">$35,000 Committed</p>
                        </div>
                      </div><!--/row-->
                    </div>
                  </div>
              </div><!-- /card-item -->

              <!--Card 2: Old campaign past date and progress complete-->
              <div class="card-item" data-category="view">
                  <div class="col-sm-3 col-xs-12 card-img card-img-stacked card-dark col-sm-height">
                    <img class="card-img-show" src="//crossroads-media.imgix.net/images/commitment-campaign-game-change.jpg">
                  </div>
                  <div class="col-sm-9 col-xs-12 card-content col-sm-height">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-sm-8">
                          <h3>Game Change Campaign</h3>
                          <!-- TATE - logic goes here to show commitment info if there is more than one commitment for the same fund -->
                          <!-- We want to show the full name associated with the commitment. This should be enough to distinguish them -->
                        </div>
                        <div class="col-sm-4">
                          <span class="text-muted multi-commitment-details md-pull-right">Tate Lucas</span>
                        </div>
                        <div class="col-sm-12">
                          <p class="text-muted trip-date">January 1, 2010 - January 1, 2013</p>
                        </div>
                      </div><!--/row-->
                      <div class="row">
                        <div class="col-sm-12">
                          <p class="flush-bottom text-right trip-funding" style="width: 35%">$3,500 Given</p>
                          <progressbar class="progress-striped" type="success" max="10000" value="3500">35&#37;</progressbar>
                          <p class="pull-right funding-goal">$10,000 Committed</p>
                        </div>
                      </div><!--/row-->
                    </div>
                  </div>
              </div><!-- /card-item -->

              <!--Card 2: Old campaign past date and progress complete-->
              <div class="card-item" data-category="view">
                  <div class="col-sm-3 col-xs-12 card-img card-img-stacked card-dark col-sm-height">
                    <img class="card-img-show" src="//crossroads-media.imgix.net/images/commitment-campaign-game-change.jpg">
                  </div>
                  <div class="col-sm-9 col-xs-12 card-content col-sm-height">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-sm-8">
                          <h3>Game Change Campaign</h3>
                          <!-- TATE - logic goes here to show commitment info if there is more than one commitment for the same fund -->
                          <!-- We want to show the full name associated with the commitment. This should be enough to distinguish them -->
                        </div>
                        <div class="col-sm-4">
                          <span class="text-muted multi-commitment-details md-pull-right">Christy Lucas</span>
                        </div>
                        <div class="col-sm-12">
                          <p class="text-muted trip-date">January 1, 2010 - January 1, 2013</p>
                        </div>
                      </div><!--/row-->
                      <div class="row">
                        <div class="col-sm-12">
                          <p class="flush-bottom text-right trip-funding" style="width: 1%">$1,500 Given</p>
                          <progressbar class="progress-striped" type="success" max="10000" value="1">1&#37;</progressbar>
                          <p class="pull-right funding-goal">$15,000 Committed</p>
                        </div>
                      </div><!--/row-->
                    </div>
                  </div>
              </div><!-- /card-item -->

              <!--Card 2: Old campaign past date and progress complete-->
              <div class="card-item" data-category="view">
                  <div class="col-sm-3 col-xs-12 card-img card-img-stacked card-dark col-sm-height">
                    <img class="card-img-show" src="//crossroads-media.imgix.net/images/commitment-campaign-crazy.jpg">
                  </div>
                  <div class="col-sm-9 col-xs-12 card-content col-sm-height">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-sm-8">
                          <h3>Crazy Campaign</h3>
                        </div>
                        <div class="col-sm-12">
                          <p class="text-muted trip-date">January 1, 2004 - January 1, 2007</p>
                        </div>
                      </div><!--/row-->
                      <div class="row">
                        <div class="col-sm-12">
                          <p class="flush-bottom text-right trip-funding" style="width: 100%">$1,000 Given</p>
                          <progressbar class="progress" type="success" max="1000" value="1000">100&#37;</progressbar>
                          <p class="pull-right funding-goal">$1,000 Committed</p>
                        </div>
                      </div><!--/row-->
                    </div>
                  </div>
              </div><!-- /card-item -->



              <div class="row">
                <div class="col-sm-12 text-center">
                  <a href="" class="btn btn-primary">Add New</a>
                </div>
              </div><!--/row-->
          </div>
      </div><!--/row /commitments-->


      <div class="panel panel-default push-top">
        <div class="panel-body text-muted small" role="alert">
          When you provide a check as payment, you authorize us either to use information from your check to make a one-time electronic fund transfer from your account or to process the payment as a check transaction.  For inquiries please contact 513-731-7400.
        </div> <!--/panel-body-->
      </div><!--/panel-->

    </div>
    <!--/col-sm-12-->
  </div>
  <!--/row-->

  <ng-include src="'templates/profile_giving_edit_modal.html'"></ng-include>
  <ng-include src="'templates/profile_giving_remove_modal.html'"></ng-include>

</div>
<!--/profile-giving-->
