<form role="form" ng-controller="crdsProfileHousehold">
    <fieldset class="row household-cards">
        <legend class="col-sm-12">Your Household</legend>
        <div ng-repeat="member in family">
            <div class="col-md-4 profile-card clearfix">
                <div class="well well-sm">
                    <div class="media">
                        <div class="thumbnail pull-left">
                            <img class="media-object" data-src="//crossroads-media.imgix.net/images/avatar.svg" alt="Profile Default Photo" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{member.displayName}}</h4>
                            <p><span class="label label-info">{{member.householdPosition}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <div class="form-group col-sm-6">
            <label for="street">Street</label>
            <input ng-model="address.addressLine1" type="text" class="form-control" id="street" placeholder="Enter street address">
        </div>

        <div class="form-group col-sm-6">
            <label for="street2">Street 2</label>
            <input ng-model="address.addressLine2" type="text" class="form-control" id="street2" placeholder="Enter street address (cont.)">
        </div>

        <div class="form-group col-sm-6">
            <label for="city">City</label>
            <input ng-model="address.city" type="text" class="form-control" id="city" placeholder="Enter city">
        </div>

        <div class="form-group col-sm-6">
            <label for="state">State</label>
            <select ng-model="address.state__Region" ng-options="state.stateAbbreviation as state.stateAbbreviation for state in states" class="form-control col-sm-12">
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="zip">Zip</label>
            <input ng-model="address.postalCode" type="text" class="form-control" id="zip" placeholder="Enter zip code">
        </div>

        <div class="form-group col-sm-6">
            <label for="county">County</label>
            <input ng-model="address.county" type="text" class="form-control" id="county" placeholder="Enter county">
        </div>

        <div class="form-group col-sm-6">
            <label for="country">Country</label>
            <select ng-model="countryObj" ng-change="setCountry()" ng-options="country as country.dpRecordname for country in countries track by country.dpRecordname" class="form-control col-sm-12">
            </select>
        </div>

        <hr class="col-sm-12" />

        <div class="form-group col-sm-6">
            <label for="homephone">Home Phone</label>
            <input ng-model="household.homePhone" type="text" class="form-control" id="homephone" placeholder="Enter home phone">
        </div>

        <hr class="col-sm-12" />
        <div id="Site" class="form-group col-sm-6">
            <label for="provider">Crossroads Location</label>
            <select class="form-control col-sm-12" ng-model="household.congregationId" ng-options="congregation.dpRecordid as congregation.congregationName for congregation in congregations">
            </select>
        </div>
    </fieldset>
    <button id="save-household" ng-click="saveHousehold()" class="btn btn-primary" data-style="expand-left">
        Save
    </button>
</form>
