<p>
    Your history of financial giving to crossroads.</p>

<div class="well well-sm">
    <p class="flush-bottom"><strong>Statements Sent To:</strong>
    </p>
<!--
    <address class="flush-bottom">
  {{address.addressLine1}}<br>
  <span ng-show="address.addressLine2">{{address.addressLine2}}<br></span>
  {{address.city}} {{address.state__Region}}, {{address.postalCode}}
</address>
-->
    <p>1234 Magic Kingdom Dr., Orlando, FL 32830</p>
</div>

<hr />

<div ng-init="giving=[]; giving.total = 0">

    <form class="form-inline row" role="form">
        <h4 class="col-xs-6">
    Giving History
    </h4>
        <div class="form-group col-xs-6">
            <div class="pull-right">
                <label for="dateFilter" class="control-label">View by year:&nbsp;&nbsp;</label>
                <select class="form-control" id="dateFilter" ng-change="giving.total = 0" ng-model="dateFilter" ng-options="year for year in years">
                    <option value="">All</option>
                </select>
            </div>
            <!--/pull-right-->
        </div>
        <!--/form-group-->
    </form>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Fund</th>
                <th>Type</th>
            </tr>
        </thead>
        <!-- / UX Team removed ng-repeat="givingRecord in givingHistory | DateYearFilter:dateFilter:'donationDate'" from below <tr> -->
        <tr>
            <td>{{givingRecord.donationDate | date:"MM/dd/yyyy"}}</td>
            <td ng-init="giving.total = giving.total + givingRecord.amount">{{givingRecord.amount | currency:"$"}}</td>
            <td>{{givingRecord.statementTitle}}</td>
            <td>{{givingRecord.paymentType}}</td>
        </tr>
    </table>
    <hr />
    <h4>Total: {{giving.total | currency:"$"}}</h4>
    <br>
</div>