<fieldset class="row">
    <legend class="col-sm-12">My Selected Skills</legend>
    <ul class="col-sm-12 current-skills-list list-inline">
        <li>
            <div class="label label-primary">Software Developer
                <a href="#">
                    <svg viewBox="0 0 32 32" class="icon icon-trash">
                        <use xlink:href="/icons/cr.svg#trash"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <div class="label label-primary">Web Design
                <a href="#">
                    <svg viewBox="0 0 32 32" class="icon icon-trash">
                        <use xlink:href="/icons/cr.svg#trash"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <div class="label label-primary">Web Development
                <a href="#">
                    <svg viewBox="0 0 32 32" class="icon icon-trash">
                        <use xlink:href="/icons/cr.svg#trash"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <div class="label label-primary">Photoshop wizard
                <a href="#">
                    <svg viewBox="0 0 32 32" class="icon icon-trash">
                        <use xlink:href="/icons/cr.svg#trash"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <div class="label label-primary">Administrative
                <a href="#">
                    <svg viewBox="0 0 32 32" class="icon icon-trash">
                        <use xlink:href="/icons/cr.svg#trash"></use>
                    </svg>
                </a>
            </div>
        </li>
    </ul>
</fieldset>

<div>
    <form role="form">
        <fieldset class="row add-skills">
            <p class="lead col-sm-12">Check off any super powers you may have.</p>
            <div class="form-group col-sm-12 row">
                <label class="col-sm-3">Creative</label>
                <div class="cat-skill-group col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Artistic Painting
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Audio Engineering
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Brainstorming
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Camera Operator
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I Can Play (guitar, piano, etc)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I Can Sing (really...)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Photography
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Poetry / Creative Writing
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Production (audio / video)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Sculpture
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Video Editing
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.form-group.col-sm-12 -->

            <div class="form-group col-sm-12 row">
                <label class="col-sm-3">Communication</label>
                <div class="cat-skill-group col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Animation/Motion Graphics
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Copy Editor
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Excel wizard
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Graphic Design (print)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> iPhoto/iMovie wizard
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Photoshop wizard
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Social media wizard
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.form-group.col-sm-12 -->



            <div class="form-group col-sm-12 row">
                <label class="col-sm-3">Construction
                    <br /><span class="text-muted">(Professional - you get paid to do this)</span>
                </label>
                <div class="cat-skill-group">
                    <div class="checkbox col-sm-10">
                        <label>
                            <input type="checkbox"> CAD operator
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Drywall
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Flooring Installation (Carpet)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Framing
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Heavy Landscaping
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Interior Designer
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Kitchen / Bath / Home Design
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Licensed Architect
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Licensed Electrician
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Licensed HVAC
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Licensed Plumber
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Light Landscaping
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Painting
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Siding Installation
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group col-sm-12 row">
                <label class="col-sm-3">Education</label>
                <div class="cat-skill-group col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Elementary Teacher
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> High School Teacher
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Middle School Teacher
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Preschool Teacher
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Principal/Senior Administrator
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Speech Therapist
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Tutor
                        </label>
                    </div>
                </div>
            </div>
            <!--/.col-sm-12 -->
        </fieldset>

    </form>
</div>