<form role="form" ng-controller="MyProfileCtrl">

  <p class="push-bottom">Information shared here is kept secure and private. We will not share or sell your information.</p>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="firstname" class="required">First Name</label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="contact.firstName">
    </div>

    <div class="form-group col-sm-6">
      <label for="middlename">Middle Name</label>
      <input type="text" class="form-control" id="middlename" placeholder="Enter middle name" ng-model="contact.middleName">
    </div>

    <div class="form-group col-sm-6">
      <label for="lastname" class="required">Last Name</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter last name" ng-model="contact.lastName">
    </div>

    <div class="form-group col-sm-6">
      <label for="maidenname">Maiden Name</label>
      <input type="text" class="form-control" id="maidenname" placeholder="Enter maiden name">
    </div>

    <div class="form-group col-sm-6">
      <label for="nickname">Preferred Name <small class="text-muted">(Example: Chris instead of Christopher)</small>
      </label>
      <input type="text" class="form-control" id="nickname" placeholder="Enter nick name" ng-model="contact.nickname">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="firstname" class="required">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" ng-model="contact.emailAddress">
    </div>

        <div class="form-group col-sm-6">
            <label for="password">Change Password</label>
            <password-field required="true" passwd="credentials.password" submitted="navlogin.$submitted" prefix="passwordPrefix"></password-field>
            <!-- /input-group -->
        </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
      <label class="control-label required">Birth Date</label>
      <input type="text" class="form-control" id="dateOfBirth" placeholder="mm/dd/yyyy" ng-required="true">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="marital_status">Marital Status</label>
      <select class="form-control col-sm-12" ng-model="contact.maritalStatusId" ng-options="status.dpRecordid as status.dpRecordname for status in maritalStatuses">
      </select>
    </div>

    <div class="form-group col-sm-6">
      <label class="block">Gender</label>
      <!--<label class="radio-inline" ng-repeat="gender in genders">-->
      <!--<input type="radio" id="gender" ng-value="gender.dpRecordid" ng-model="contact.genderId"> {{ gender.dpRecordname }}-->
      <label class="radio-inline">
        <input type="radio" value="male" name="gender">Male
      </label>
      <label class="radio-inline">
        <input type="radio" value="female" name="gender">Female
      </label>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-12">
      <label for="ethnicity">Ethnicity <span class="small text-muted">Select all that apply</span></label>
      <div class="row">
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ethnicity">White</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ethnicity">Black or African American</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ethnicity">Latino or Hispanic</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ethnicity">Asian</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ethnicity">American Indian or Alaska Native</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ethnicity">Pacific Islander</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ethnicity">Some other race</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="employer">Employer</label>
      <input type="text" class="form-control" id="employer" placeholder="Enter employer">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
      <label class="control-label">When did you start attending Crossroads?</label>
      </span>
      <input type="text" class="form-control" id="anniversaryDate" placeholder="mm/yyyy" ng-model="contact.anniversaryDate">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="nickname">Mobile Phone
      </label>
      <div class="small inline bold">
        <span ng-show="phoneToggle" class="link-styling" ng-click="phoneToggle = !phoneToggle">Don't have a mobile phone?</span>
        <span ng-show="!phoneToggle" class="text-muted">Edit your household phone <a class="pointer" ng-click="myProfile.householdPhoneFocus()">here</a>.</span>
      </div>
      <input type="text" class="form-control" id="mobile" placeholder="Enter mobile phone" ng-model="contact.mobilePhone">
    </div>

    <div class="form-group col-sm-6">
      <label for="provider">Service Provider</label>
      <select class="form-control col-sm-12">
        <option></option>
      </select>
    </div>
  </div>

  <div class="row">
    <fieldset>

      <div class="col-sm-12">
        <legend>Your Household</legend>
        <p>Update information for your household, which includes:
          <br />
          <strong>Tate Lucas</strong>, <strong>Christy Lucas</strong>, <strong>Sadie Lucas</strong>, <strong>Simon Lucas</strong>
          <!--
          <span ng-controller="crdsHouseholdModal">
            <a href="#" class="btn btn-xs btn-standard push-half-left" ng-click="open()">Add or remove another person</a>

            <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-body clearfix household-choice-modal">
                <a class="btn btn-link close-modal" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="col-xs-6 text-center" href="#">
                  <h5>Add a person</h5>
                  <div class="thumbnail">
                    <img class="media-object" src="//crossroads-media.s3.amazonaws.com/images/avatar.svg" alt="Profile Default Photo" />
                    <svg viewBox="0 0 25 32" class="icon icon-plus icon-large">
                        <use xlink:href="#plus"></use>
                    </svg>
                  </div>
                </a>
                <a class="col-xs-6 text-center" href="#">
                  <h5>Remove a person</h5>
                  <div class="thumbnail">
                    <img class="media-object" src="//crossroads-media.s3.amazonaws.com/images/avatar.svg" alt="Profile Default Photo" />
                  </div>
                  <svg viewBox="0 0 25 32" class="icon icon-minus icon-large">
                      <use xlink:href="#minus"></use>
                  </svg>
                </a>
              </div>
            </script>
          </span>
          -->
        </p>

        <div class="panel panel-default clearfix">
          <div class="panel-heading address-panel-heading clearfix" ng-click="myProfile.isCollapsed = !myProfile.isCollapsed">
            <div class="row">
              <a ng-click="myProfile.isCollapsed = !myProfile.isCollapsed" href="#" class="address-show" ng-show="myProfile.isCollapsed">
                <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                  <use xlink:href="#pencil4"></use>
                </svg>
              </a>
              <a ng-click="myProfile.isCollapsed = !myProfile.isCollapsed" href="#" class="address-show" ng-show="!myProfile.isCollapsed">
                <svg viewBox="0 0 18 32" class="icon icon-caret-up">
                  <use xlink:href="#caret-up"></use>
                </svg>
              </a>
              <div class="col-md-7">
                <svg viewBox="0 0 32 32" class="icon icon-home">
                  <use xlink:href="#home"></use>
                </svg>3727 Hyde Park Ave, Cincinnati, OH 45209</div>
              <div class="col-md-2">
                <svg viewBox="0 0 32 32" class="icon icon-phone3">
                  <use xlink:href="#phone3"></use>
                </svg>(513) 258-5827</div>
              <div class="col-md-3">
                <svg viewBox="0 0 32 32" class="icon icon-crossroads">
                  <use xlink:href="#crossroads"></use>
                </svg>Crossroads Oakley
              </div>
            </div>
            <!--/row-->
          </div>
          <!--/panel-heading-->

          <div class="address-panel-body panel-body clearfix" collapse="myProfile.isCollapsed">
            <div class="col-sm-12">
              <form role="form" ng-controller="crdsProfileHousehold">
                <fieldset class="row">
                  <ul class="list-group clearfix">
                    <li class="list-group-item clearfix">
                      <div class="form-group col-sm-6">
                        <label for="street" class="required">Street</label>
                        <input ng-model="address.addressLine1" type="text" class="form-control" id="street" placeholder="Enter street address">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="street2">Street 2</label>
                        <input ng-model="address.addressLine2" type="text" class="form-control" id="street2" placeholder="Enter street address (cont.)">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="city" class="required">City</label>
                        <input ng-model="address.city" type="text" class="form-control" id="city" placeholder="Enter city">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="state" class="required">State</label>
                        <select ng-model="address.state__Region" ng-options="state.stateAbbreviation as state.stateAbbreviation for state in states" class="form-control col-sm-12">
                        </select>
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="zip" class="required">Zip</label>
                        <input ng-model="address.postalCode" type="text" class="form-control" id="zip" placeholder="Enter zip code">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="county">County</label>
                        <input ng-model="address.county" type="text" class="form-control" id="county" placeholder="Enter county">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="country" class="required">Country</label>
                        <select ng-model="countryObj" ng-change="setCountry()" ng-options="country as country.dpRecordname for country in countries track by country.dpRecordname" class="form-control col-sm-12">
                        </select>
                      </div>
                    </li>
                    <li class="list-group-item clearfix">
                      <div class="form-group col-sm-6" id="homephonecont">
                        <label for="homephone">Home Phone</label>
                        <input ng-model="household.homePhone" type="text" class="form-control" id="homephone" placeholder="Enter home phone">
                      </div>
                    </li>
                    <li class="list-group-item clearfix">
                      <div id="Site" class="form-group col-sm-6">
                        <label for="provider">Crossroads Site</label>
                        <select class="form-control col-sm-12" ng-model="household.congregationId" ng-options="congregation.dpRecordid as congregation.congregationName for congregation in congregations">
                        </select>
                      </div>
                    </li>
                  </ul>
                </fieldset>
              </form>
            </div>
            <!--/col-sm-12-->
          </div>
          <!--/panel-body-->
        </div>
        <!--/panel-->

      </div>
      <!--/col-sm-12-->
    </fieldset>
  </div>
  <!--/row-->

    <button id="save-personal" ng-click="savePersonal(contact); myProfile.confirmPassword()" class="btn btn-primary" data-style="expand-left">
        Save
    </button>
</form>
