<form role="form">
    <div class="row">
        <div class="col-sm-12">
            <p>Manage your communication preferences.</p>

            <div class="row">

                <legend class="col-sm-12">Email Communications</legend>

                <div class="form-group clearfix toggle-input-group">
                    <div class="col-xs-6">
                        <label class="block">The Daily
                            <br /><small class="text-muted">Daily emails to help you connect with God</small>
                        </label>
                    </div>
                    <!--/col-xs-5-->
                    <div class="col-xs-6">
                        <toggle-switch ng-model="switchStatus1"></toggle-switch>
                    </div>
                    <!--/col-xs-7-->
                </div>
                <!--/form-group-->

                <div class="form-group clearfix toggle-input-group">
                    <div class="col-xs-6">
                        <label class="block">General Crossroads Communication
                            <br /><small class="text-muted">Roughly once a month</small>
                        </label>
                    </div>
                    <!--/col-xs-5-->
                    <div class="col-xs-6">
                        <toggle-switch ng-model="switchStatus2"></toggle-switch>
                    </div>
                    <!--/col-xs-7-->
                </div>
                <!--/form-group-->

                <div class="form-group clearfix toggle-input-group">
                    <div class="col-xs-6">
                        <label class="block">Kids' Club Updates
                            <br /><small class="text-muted">Once a week</small>
                        </label>
                    </div>
                    <!--/col-xs-5-->
                    <div class="col-xs-6">
                        <toggle-switch ng-model="switchStatus3"></toggle-switch>
                    </div>
                    <!--/col-xs-7-->
                </div>
                <!--/form-group-->

            </div>
            <!--/row-->

            <div class="row">

                <legend class="col-sm-12">Text Message Communications</legend>

                <div class="form-group clearfix toggle-input-group">
                    <div class="col-xs-6">
                        <label class="block">The Daily
                            <br /><small class="text-muted">Daily texts to help you connect with God</small>
                        </label>
                    </div>
                    <!--/col-xs-5-->
                    <div class="col-xs-6">
                        <toggle-switch ng-model="switchStatus4"></toggle-switch>
                    </div>
                    <!--/col-xs-7-->
                </div>
                <!--/form-group-->

                <div class="form-group clearfix toggle-input-group">
                    <div class="col-xs-6">
                        <label class="block">General Crossroads Communication
                            <br /><small class="text-muted">Roughly once a month</small>
                        </label>
                    </div>
                    <!--/col-xs-5-->
                    <div class="col-xs-6">
                        <toggle-switch ng-model="switchStatus5"></toggle-switch>
                    </div>
                    <!--/col-xs-7-->
                </div>
                <!--/form-group-->

                <div class="form-group clearfix toggle-input-group">
                    <div class="col-xs-6">
                        <label class="block">Kids' Club Updates
                            <br /><small class="text-muted">Once a week</small>
                        </label>
                    </div>
                    <!--/col-xs-5-->
                    <div class="col-xs-6">
                        <toggle-switch ng-model="switchStatus6"></toggle-switch>
                    </div>
                    <!--/col-xs-7-->
                </div>
                <!--/form-group-->

            </div><!--/row-->


            <div class="row">
                <legend class="col-sm-12">Giving Statements</legend>

                <div class="form-group clearfix toggle-input-group">
                  <div class="col-xs-6">
                    <label class="block">Paperless Giving Statements
                      <br><span class="text-muted small">Giving statements will be emailed to you.</span>
                    </label>
                  </div>
                  <div class="col-xs-6">
                    <toggle-switch ng-model="swithStatus7"></toggle-switch>
                  </div>
                </div>
            </div><!--/row-->


        </div>
        <!--/col-sm-12-->
</form>