<div class="profile-giving" ng-controller="ModalDemoCtrl">

  <div class="row">
    <div class="col-sm-12">

      <div class="row giving-intro">
        <div class="col-sm-12">
          <p>If you have any questions or need help please contact <a href="">finance@crossroads.net</a>.</p>
        </div>
      </div>
      <!--/row-->

      <div class="row recurring-gifts push-bottom">
        <div class="col-sm-12">
          <h3>Recurring Gifts</h3>
          <table class="table gift-table">
            <tbody>
              <tr>
                <td>
                  Ministry Fund
                  <p class="text-muted"><span>
                                        <svg viewBox="0 0 160 100" class="icon icon-cc_visa payment-type-icon">
                                            <use xlink:href="#cc_visa"></use>
                                        </svg>
                                        ending in 3459</span>
                  </p>
                </td>
                <td class="text-right">
                  <span class="dollar-amount">$100.00</span>
                  <p class="text-muted"><span>15th Monthly</span>
                  </p>
                </td>
                <td class="table-actions text-right">
                  <a href="" ng-click="open()">Edit
                                    <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                        <use xlink:href="#pencil4"></use>
                                    </svg>
                                    </a>
                  <a href="" ng-click="open()">Remove
                                    <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                                        <use xlink:href="#trash-o"></use>
                                    </svg>
                                    </a>
                </td>
              </tr>
              <tr>
                <td>
                  Game Change Fund
                  <p class="text-muted">
                    <span>
                                    <svg viewBox="0 0 32 32" class="icon icon-library payment-type-icon">
                                        <use xlink:href="#library"></use>
                                    </svg>
                                    ending in 3459</span>
                  </p>
                </td>
                <td class="text-right">
                  <span class="dollar-amount">$200.00</span>
                  <p class="text-muted"><span>5th Monthly</span>
                  </p>
                </td>
                <td class="table-actions text-right">
                  <a href="">Edit
                                        <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                            <use xlink:href="#pencil4"></use>
                                        </svg>
                                    </a>
                  <a href="">Remove
                                        <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                                            <use xlink:href="#trash-o"></use>
                                        </svg>
                                    </a>
                </td>
              </tr>
              <tr>
                <td>
                  OSG Fund
                  <p class="text-muted">
                    <span>
                                    <svg viewBox="0 0 32 32" class="icon icon-library payment-type-icon">
                                        <use xlink:href="#library"></use>
                                    </svg>
                                    ending in 3459</span>
                  </p>
                </td>
                <td class="text-right">
                  <span class="dollar-amount">$300.00</span>
                  <p class="text-muted"><span>Tuesdays Weekly</span>
                  </p>
                </td>
                <td class="table-actions text-right">
                  <a href="">Edit
                                        <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                            <use xlink:href="#pencil4"></use>
                                        </svg>
                                    </a>
                  <a href="">Remove
                                        <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                                            <use xlink:href="#trash-o"></use>
                                        </svg>
                                    </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-12 text-center">
              <a href="" class="btn btn-primary">Add New</a>
            </div>
          </div>
        </div>
      </div><!--/row-->

      <div class="row recent-gifts push-bottom">
          <div class="col-sm-12">
              <h3>Recent Gifts</h3>
              <table class="table recent-gifts">
                  <tbody>
                      <tr>
                          <td>
                              Ministry Fund
                              <p class="text-muted"><span>
                                  <svg viewBox="0 0 160 100" class="icon icon-cc_visa payment-type-icon">
                                      <use xlink:href="#cc_visa"></use>
                                  </svg>
                                  ending in 3459</span>
                              </p>
                          </td>
                          <td class="text-right">
                              <span class="dollar-amount">$100.00</span>
                              <p class="text-muted"><span>12/12/15</span></p>
                          </td>

                      </tr>
                      <tr>
                          <td>
                              Game Change Fund
                              <p class="text-muted">
                              <span>
                              <svg viewBox="0 0 32 32" class="icon icon-library payment-type-icon">
                                  <use xlink:href="#library"></use>
                              </svg>
                              ending in 3459</span>
                              </p>
                          </td>
                          <td class="text-right">
                              <span class="dollar-amount">$200.00</span>
                              <p class="text-muted"><span>12/16/15</span></p>
                          </td>

                      </tr>
                      <tr>
                          <td>
                              OSG Fund
                              <p class="text-muted">
                                  <span>
                                  <svg viewBox="0 0 34 32" class="icon icon-money payment-type-icon">
                                      <use xlink:href="#money"></use>
                                  </svg>
                                  cash</span>
                              </p>
                          </td>
                          <td  class="text-right">
                              <span class="dollar-amount">$300.00</span>
                              <p class="text-muted"><span>12/24/15</span></p>
                          </td>

                      </tr>
                  </tbody>
              </table>
              <div class="row">
                  <div class="col-sm-12 text-center">
                      <a ui-sref="history" class="btn btn-primary">View All</a>
                  </div>
              </div>
              <hr>
          </div>
      </div><!--/row-->

      <!--Removing for now until US1148. Need for context of the page while we designed the recurring giving section
            <div class="row commitments">
                <div class="col-sm-12">
                    <h3>Commitments</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    Ministry Fund
                                </td>
                                <td class="text-right">
                                    <span class="dollar-amount">$100.00</span>
                                    <p class="text-muted"><span>15th Monthly</span></p>
                                </td>
                                <td class="table-actions text-right">
                                    <a href="">Edit
                                    <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                        <use xlink:href="#pencil4"></use>
                                    </svg>
                                    </a>
                                    <a href="">Remove
                                    <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                                        <use xlink:href="#trash-o"></use>
                                    </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Game Change Fund
                                </td>
                                <td class="text-right">
                                    <span class="dollar-amount">$200.00</span>
                                    <p class="text-muted"><span>5th Monthly</span></p>
                                </td>
                                <td class="table-actions text-right">
                                    <a href="">Edit
                                    <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                        <use xlink:href="#pencil4"></use>
                                    </svg>
                                    </a>
                                    <a href="">Remove
                                    <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                                        <use xlink:href="#trash-o"></use>
                                    </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    OSG Fund
                                </td>
                                <td  class="text-right">
                                    <span class="dollar-amount">$300.00</span>
                                    <p class="text-muted"><span>Tuesdays Weekly</span></p>
                                </td>
                                <td class="table-actions text-right">
                                    <a href="">Edit
                                    <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                        <use xlink:href="#pencil4"></use>
                                    </svg>
                                    </a>
                                    <a href="">Remove
                                    <svg viewBox="0 0 25 32" class="icon icon-trash-o">
                                        <use xlink:href="#trash-o"></use>
                                    </svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12 text-middle">
                            <a href="" class="btn btn-primary">Add New</a>
                        </div>
                    </div>
                </div>
            </div>-->
      <!--/row-->

      <div class="alert alert-info">
        <p>
          When you provide a check as payment, you authorize us either to use information from your check to make a one-time electronic fund transfer from your account or to process the payment as a check transactions.  For inquiries please contact 513-731-7400.
        </p>
      </div><!--/alert-info-->

    </div>
    <!--/col-sm-12-->
  </div>
  <!--/row-->

  <ng-include src="'myprofile/templates/profile_giving_edit_modal.html'"></ng-include>
  <ng-include src="'myprofile/templates/profile_giving_remove_modal.html'"></ng-include>

</div>
<!--/profile-giving-->
