<!DOCTYPE html>
<html lang="en" ng-app="crossroads">

<head>
  <base href="/"></base>
  <style>
    /* Allow angular.js to be loaded in body, hiding cloaked elements until
     * templates compile.  The !important is important given that there may be
     * other selectors that are more specific or come later and might alter display.
     */
      [ng\:cloak],
      [ng-cloak],
      .ng-cloak {
          display: none !important;
      }
  </style>
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="apple-touch-icon" sizes="57x57" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="http://crossroads-media.s3.amazonaws.com/images/favicon/manifest.json">
  <link rel="shortcut icon" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="http://crossroads-media.s3.amazonaws.com/images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="http://crossroads-media.s3.amazonaws.com/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <script type="text/ng-template" id="on-submit-messages">
      <span ng-message="required"><span ng-bind-html="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span></span>
      <span ng-message="initiativeRequired"><span ng-bind-html="$root.MESSAGES.noInitiativeSelected.content | html"></span></span>
      <span ng-message="invalidRecurringStartDate"><span ng-bind-html="$root.MESSAGES.invalidRecurringStartDate.content | html"></span></span>
  </script>
  <script type="text/ng-template" id="on-pause-messages">
      <span ng-message="pattern"><span ng-bind-html="$root.MESSAGES.invalidData.content | html"></span></span>
      <span ng-message="invalidDate"><span ng-bind-html="$root.MESSAGES.invalidData.content | html"></span></span>
      <span ng-message="email"><span ng-bind-html="$root.MESSAGES.invalidEmail.content | html"></span></span>
  </script>
  <script type="text/ng-template" id="on-blur-messages">
      <span ng-message="minlength"><span ng-bind-html="$root.MESSAGES.invalidPassword.content | html"></span></span>
      <span ng-message="unique"><span ng-bind-html="$root.MESSAGES.emailInUse.content | html"></span></span>
      <span ng-message="email"><span ng-bind-html="$root.MESSAGES.invalidEmail.content | html"></span></span>
      <span ng-message="invalidRouting"><span ng-bind-html="$root.MESSAGES.invalidRoutingTransit.content | html"></span></span>
      <span ng-message="invalidAccount"><span ng-bind-html="$root.MESSAGES.invalidAccountNumber.content | html"></span></span>
      <span ng-message="naturalNumber"><span ng-bind-html="$root.MESSAGES.invalidDonationAmount.content | html"></span></span>
      <span ng-message="invalidZip"><span ng-bind-html="$root.MESSAGES.invalidZip.content | html"></span></span>
  </script>
  <ng-include src="'assets/cr.svg'"></ng-include>
  <!-- Hotjar Tracking Code for demo.crossroads.net -->
  <script>
      (function(f,b){
          var c;
          f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
          f._hjSettings={hjid:40735, hjsv:4};
          c=b.createElement("script");c.async=1;
          c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
          b.getElementsByTagName("head")[0].appendChild(c);
      })(window,document);
  </script>
  <link href="../assets/main.css" rel="stylesheet" />
</head>

<body ng-controller="coreController as app" ng-class="app.asideState.position">
  <div growl class="crossroads-growl">
  </div>

  <div>

    <ng-include src="'templates/header.html'"></ng-include>

    <div class="container-fluid main">
        <div class="row">
            <div class="col-md-12">

              <div class="jumbotron">
                <h1>Full Screen Layout</h1>
                <p>This is an example of the full screen template. This template contains the common header and footer and is not contained within a fixed width wrapper.</p>
              </div><!--/jumbotron-->

              <div class="row show-grid">
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-1">.col-md-1</div>
              </div>
              <style>
                .show-grid [class^=col-] {
                  padding-top: 10px;
                  padding-bottom: 10px;
                  background-color: rgba(59, 110, 143, 0.24);
                  border: 1px solid rgba(59, 110, 143, 0.18);
                  }
              </style>

            </div>
        </div>
    </div><!--/container-->

    <ng-include src="'templates/footer.html'"></ng-include>

  </div>

</body>

  <script src="https://js.stripe.com/v2/"></script>
  <script src="../assets/main.js"></script>

</html>
