<div>
    <form role="form" ng-init="profile.initSkills()">
        <fieldset class="row">
            <legend class="col-sm-12">My Selected Skills</legend>
            <ul class="col-sm-12 current-skills-list list-inline">
                <li ng-repeat="skill in profile.myskills() | filter: { Selected: true }">
                    <div class="label label-primary">
                        {{ skill.Name }} 
                        <i class="glyphicon glyphicon-trash" ng-click="profile.skillTrashCan(skill)"></i>
                    </div>
                </li>                
            </ul>
        </fieldset>

        <fieldset class="row add-skills">
            <p class="lead col-sm-12">Check off any super powers you may have.</p>
            <div class="form-group col-sm-12 row" ng-repeat="category in profile.skills">
                <label class="col-sm-3">{{ category.Name }}</label>
                <div class="cat-skill-group col-sm-9">
                    <div class="checkbox" ng-repeat="skill in category.Skills">
                        <label>
                            <input type="checkbox" ng-model="skill.Selected" ng-change="profile.skillChange(skill)"> {{ skill.Name }}
                        </label>
                    </div>
                </div>
            </div> <!-- /.form-group.col-sm-12 -->
        </fieldset>

    </form>
</div>
