<fieldset class="row household-cards">
    <legend class="col-sm-12">Your Household</legend>
    <div ng-repeat="member in family">
        <div class="col-md-4 profile-card clearfix">
            <div class="well well-sm">
                <div class="media">
                    <div class="thumbnail pull-left">
                        <img class="media-object" src="//crossroads-media.s3.amazonaws.com/images/avatar.svg" alt="Profile Default Photo" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{member.displayName}}</h4>
                        <p><span class="label label-info">{{member.householdPosition}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="row">
    <div class="form-group col-sm-6">
        <label for="street">Street</label>
        <input ng-model="profile.person.Address.Street" type="text" class="form-control" id="street" placeholder="Enter street address">
    </div>

    <div class="form-group col-sm-6">
        <label for="street2">Street 2</label>
        <input ng-model="profile.person.Address.Street2" type="text" class="form-control" id="street2" placeholder="Enter street address (cont.)">
    </div>

    <div class="form-group col-sm-6">
        <label for="city">City</label>
        <input ng-model="profile.person.Address.City" type="text" class="form-control" id="city" placeholder="Enter city">
    </div>

    <div class="form-group col-sm-6">
        <label for="state">State</label>
        <select class="form-control col-sm-12" ng-model="profile.person.Address.State" ng-options="state.dp_RecordName for state in profile.states track by state.dp_RecordName"></select>
    </div>

    <div class="form-group col-sm-6">
        <label for="zip">Zip</label>
        <input ng-model="profile.person.Address.Zip" type="text" class="form-control" id="zip" placeholder="Enter zip code">
    </div>

    <div class="form-group col-sm-6">
        <label for="county">County</label>
        <input ng-model="profile.person.Address.County" type="text" class="form-control" id="county" placeholder="Enter county">
    </div>

    <div class="form-group col-sm-6">
        <label for="country">Country</label>
        <select class="form-control col-sm-12"
                ng-model="profile.person.Address.Country"
                ng-options="country.dp_RecordName for country in profile.countries track by country.dp_RecordName"></select>
    </div>

    <hr class="col-sm-12" />

    <div class="form-group col-sm-6">
        <label for="homephone">Home Phone</label>
        <input ng-model="profile.person.Household.Home_Phone" type="text" class="form-control" id="homephone" placeholder="Enter home phone">
    </div>

    <hr class="col-sm-12" />
    <div id="Site" class="form-group col-sm-6">
        <label for="provider">Crossroads Location</label>
        <select class="form-control col-sm-12" ng-model="profile.person.Household.Congregation_ID"
                ng-options="congregation.dp_RecordID as congregation.dp_RecordName for congregation in profile.crossroadsLocations">
            <option value=""> -- Please select a Location -- </option>
        </select>
    </div>
</fieldset>
<button id="save-personal" ng-click="profile.savePersonal(profile)" class="btn btn-primary" data-style="expand-left">
    Save
</button>

