<div class="form-group col-sm-6">
    <label for="password">Change Password</label>
    <div class="input-group">
        <input type="password" class="form-control" id="password" name="password" ng-model="profile.account.NewPassword" ng-if="!profile.showPassword">
        <input type="text" class="form-control" id="password" name="password" ng-model="profile.account.NewPassword" ng-if="profile.showPassword" />
        <span class="input-group-addon">
            <label>
                <input type="checkbox" ng-click="profile.showPassword = !profile.showPassword"> Show
            </label>
        </span>
    </div><!-- /input-group -->
</div>