<ng-form name="password_field">
    <!--TODO Once global validation logic method has been created, use that shorter method here-->
    <div class="form-group" ng-class="{'has-error': password_field.password.$error.minlength||
         password_field.password.$error.required && submitted  && password_field.password.$dirty ||
         password_field.password.$error.required && submitted  && !password_field.password.$touched ||
         password_field.password.$error.required && submitted  && password_field.password.$touched ||
         !password_field.password.$error.required && password_field.password.$dirty && !password_field.password.$valid}">
        <div class=" input-group">
            <input type="{{inputType}}" class="form-control" id="{{prefix}}-password" placeholder="Password" ng-minlength="6" autocomplete="off" autocorrect="off" autocapitalize="off" ng-model="passwd" name="password" ng-required="{{required}}" ng-model-options="{ updateOn: 'blur', debounce: {'blur': 500} }"/>
            <a class="input-group-addon btn btn-standard pointer" id="{{prefix}}-show-hide-password" ng-click="pwprocess()"><small class="smaller ng-binding" ng-init="pwprocessing='SHOW'">{{pwprocessing}}</small></a>
        </div> <!--input-group-->
        <ng-messages for="password_field.password.$error">
          <ng-messages-include src="on-blur-messages"></ng-messages-include>
        </ng-messages>
        <ng-messages for="password_field.password.$error" ng-if="submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
    </div>
</ng-form>
