<form name="student" ng-submit="kcStudentApplication.save(this)" novalidate>
  <fieldset class="push-bottom">
    <legend>General Info</legend>
    <div class="row">

      <div class="form-group col-sm-6">
        <label for="firstname" class="control-label required">First Name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               placeholder="Enter first name"
               ng-value="kcStudentApplication.volunteer.firstName"
               disabled="true">
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label required" for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" ng-value="kcStudentApplication.volunteer.lastName" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="middleInitial">Middle Initial</label>
        <input type="text" class="form-control" id="middleInitial" placeholder="Enter middle initial" ng-value="kcStudentApplication.volunteer.middleName.substring(0,1)" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label required" for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" ng-value="kcStudentApplication.volunteer.emailAddress" disabled="true">
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': student.nameTag.$invalid && student.$submitted}">
        <label class="control-label required" for="nameTag">Name For Name Tag</label>
        <input type="text"
               class="form-control"
               id="nameTag"
               name="nameTag"
               placeholder="Enter name for name tag"
               ng-model="kcStudentApplication.nameTag"
               required>
        <ng-messages for="student.nameTag.$error" ng-if="student.$submitted && student.nameTag.$invalid" >
            <span ng-message="required">
              <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
            </span>
        </ng-messages>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label required" for="birthDate">Date of Birth</label>
        <input type="text" class="form-control" id="birthDate" placeholder="mm/dd/yyyy" ng-value="kcStudentApplication.volunteer.dateOfBirth" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="block required">Gender</label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="gender-male" value="1" ng-model="kcStudentApplication.volunteer.genderId" disabled="true">Male

        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="gender-female" value="2" ng-model="kcStudentApplication.volunteer.genderId" disabled="true">Female
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.siteAttend.$invalid}">
        <label class="block required">Site where you attend service</label>
        <label class="radio-inline">
          <input type="radio" value="oakley" name="siteAttend" ng-model="kcStudentApplication.site" required>Oakley
        </label>
        <label class="radio-inline">
          <input type="radio" value="florence" name="siteAttend" ng-model="kcStudentApplication.site" required>Florence
        </label>
        <label class="radio-inline">
          <input type="radio" value="west side" name="siteAttend" ng-model="kcStudentApplication.site" required>West Side
        </label>
        <label class="radio-inline">
          <input type="radio" value="mason" name="siteAttend" ng-model="kcStudentApplication.site" required>Mason
        </label>
        <label class="radio-inline">
          <input type="radio" value="clifton" name="siteAttend" ng-model="kcStudentApplication.site" required>Clifton
        </label>
        <ng-messages for="student.siteAttend.$error" ng-if="student.$submitted && student.siteAttend.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.attending.$invalid}">
        <label class="control-label required" for="attending">How long have you been attending Crossroads?</label>
        <input type="text"
               class="form-control"
               id="attending"
               name="attending"
               ng-model="kcStudentApplication.howLongAttending"
               placeholder="How long have you been attending crossroads?"
               required>
        <ng-messages for="student.attending.$error" ng-if="student.$submitted && student.attending.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.serviceAttend.$invalid}">
        <label class="control-label required" for="serviceAttend">What Service do you attend?</label>
        <input type="text"
               class="form-control"
               id="serviceAttend"
               name="serviceAttend"
               ng-model="kcStudentApplication.serviceAttend"
               placeholder="What Service do you attend?"
               required>
        <ng-messages for="student.serviceAttend.$error" ng-if="student.$submitted && student.serviceAttend.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>

      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label required" for="streetAddress">Street Address</label>
        <input type="text" class="form-control" id="streetAddress" placeholder="Street Address" ng-value="kcStudentApplication.volunteer.addressLine1" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label required" for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" ng-value="kcStudentApplication.volunteer.city" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label required" for="state">State</label>
        <input type="text" class="form-control" id="state" placeholder="State" ng-value="kcStudentApplication.volunteer.state" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label required" for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" placeholder="Zip" ng-value="kcStudentApplication.volunteer.postalCode" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="cellPhone">Cell Phone</label>
        <input type="text" 
               class="form-control" 
               id="cellPhone" 
               placeholder="CellPhone" 
               ng-value="kcStudentApplication.volunteer.mobilePhone" 
               disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="homePhone">Home Phone</label>
        <input type="text" class="form-control" id="homePhone" placeholder="Home Phone" ng-value="kcStudentApplication.volunteer.homePhone" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>

    </div>
    <!--/row-->
  </fieldset>

  <fieldset class="push-bottom">
    <legend>School</legend>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': student.school.$invalid && student.$submitted}">
        <label class="control-label required" for="school">School</label>
        <input type="text"
               class="form-control"
               id="school"
               name="school"
               placeholder="Enter school"
               ng-model="kcStudentApplication.school"
               required>
        <ng-messages for="student.school.$error" ng-if="student.$submitted && student.school.$invalid" >
          <span ng-message="required"><span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span></span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.grade.$invalid && student.$submitted}">
        <label class="control-label required" for="grade">Grade</label>
        <input type="text"
               class="form-control"
               id="grade"
               name="grade"
               ng-model="kcStudentApplication.grade"
               placeholder="Enter grade"
               required>
         <ng-messages for="student.grade.$error" ng-if="student.$submitted && student.grade.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>About You</legend>
    <div class="row">
      <div class="form-group col-sm-12" ng-class="{'has-error': student.religion.$invalid && student.$submitted}">
        <label class="control-label block required">Tell us where you are</label>
        <label class="radio-inline">
          <input type="radio"
                 value="I'm exploring my faith"
                 name="religion" ng-model="kcStudentApplication.whereYouAre" required>I'm exploring my faith
        </label>
        <label class="radio-inline">
          <input type="radio"
                 value="I'm not sure"
                 name="religion"
                 ng-model="kcStudentApplication.whereYouAre" required>I'm not sure
        </label>
        <label class="radio-inline">
          <input type="radio"
                 value="I'm a Christ-follower"
                 name="religion"
                 ng-model="kcStudentApplication.whereYouAre" required>I'm a Christ-follower
        </label>
        <ng-messages for="student.religion.$error" ng-if="student.$submitted && student.religion.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8" ng-class="{'has-error': student.explainFaith.$invalid && student.$submitted}">
        <label class="control-label required" for="explainFaith">Please Explain</label>
        <textarea class="form-control"
                  id="explainFaith"
                  name="explainFaith"
                  ng-model="kcStudentApplication.explainFaith"
                  placeholder="Please Explain"
                  required>
        </textarea>
        <ng-messages for="student.explainFaith.$error" ng-if="student.$submitted && student.explainFaith.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8" ng-class="{'has-error': student.prompted.$invalid && student.$submitted}">
        <label class="control-label required" for="promptedApplication">Why do you want to serve?</label>
        <input type="text"
               class="form-control"
               id="promptedApplication"
               name="prompted"
               ng-model="kcStudentApplication.whyServe"
               placeholder="Why do you want to serve?"
               required>
        <ng-messages for="student.prompted.$error" ng-if="student.$submitted && student.prompted.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="control-label" for="specialSkills">Any special talents, abilities, skills or experiences that may be helpful? (Juggling, fire eating, acting, or making weird noises with your armpit count.)</label>
        <input type="text" class="form-control" id="specialSkills" ng-model="kcStudentApplication.specialTalents" placeholder="Special talents...">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
    </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>Serving Opportunities</legend>
    <div class="row">
      <div class="col-sm-12" ng-class="{'has-error': student.$submitted && student.availability.$invalid }">
        <label class="block required control-label">What is your availability?</label>

        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="availability"
                   ng-model="kcStudentApplication.availabilityDuringWeek"
                   ng-required="!kcStudentApplication.availabilitySelected()">
            During the Week
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="availability"
                   ng-model="kcStudentApplication.availabilityDuringWeekend"
                   ng-required="!kcStudentApplication.availabilitySelected()">
            Weekend Services
          </label>
        </div>
        <ng-messages for="student.availability.$error" ng-if="student.$submitted && student.availability.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.availabilitySite.$invalid }">
        <label class="block required control-label" >Site name</label>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="availabilitySite"
                   value="oakley"
                   ng-model="kcStudentApplication.availabilityOakley"
                   ng-required="!kcStudentApplication.locationSelected()">
            Oakley
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value="florence"
                   name="availabilitySite"
                   ng-model="kcStudentApplication.availabilityFlorence"
                   ng-required="!kcStudentApplication.locationSelected()">
            Florence
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value="west side"
                   name="availabilitySite"
                   ng-model="kcStudentApplication.availabilityWestSide"
                   ng-required="!kcStudentApplication.locationSelected()">
            West Side
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value="mason"
                   name="availabilitySite"
                   ng-model="kcStudentApplication.availabilityMason"
                   ng-required="!kcStudentApplication.locationSelected()">
            Mason
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value="clifton"
                   name="availabilitySite"
                   ng-model="kcStudentApplication.availabilityClifton"
                   ng-required="!kcStudentApplication.locationSelected()">
            Clifton
          </label>
        </div>
        <ng-messages for="student.availabilitySite.$error" ng-if="student.$submitted && student.availabilitySite.$invalid" >
          <span ng-message="required"><span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span></span>
        </ng-messages>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.serveServiceTimes.$invalid }">
        <label class="control-label required" for="serveServiceTimes">During</label>
        <input type="text"
               class="form-control"
               id="serveServiceTimes"
               name="serveServiceTimes"
               ng-model="kcStudentApplication.serveServiceTimes"
               placeholder="Service Times"
               required>
        <ng-messages for="student.serveServiceTimes.$error" ng-if="student.$submitted && student.serveServiceTimes.$invalid" >
          <span ng-message="required"><span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span></span>
        </ng-messages>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-sm-12" ng-class="{'has-error': student.$submitted && student.serveAge.$invalid }">
        <label class="control-label required">What age kids do you prefer to serve with?</label>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value="1"
                   name="serveAge"
                   ng-model="kcStudentApplication.serveAgeKids.age1to2"
                   ng-required="!kcStudentApplication.gradeLevelSelected()">
            1 - 2 years old
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value="2"
                   name="serveAge"
                   ng-model="kcStudentApplication.serveAgeKids.age3toPreK"
                   ng-required="!kcStudentApplication.gradeLevelSelected()">
            3-year olds - Pre-K
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value="3"
                   name="serveAge"
                   ng-model="kcStudentApplication.serveAgeKids.Kto5Grade"
                   ng-required="!kcStudentApplication.gradeLevelSelected()">
            Kinder - 5th Grade
          </label>
        </div>
        <ng-messages for="student.serveAge.$error" ng-if="student.$submitted && student.serveAge.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>Personal References</legend>
    <div class="row">
      <p class="help-text col-sm-12">List two adults you have known for at least one year, who are not rleated to you and have a definite knowledge of your character and ability to work wtih kids (e.g. pastor, close friend, and/or teacher)</p>

      <h4 class="col-sm-12">First Reference</h4>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceName1.$invalid }">
        <label class="control-label required" for="referenceName-1">Name</label>
        <input type="text"
               class="form-control"
               id="referenceName-1"
               name="referenceName1"
               ng-model="kcStudentApplication.reference1.name"
               placeholder="Name"
               required>
        <ng-messages for="student.referenceName1.$error" ng-if="student.$submitted && student.referenceName1.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceTime1.$invalid }">
        <label class="control-label required" for="referenceTimeKnown-1">Length of time known</label>
        <input type="text"
               class="form-control"
               id="referenceTimeKnown-1"
               name="referenceTime1"
               ng-model="kcStudentApplication.reference1.timeKnown"
               placeholder="Length of time known"
               required>
         <ng-messages for="student.referenceTime1.$error" ng-if="student.$submitted && student.referenceTime1.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceHomePhone1.$invalid}">
        <label class="control-label" for="referenceHomePhone-1">Home Phone</label>
        <input type="text" 
               class="form-control" 
               id="referenceHomePhone-1"
               name="referenceHomePhone1"
               ng-pattern="kcStudentApplication.phoneFormat"
               ng-model="kcStudentApplication.reference1.homePhone" 
               placeholder="Home Phone">
        <ng-messages for="student.referenceHomePhone1.$error" ng-if="student.$submitted && student.referenceHomePhone1.$invalid">
          <span ng-message="pattern">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"></span>
          </span>
        </ng-messages>

      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceMobilePhone1.$invalid}">
        <label class="control-label" for="referenceMobilePhone-1">Mobile Phone</label>
        <input type="text" 
               class="form-control" 
               id="referenceMobilePhone-1" 
               name="referenceMobilePhone1"
               ng-model="kcStudentApplication.reference1.mobilePhone" 
               placeholder="Mobile Phone"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceMobilePhone1.$error" ng-if="student.$submitted && student.referenceMobilePhone1.$invalid">
          <span ng-message="pattern">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceWorkPhone1.$invalid}">
        <label class="control-label" for="referenceWorkPhone-1">Work Phone</label>
        <input type="text" 
               class="form-control" 
               id="referenceWorkPhone-1" 
               name="referenceWorkPhone1"
               ng-model="kcStudentApplication.reference1.workPhone" 
               placeholder="Work Phone"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceWorkPhone1.$error" ng-if="student.$submitted && student.referenceWorkPhone1.$invalid">
          <span ng-message="pattern">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceEmail1.$invalid }">
        <label class="control-label required" for="referenceEmail-1">Email</label>
        <input type="email"
               class="form-control"
               id="referenceEmail-1"
               name="referenceEmail1"
               ng-model="kcStudentApplication.reference1.email"
               placeholder="Email"
               required>
        <ng-messages for="student.referenceEmail1.$error" ng-if="student.$submitted && student.referenceEmail1.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
          <span ng-message="email">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidEmail].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceAssociation1.$invalid }">
        <label class="control-label required" for="referenceAssociation-1">Nature of Association</label>
        <input type="text"
               class="form-control"
               id="referenceAssociation-1"
               name="referenceAssociation1"
               ng-model="kcStudentApplication.reference1.association"
               placeholder="Nature of Association"
               required>
        <ng-messages for="student.referenceAssociation1.$error" ng-if="student.$submitted && student.referenceAssociation1.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceOccupation1.$invalid }">
        <label class="control-label required" for="referenceOccupation-1">Occupation</label>
        <input type="text"
               class="form-control"
               id="referenceOccupation-1"
               name="referenceOccupation1"
               ng-model="kcStudentApplication.reference1.occupation"
               placeholder="Occupation"
               required>
        <ng-messages for="student.referenceOccupation1.$error" ng-if="student.$submitted && student.referenceOccupation1.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <!--/row-->
    <hr />

    <div class="row">
      <!-- Reference #2 -->
      <h4 class="col-sm-12">Second Reference</h4>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceName2.$invalid }">
        <label class="control-label required" for="referenceName-2">Name</label>
        <input type="text"
               class="form-control"
               id="referenceName-2"
               name="referenceName2"
               ng-model="kcStudentApplication.reference2.name"
               placeholder="Name"
               required>
        <ng-messages for="student.referenceName2.$error" ng-if="student.$submitted && student.referenceName2.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceTime2.$invalid }">
        <label class="control-label required" for="referenceTimeKnown-2">Length of time known</label>
        <input type="text"
               class="form-control"
               id="referenceTimeKnown-2"
               name="referenceTime2"
               ng-model="kcStudentApplication.reference2.timeKnown"
               placeholder="Length of time known"
               required>
         <ng-messages for="student.referenceTime2.$error" ng-if="student.$submitted && student.referenceTime2.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceHomePhone2.$invalid}">
        <label class="control-label" for="referenceHomePhone-2">Home Phone</label>
        <input type="text" 
               class="form-control" 
               id="referenceHomePhone-2" 
               name="referenceHomePhone2"
               ng-model="kcStudentApplication.reference2.homePhone"
               ng-pattern="kcStudentApplication.phoneFormat"
               placeholder="Home Phone">
        <ng-messages for="student.referenceHomePhone2.$error" ng-if="student.$submitted && student.referenceHomePhone2.$invalid">
          <span ng-message="pattern">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceMobilePhone2.$invalid}">
        <label class="control-label" for="referenceMobilePhone-2">Mobile Phone</label>
        <input type="text" 
               class="form-control" 
               id="referenceMobilePhone-2" 
               name="referenceMobilePhone2"
               ng-model="kcStudentApplication.reference2.mobilePhone" 
               placeholder="Mobile Phone"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceMobilePhone2.$error" ng-if="student.$submitted && student.referenceMobilePhone2.$invalid">
          <span ng-message="pattern">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceWorkPhone2.$invalid}">
        <label class="control-label" for="referenceWorkPhone-2">Work Phone</label>
        <input type="text" 
               class="form-control" 
               id="referenceWorkPhone-2" 
               name="referenceWorkPhone2"
               ng-model="kcStudentApplication.reference2.workPhone" 
               placeholder="Work Phone"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceWorkPhone2.$error" ng-if="student.$submitted && student.referenceWorkPhone2.$invalid">
          <span ng-message="pattern">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceEmail2.$invalid }">
        <label class="control-label required" for="referenceEmail-2">Email</label>
        <input type="email"
               class="form-control"
               id="referenceEmail-2"
               name="referenceEmail2"
               ng-model="kcStudentApplication.reference2.email"
               placeholder="Email"
               required>
        <ng-messages for="student.referenceEmail2.$error" ng-if="student.$submitted && student.referenceEmail2.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
          <span ng-message="email">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidEmail].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceAssociation2.$invalid }">
        <label class="control-label required" for="referenceAssociation-2">Nature of Association</label>
        <input type="text"
               class="form-control"
               id="referenceAssociation-2"
               name="referenceAssociation2"
               ng-model="kcStudentApplication.reference2.association"
               placeholder="Nature of Association"
               required>
        <ng-messages for="student.referenceAssociation2.$error" ng-if="student.$submitted && student.referenceAssociation2.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.referenceOccupation2.$invalid }">
        <label class="control-label required" for="referenceOccupation-2">Occupation</label>
        <input type="text"
               class="form-control"
               id="referenceOccupation-2"
               name="referenceOccupation2"
               ng-model="kcStudentApplication.reference2.occupation"
               placeholder="Occupation"
               required>
        <ng-messages for="student.referenceOccupation2.$error" ng-if="student.$submitted && student.referenceOccupation2.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>    </div>
    <!--/row-->

    <hr />

    <div class="row">
      <p class="help-text col-sm-12">Okay, here's some formal stuff. We don't really talk like this, but we couldn't figure out how to say all this in kid-friendly language. So put your glasses on, read it and agree to it, please. The information contained in this application is true.
        I authorize any reference or church listed here to give you any information (including opinions) that they may have regarding my character and fitness for working with kids. By agreeing to this form, I also consent to a complete criminal background
        check now an din the future. I understand my involvement with Crossroads Kids' Club is influenced by the information provided by all these sources. I release from liability for damages any person or organizations identified by me in this application,
        and waive my right to inspect any written material from contact with them or from the criminal background check. I have carefully read the forgoing release and know the contents thereof and I agree to this release as my own free act. This is a
        legally binding agreement which I have read and understand.</p>
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.parentLastName.$invalid }" >
        <label class="control-label required" for="parentLastName">Last Name</label>
        <input type="text"
               class="form-control"
               id="parentLastName"
               name="parentLastName"
               ng-model="kcStudentApplication.parent.lastName"
               placeholder="Enter Parent Last Name"
               required>
        <ng-messages for="student.parentLastName.$error" ng-if="student.$submitted && student.parentLastName.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.parentFirstName.$invalid }">
        <label class="control-label required" for="parentFirstName">First Name</label>
        <input type="text"
               class="form-control"
               id="parentFirstName"
               name="parentFirstName"
               ng-model="kcStudentApplication.parent.firstName"
               placeholder="Enter Parent First Name"
               required>
        <ng-messages for="student.parentFirstName.$error" ng-if="student.$submitted && student.parentFirstName.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.parentHomePhone.$invalid }">
        <label class="control-label required" for="parentHomePhone">Home Phone</label>
        <input type="text"
               class="form-control"
               id="parentHomePhone"
               name="parentHomePhone"
               ng-model="kcStudentApplication.parent.homePhone"
               placeholder="Enter Parent Home Phone"
               required>
        <ng-messages for="student.parentHomePhone.$error" ng-if="student.$submitted && student.parentHomePhone.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.parentMobilePhone.$invalid }">
        <label class="control-label required" for="parentMobilePhone">Mobile Phone</label>
        <input type="text"
               class="form-control"
               id="parentMobilePhone"
               name="parentMobilePhone"
               ng-model="kcStudentApplication.parent.mobilePhone"
               placeholder="Enter Parent Mobile Phone"
               required>
        <ng-messages for="student.parentMobilePhone.$error" ng-if="student.$submitted && student.parentMobilePhone.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-12" ng-class="{'has-error': student.$submitted && student.parentEmail.$invalid }">
        <label class="control-label required" for="parentEmail">Email</label>
        <input type="email"
               class="form-control"
               id="parentEmail"
               name="parentEmail"
               ng-model="kcStudentApplication.parent.email"
               placeholder="Enter Parent Email"
               required>
        <ng-messages for="student.parentEmail.$error" ng-if="student.$submitted && student.parentEmail.$invalid" >
          <span ng-message="required">
            <span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
          </span>

           <span ng-message="email">
            <span ng-bind-html="$root.messages[$root.MESSAGES.invalidEmail].message | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.parentSignature.$invalid }">
        <label class="block required control-label">Parent/Guardian Consent</label>
        <label class="radio-inline">
          <input type="radio"
                 value="Yes"
                 name="parentSignature"
                 ng-model="kcStudentApplication.parentSignature"
                 required>
          Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 value="No"
                 name="parentSignature"
                 ng-model="kcStudentApplication.parentSignature"
                 required>
          No
        </label>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="parentSignatureDate">Date</label>
        <input name="parentSignatureDate"
               type="text"
               id="parentSignatureDate"
               class="form-control"
               ng-model="kcStudentApplication.parentSignatureDate"
               disabled>
      </div>

    </div>

    <div class="row" >
      <div class="form-group col-sm-6" ng-class="{'has-error': student.$submitted && student.studentSignature.$invalid }">
        <label class="block required">Student Agreement</label>
        <label class="radio-inline">
          <input type="radio"
                 value="Yes"
                 name="studentSignature"
                 ng-model="kcStudentApplication.studentSignature"
                 required>
          Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 value="No"
                 name="studentSignature"
                 ng-model="kcStudentApplication.studentSignature"
                 required>
          No
        </label>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="studentSignatureDate">Date</label>
        <input name="studentSignatureDate"
               type="text"
               id="studentSignatureDate"
               class="form-control"
               ng-model="kcStudentApplication.studentSignatureDate"
               disabled/>
      </div>
    </div>
    <!--/row-->
  </fieldset>
  <button type="submit" name="submit" id="submit" class="btn btn-primary push-half-bottom" ng-disabled="kcStudentApplication.saving"> {{kcStudentApplication.submitButtonText}} </button>

</form>
