<div class="modal-header">
  <h3 class="modal-title">Confirm Password</h3>
</div>
<div class="modal-body">
  <p>Please enter your password to save your changes.</p>
  <label>Password</label>
  <password-field required="true" passwd="credentials.password" submitted="navlogin.$submitted" prefix="passwordPrefix"></password-field>
</div>
<div class="modal-footer">
  <a ui-sref="forgotPassword" href="/forgot-password" class="pull-left">Forgot password?</a>
  <button class="btn btn-standard" type="button" ng-click="modal.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="modal.ok()">Confirm</button>
</div>