<div class="modal-header">
  <h3 class="modal-title">Confirm Password</h3>
</div>
<div class="modal-body" ng-switch on="pwModal.modalTypeItem">
  <!--<p>Please enter your password to save your changes.</p>-->
  <div dynamic-content="$root.MESSAGES.verifyEmailOnlyCredsChange.content | html" ng-switch-when="emailOnly"></div>
  <div dynamic-content="$root.MESSAGES.verifyOtherCredsChange.content | html" ng-switch-when="notEmailOnly"></div>
  <label>Password</label>
  <password-field required="true" passwd="pwModal.passwd" submitted="navlogin.$submitted" prefix="passwordPrefix"></password-field>
</div>
<div class="modal-footer">
  <a ui-sref="forgotPassword" href="/forgot-password" target="_blank" class="pull-left">Forgot password?</a>
  <button class="btn btn-standard" type="button" ng-click="pwModal.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="pwModal.ok()">Confirm</button>
</div>