<div class="nav" role="navigation">
    <div class="hidden-xs hidden-sm">
        <ul class="nav nav-pills cr-nav">
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>My Crossroads</a>

                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3" ng-if="$root.username == undefined">
                        <ul>
                            <login-form prefix="menu" ng-click="app.prevent($event)"></login-form>
                        </ul>
                    </li>
                    <li class="col-sm-3" ng-if="$root.username != undefined">
                        <ul>
                            <li class="dropdown-header">My Account</li>
                            <li><a href="">Dashboard</a>
                            </li>
                            <li><a ui-sref="profile">Profile</a>
                            </li>
                            <li><a ui-sref="giving_history">Giving History</a>
                             </li>
                             <li><a ui-sref="serve-signup">Sign Up to Serve</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3" ng-if="$root.username ==undefined">
                        <ul>
                            <li class="dropdown-header">Get Registered</li>
                            <li><a href="#">Register</a>
                            </li>
                            <li><a href="#">Why register?</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Most Recent Weekend</li>
                            <li><a href="#">The Feed</a>
                            </li>
                            <li><a href="#">Weekend service audio</a>
                            </li>
                            <li><a href="#">Weekend service video</a>
                            </li>
                            <li><a href="#">Weekend Kids' Club lesson</a>
                            </li>
                            <li><a href="#">Weekend Middle School lesson</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Learn about Crossroads</li>
                            <li><a href="#">Blog</a>
                            </li>
                            <li><a ui-sref="content({link:'/'})">Home</a>
                            </li>
                            <li><a href="#">Explore Crossroads</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Engage</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Serving Opportunities</li>
                            <li><a ui-sref="content({link:'/engage/'})">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a ui-sref="opportunities">Kids Club</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="/corkboard">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Connect</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Reachout</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Recently Mentioned</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Grow</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Ways to Grow</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">The Daily</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Community</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Lead Your Family</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>About</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">About Us</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Locations</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Pastoral Care</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Contact Us</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Give</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Give to Crossroads</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Give to Others</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Questions</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Media</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Recent Weekend Audio</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Media Categories</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Podcasts</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a href="#">Give time</a>
                            </li>
                            <li><a href="#">Give stuff</a>
                            </li>
                            <li><a href="#">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Campaign</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Game Change</li>
                            <li><a href="#">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a href="#">Small Groups</a>
                            </li>
                            <li><a href="#">Find A Small Group</a>
                            </li>
                            <li><a href="#">Start A Small Group</a>
                            </li>
                            <li><a href="#">Teens</a>
                            </li>
                            <li><a href="#">Corkboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-9 ">
                        <a href="http://www.crossroads.net/gamechange/" class="white"><img src="http://www.crossroads.net/images/gamechange/game_change_nav.gif" alt="Game Change" />
                        </a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="dropdown" dropdown>
                <a class="dropdown-toggle" dropdown-toggle href="#" role="button" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a href="#">Give</a>
                    </li>
                    <li role="presentation"><a href="#">Media</a>
                    </li>
                    <li role="presentation"><a href="#">Admin</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
