<!--
layout: full_page
title: Atrium Events Example
published: true
permalink: /atrium_events/
categories:
-->


<!--
Tate - these are included here because when I included them in the footer scripts, it quit working.
Whoever brings this into the Ministry Platform project, talk to me :)
-->

<!DOCTYPE html>
<html lang="en" ng-app="atrium-events">
<head>
	<base href="." />
</head>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://malsup.github.io/jquery.cycle2.js"></script>
<script src="http://malsup.github.io/jquery.cycle2.scrollVert.js"></script>

<body>
<div class="atrium-event-container" ng-controller="EventsController">

    <div class="table-responsive atrium-body">

        <div class="cycle-slideshow"
             data-cycle-speed="40000"
             data-cycle-fx="scrollVert"
             data-cycle-delay="0"
             data-cycle-loop="0"
             data-cycle-easing="linear"
             data-cycle-slides="> div"
             data-cycle-reverse="true"
             data-cycle-timeout="200">

            <div class="atrium-cycle-cell">
                <table class="table atrium-table">
                    <tbody>
						<tr ng-repeat="event in data.events">
                            <td class="first-cell">{{event.time}}<span>{{event.meridian}}</span></td>
                            <td class="second-cell">{{event.name}}</td>
                            <td class="third-cell">{{event.location}}</td>
                        </tr>
						<tr ng-if="data.events.length == 0">
							<td>No Events Scheduled</td>
						</tr>
                    </tbody>
                </table>
                <hr class="atrium-border" />
            </div>
        </div>
    </div><!--/table-responsive-->
</div><!--/atrium-event-container-->
<script src="assets/main.js"></script>
</body>

<script>
//Javascript is right in the template because I wasn't sure where to put custom jQuery
  var marqueeElement = jQuery(".atrium-body");
  var marqueeHeight = jQuery(marqueeElement).height();
  var windowHeight = jQuery(window).height();
  console.log("Marquee Height "+marqueeHeight);
  console.log("Window Height "+windowHeight);

  if (marqueeHeight >= windowHeight) {
    $(".atrium-cycle-cell").clone().appendTo( ".cycle-slideshow" );
    $("hr.atrium-border").show();
  };
 </script>