<!DOCTYPE html>
<html lang="en" ng-app="crossroads">

<head>
  <ng-include src="'templates/head.html'"> </ng-include>
  <link href="assets/main.css" rel="stylesheet" />
</head>

<body ng-controller="appController as app" ng-class="app.asideState.position">
  <div growl class="crossroads-growl">
  </div>

  <div>

    <ng-include src="'templates/header.html'"></ng-include>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <preloader ng-if="app.resolving" full-screen='true'> </preloader>
          <div ui-view ng-if="!app.resolving"> </div>
        </div>
      </div>
    </div>
    <!--/container-->

    <ng-include src="'templates/footer.html'"></ng-include>

  </div>

</body>
<script src="https://js.stripe.com/v2/"></script>
<script src="assets/dependencies.js"></script>
<script src="assets/main.js"></script>
</html>
