<!DOCTYPE html>
<html lang="en" ng-app="crossroads">
  <head>
    <base href="/"></base> 
    <style>
      /* Allow angular.js to be loaded in body, hiding cloaked elements until
       * templates compile.  The !important is important given that there may be
       * other selectors that are more specific or come later and might alter display.
       */
        [ng\:cloak],
        [ng-cloak],
        .ng-cloak {
            display: none !important;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="apple-touch-icon" sizes="57x57" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="http://crossroads-media.s3.amazonaws.com/images/favicon/manifest.json">
    <link rel="shortcut icon" href="http://crossroads-media.s3.amazonaws.com/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="http://crossroads-media.s3.amazonaws.com/images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="http://crossroads-media.s3.amazonaws.com/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="assets/main.css" rel="stylesheet" />
    <script type="text/ng-template" id="on-submit-messages">
        <span ng-message="required"><span ng-bind-html="$root.messages[$root.MESSAGES.fieldCanNotBeBlank].message | html"></span>
    </script>
    <script type="text/ng-template" id="on-pause-messages">
        <span ng-message="pattern"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidData].message | html"></span></span>
        <span ng-message="invalidDate"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidData].message | html"></span></span>
        <span ng-message="email"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidEmail].message | html"></span></span>
    </script>
    <script type="text/ng-template" id="on-blur-messages">
        <span ng-message="minlength"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidPassword].message | html"></span></span>
        <span ng-message="unique"><span ng-bind-html="$root.messages[$root.MESSAGES.emailInUse].message | html"></span></span>
        <span ng-message="email"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidEmail].message | html"></span></span>
        <span ng-message="invalidRouting"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidRoutingTransit].message | html"></span></span>
        <span ng-message="invalidAccount"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidAccountNumber].message | html"></span></span>
        <span ng-message="naturalNumber"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidDonationAmount].message | html"></span></span>
        <span ng-message="invalidZip"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidZip].message | html"></span></span>
    </script>
    <!-- Google Font Roboto Condensed http://www.google.com/fonts#UsePlace:use/Collection:Roboto+Condensed -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <ng-include src="'assets/cr.svg'"></ng-include>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body ng-controller="appCtrl" ng-class="asideState.position">
        <div growl class="crossroads-growl"></div>
        <div>
            <header ng-if="!state.current.data.hideMenu">
                <div class="overlay-container"></div>
                <!-- Brand Bar -->
                <div class="brandbar-container">
                    <div class='brandbar'>
                        <span class='b01'></span>
                        <span class='b02'></span>
                        <span class='b03'></span>
                        <span class='b04'></span>
                        <span class='b05'></span>
                        <span class='b06'></span>
                        <span class='b07'></span>
                        <span class='b08'></span>
                        <span class='b09'></span>
                        <span class='b10'></span>
                        <span class='b11'></span>
                        <span class='b12'></span>
                        <span class='b13'></span>
                        <span class='b14'></span>
                    </div>
                </div>
                <div id="menu">
                    <div class="container">
                        <div class="row">
                            <!-- TODO refactor this out into it's own directive, that uses the login and registration directives. The new directive should take an argument that is the internal directive (login and/or registration)* -->
                            <div class="col-xs-12 menu__container">
                                <div class="navbar-header">
                                    <div ng-class="{show: menu.isMobileShowing}">
                                        <button type="button" class="nav__side--toggle navbar-left hidden-md hidden-lg hidden-xl" ng-click="openAside('left', true)">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <a class="navbar-brand logo" href="/"><img src="//crossroads-media.s3.amazonaws.com/images/logo.svg" alt="crossroads">
                                    </a>
                                    <ul class="navbar--login list-unstyled">
                                        <span id="current-user" class="hidden-xs" ng-if="$root.username != undefined" ng-cloak> {{$root.username}} </span>
                                        <li class="hidden-xs ng-cloak" ng-show="$root.username != undefined" ng-cloak>
                                            <a href="#/home" ng-click="logout()" class="ng-cloak">Sign Out</a>
                                        </li>
                                        <li class="hidden-xs" data-toggle="dropdown" ng-show="$root.username == undefined">
                                            <button class="btn btn-primary" id="form-toggle" ng-click="toggleDesktopLogin(); passwordPrefix='login-dropdown'">
                                                <span>Login</span>
                                            </button>
                                        </li>

                                        <li>
                                            <ul class="navbar--login__dropdown list-unstyled col-md-3 soft-top soft-sides" role="menu" aria-labelledby="dropdownMenu1" ng-class="{toggleOpen: loginShow}">
                                                <li role="presentation">
                                                    <div class="navbar--register__container">
                                                        <div class="dd_menu">

                                                            <login-form></login-form>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="navbar--login list-unstyled">
                                        <li class="hidden-xs" data-toggle="dropdown" ng-show="$root.username == undefined">
                                            <button class="btn btn-primary" id="form-toggle" ng-click="toggleDesktopRegister(); passwordPrefix='registration'">
                                                <span>Register</span>
                                            </button>
                                        </li>

                                        <li>
                                            <ul class="navbar--login__dropdown list-unstyled col-md-3 soft-top soft-sides" role="menu" aria-labelledby="dropdownMenu2" ng-class="{toggleOpen: registerShow}">
                                                <li role="presentation">
                                                    <div class="navbar--register__container">
                                                        <div class="dd_menu">
                                                            <register-form></register-form>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <ng-include src="'templates/nav.html'"> </ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
        </div>
        <!--
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-3">
                            <img class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <h5 class="series-title">
                                <strong>
                                    Current Series
                                </strong>
                            </h5>
                            <p class="series-description"></p>
                            <br>
                            <a href="">View Messages</a>
                        </div>
                    </div>
                    <div class="col-sm-3 open">
                        <h5><strong>We’re Open.</strong></h5> 3500 Madison Open
                        <br> Free coffee, free Wi-Fi, and plenty of couches.
                        <br>
                        <a href="/oakley">Come on Over.</a>
                    </div>
                    <div class="col-sm-3 office">
                        <h5><strong>Our Office:</strong></h5> 3500 Madison Road
                        <br> Cincinnati, OH 45209
                        <br> 513.731.7400
                        <br>
                        <a href="/prayerrequest">Submit a Prayer Request</a>
                        <br>
                        <br>
                        <a href="/servicetimesanddirections">Service Times &amp; Directions</a>
                        <br>
                        <br>
                        <a href="/contact">
                            Contact Us | <a href="/privacypolicy">Privacy Policy</a>
                        <br>
                        <br>
                        <img src="//crossroads-media.s3.amazonaws.com/images/coc_logo.png" alt="Partner of Church of Cincinnati">
                    </div>
                </div>
            </div>
        </footer>
        -->
    </div>
    <script src="assets/main.js"></script>
</body>
</html>
