<div class="form-group col-sm-6">
    <label for="password">Change Password</label>
    <div class="input-group" ng-class="{'has-error':account_form.password.$invalid}">
        <input type="password" ng-minlength="6" autocomplete="off" class="form-control" id="password" name="password" ng-model="profile.password.password" ng-if="!profile.showPassword">
        <input type="text" ng-minlength="6" autocomplete="off" class="form-control" id="password" name="password" ng-model="profile.password.password" ng-if="profile.showPassword" />
        <span class="input-group-addon">
            <label>
                <input type="checkbox" ng-click="profile.showPassword = !profile.showPassword"> Show
            </label>
        </span>
    </div><!-- /input-group -->
    <div ng-show="account_form.password.$error.minlength">{{MESSAGES.invalidPassword}}</div>
</div>