<div class="form-group col-sm-6">
    <label for="password">Change Password</label>
    <div class="input-group" ng-class="{'has-error':account_form.password.$invalid}">
        <input ng-init="inputType='password'" type="{{inputType}}" class="form-control" id="password" placeholder="Password" ng-model="profile.password.password" ng-minlength="6" autocomplete="off">

        <span class="input-group-addon">
            <input ng-init="pwprocessing='SHOW'" type="checkbox" ng-click="pwprocess()">
            <label>{{pwprocessing}}</label>
        </span>
    </div><!-- /input-group -->
    <div ng-show="account_form.password.$error.minlength">{{MESSAGES.invalidPassword}}</div>
</div>