
<form name="loginForm" ng-controller="LoginCtrl as ctrl" ng-submit="ctrl.login(ctrl.credentials)" novalidate>

    <label for="username">Username:</label>
    <input id="username" type="Text" ng-model="ctrl.credentials.username" required />

    <label for="password">Password:</label>
    <input id="password" type="password" ng-model="ctrl.credentials.password" required />

    <button type="submit">Login</button>
    
    <span>isAuthorized: {{ctrl.credentials.username}}</span>

</form>
<span>isAuthorized: {{ctrl.credentials.username}}</span>