<preloader full-screen='true' ng-show="!contact.viewReady"> </preloader>

<div ng-if="contact.viewReady && contact.multipleRecordsSelected" class="alert alert-danger" role="alert">
  <div ng-bind-html="$root.MESSAGES.mptool_access_error.content | html"></div>
</div>

<div class='col-sm-10 col-sm-offset-1'
			style="overflow-y: scroll; height:40em;"
			ng-if='contact.viewReady && !contact.multipleRecordsSelected'>
  <div>
    <h2 class='header noPspace'> Contact Volunteers </h2>

    <div>some message?</div>

		<form name="contactForm">
    	<div class="form-group">
	      <label>Which Group would you like to add to?</label>
	      radio buttons to select current or potential
				<div> pick an event</div>
	    </div>

	    <div class="form-group">
	      <button class="btn btn-primary btn-sm" ng-click="contact.cancel()">Cancel</button>
				<button class="btn btn-primary btn-sm"
						ng-class="{disabled: contact.processing}"
						ng-disabled="!contactForm.$valid"
						ng-click="contact.save()">
					<span ng-if="contact.processing">Saving...</span>
					<span ng-if="!contact.processing">Save</span>
				</button>
	    </div>
    </form>
  </div>
</div>
