<div class="push-top">
  <div class="col-sm-5">
    <h1 class="brand-font type-color push-bottom">Oops.</h1>
    <h2 class="subheading push-bottom">File not found.<br>
    <a class="link-secondary" href="/">Click here </a>to return to the home page.</h2>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div><!--/col-sm-5-->
  <div class="col-sm-7">
     <a href="/"><img class="full-width center" src="//crossroads-media.s3.amazonaws.com/images/404crushedcoffee.png" alt="Page not found!"></a>
  </div><!--/col-sm-7-->
</div><!--/push-top-->
