<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-3">
                    <img class="img-responsive">
                </div>
                <div class="col-sm-9">
                    <h5 class="series-title">
                        <strong>
                            Current Series
                        </strong>
                    </h5>
                    <p class="series-description"></p>
                    <br>
                    <a href="">View Messages</a>
                </div>
            </div>
            <div class="col-sm-3 open">
                <h5><strong>We’re Open.</strong></h5> 3500 Madison Open
                <br> Free coffee, free Wi-Fi, and plenty of couches.
                <br>
                <a href="/oakley">Come on Over.</a>
            </div>
            <div class="col-sm-3 office">
                <h5><strong>Our Office:</strong></h5> 3500 Madison Road
                <br> Cincinnati, OH 45209
                <br> 513.731.7400
                <br>
                <a href="/prayerrequest">Submit a Prayer Request</a>
                <br>
                <br>
                <a href="/servicetimesanddirections">Service Times &amp; Directions</a>
                <br>
                <br>
                <a href="/contact">
                    Contact Us | <a href="/privacypolicy">Privacy Policy</a>
                <br>
                <br>
                <img src="//crossroads-media.s3.amazonaws.com/images/coc_logo.png" alt="Partner of Church of Cincinnati">
            </div>
        </div>
    </div>
</footer>
