<ul>
    <li>
        <div class="snap-drawer-search input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon"><svg viewBox="0 0 32 32" class="icon icon-search3"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/cr.svg#search3"></use></svg></span>
        </div>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>My Crossroads</a>
        <ul class="dropdown-menu">
            <li ng-if="$root.username == undefined">
                <div class="dd_menu side-nav-login clearfix">
                    <login-form prefix="mobile-page" ng-click="prevent($event)"></login-form>
                </div>
            </li>
            <li ng-if="$root.username != undefined">
                <ul>
                    <li><a href="" snap-close>Dashboard</a>
                    </li>
                    <li><a ui-sref="profile" snap-close>Profile</a>
                    </li>
                    <li><a href="#/home" ng-click="logout()" class="ng-cloak">Sign Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Engage</a>
        <ul class="dropdown-menu">
            <li><a ui-sref="content({urlsegment:'engage'})" snap-close>Get Involved (Overview)</a>
            </li>
            <li><a href="#" snap-close>Connect</a>
            </li>
            <li><a href="#" snap-close>Corkboard</a>
            </li>
            <li><a href="#" snap-close>Reach Out</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Grow</a>
        <ul class="dropdown-menu">
            <li><a href="#" snap-close>Essentials of Growth</a>
            </li>
            <li><a href="#" snap-close>Subscribe to the Daily</a>
            </li>
            <li><a href="#" snap-close>Get in Community</a>
            </li>
            <li><a href="#" snap-close>Baptism</a>
            </li>
            <li><a href="#" snap-close>Parent Resources</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>About</a>
        <ul class="dropdown-menu">
            <li><a href="#" snap-close>Explore Crossroads</a>
            </li>
            <li><a href="#" snap-close>Who We Are</a>
            </li>
            <li><a href="#" snap-close>Blog</a>
            </li>
            <li><a href="#" snap-close>Service Times &amp; Directions</a>
            </li>
            <li><a href="#" snap-close>Pastoral Care</a>
            </li>
            <li><a href="#" snap-close>Contact Us</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Give</a>
        <ul class="dropdown-menu">
            <li><a href="#" snap-close>Recurring Gift</a>
            </li>
            <li><a href="#" snap-close>One-time Gift</a>
            </li>
            <li><a href="#" snap-close>Transfer Stock</a>
            </li>
            <li><a href="#" snap-close>Estate Giving</a>
            </li>
            <li><a href="#" snap-close>Financial Philosophy</a>
            </li>
            <li><a href="#" snap-close>Give To Others</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Media</a>
        <ul class="dropdown-menu">
            <li><a href="#" snap-close>Weekend Messages</a>
            </li>
            <li><a href="#" snap-close>Music</a>
            </li>
            <li><a href="#" snap-close>Videos</a>
            </li>
            <li><a href="#" snap-close>Podcast</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Admin</a>
        <ul class="dropdown-menu">
            <li><a href="#" snap-close>Admin</a>
            </li>
            <li><a href="#" snap-close>Ministry Platform</a>
            </li>
        </ul>
    </li>
</ul>