<ul>
    <li>
        <div class="snap-drawer-search input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon"><svg viewBox="0 0 32 32" class="icon icon-search3"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/cr.svg#search3"></use></svg></span>
        </div>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>My Crossroads</a>
        <ul class="dropdown-menu">
            <li>
                <div class="dd_menu side-nav-login clearfix">
                    <login-form ng-click="prevent($event)"></login-form>
                </div>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Engage</a>
        <ul class="dropdown-menu">
            <li><a ui-sref="content({urlsegment:'engage'})">Get Involved (Overview)</a>
            </li>
            <li><a href="#">Connect</a>
            </li>
            <li><a href="#">Corkboard</a>
            </li>
            <li><a href="#">Reach Out</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Grow</a>
        <ul class="dropdown-menu">
            <li><a href="#">Essentials of Growth</a>
            </li>
            <li><a href="#">Subscribe to the Daily</a>
            </li>
            <li><a href="#">Get in Community</a>
            </li>
            <li><a href="#">Baptism</a>
            </li>
            <li><a href="#">Parent Resources</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>About</a>
        <ul class="dropdown-menu">
            <li><a href="#">Explore Crossroads</a>
            </li>
            <li><a href="#">Who We Are</a>
            </li>
            <li><a href="#">Blog</a>
            </li>
            <li><a href="#">Service Times &amp; Directions</a>
            </li>
            <li><a href="#">Pastoral Care</a>
            </li>
            <li><a href="#">Contact Us</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Give</a>
        <ul class="dropdown-menu">
            <li><a href="#">Recurring Gift</a>
            </li>
            <li><a href="#">One-time Gift</a>
            </li>
            <li><a href="#">Transfer Stock</a>
            </li>
            <li><a href="#">Estate Giving</a>
            </li>
            <li><a href="#">Financial Philosophy</a>
            </li>
            <li><a href="#">Give To Others</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Media</a>
        <ul class="dropdown-menu">
            <li><a href="#">Weekend Messages</a>
            </li>
            <li><a href="#">Music</a>
            </li>
            <li><a href="#">Videos</a>
            </li>
            <li><a href="#">Podcast</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>Admin</a>
        <ul class="dropdown-menu">
            <li><a href="#">Admin</a>
            </li>
            <li><a href="#">Ministry Platform</a>
            </li>
        </ul>
    </li>
</ul>