<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="Web.common.config"></appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PlatformService" maxReceivedMessageSize="1000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://my.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService"
          contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" />
    </client>
  </system.serviceModel>
</configuration>