<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MyCommunicationPreferences" value="479" />
    <add key="MyContact" value="455" />
    <add key="MyHousehold" value="465" />
    <add key="ChangePassword" value="475" />
    <add key="MySkills" value="421" />
    <add key="ContactAttributes" value="412" />
    <add key="Emails" value="481" />
    <add key="Genders" value="311" />
    <add key="MaritalStatus" value="339"/>
    <add key="ServiceProviders" value="453"/>
    <add key="States" value="452"/>
    <add key="Countries" value="442"/>
    <add key="CrossroadsLocations" value="446"/>
    <add key="TokenURL" value="https://my.crossroads.net/ministryplatform/oauth/token"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PlatformService" maxReceivedMessageSize="100000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://my.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService"
          contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" />
    </client>
  </system.serviceModel>
</configuration>