<div class="col-sm-2 gray-lighter clearfix">
  <a href="" class="filter-clear" data-ng-click="clearFilters()" >Clear All</a>
  <h5>Filter Opportunities</h5>

  <div class="push-half-bottom filter-group">
    <div class="form-group">
      <label>From:</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div><!--/input-group-->
    </div><!--/form-group-->

    <div class="form-group">
      <label>To:</label>
      <div class="input-group">
        <input type="text" class="form-control" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div><!--/input-group-->
    </div><!--/form-group-->
  </div><!--/push-bottom-->

  <div class="push-half-bottom filter-group" ng-if="uniqueMembers.length > 1" >
    <div class="checkbox" data-ng-repeat="member in uniqueMembers">
      <label>
        <input type="checkbox" ng-model="member.selected" ng-change="toggleFamilyMember(member)"> {{member.name + " " + member.lastName}}
      </label>
    </div>
  </div><!--/push-bottom-->

  <div class="push-half-bottom filter-group" ng-if="uniqueTeams.length > 1" >
    <div class="checkbox" data-ng-repeat="team in uniqueTeams">
      <label>
        <input type="checkbox" ng-model="team.selected" ng-change="toggleTeam(team)"> {{team.name}}
      </label>
    </div>
  </div><!--/push-bottom-->

  <div class="push-half-bottom filter-group">
    <div class="checkbox">
      <label>
        <input type="checkbox"> <span> Signed Up Yes </span>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Signed Up No
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Not Signed Up
      </label>
    </div>
  </div><!--/push-bottom-->

  <div class="push-half-bottom filter-group" ng-if="uniqueTimes.length > 1" >
    <div class="checkbox" data-ng-repeat="time in uniqueTimes">
      <label>
        <input type="checkbox" ng-model="time.selected" ng-change="toggleTime(time)"> {{ time.time | time }}
      </label>
    </div>
  </div><!--/push-bottom-->




</div>
