<!-- <div ng-show="groupsignup.viewReady"> -->
<div class="row">
  <div class="col-sm-12">
    <div ng-show="groupsignup.viewReady">
      <h1 class="page-header" dynamic-content="groupsignup.signupPage.title | html"></h1>

        <div ng-show="groupsignup.alreadySignedUp" dynamic-content="groupsignup.signupPage.existingMember | html"></div>

        <div >

          <p id="content" class="noPspace" dir="ltr"
             dynamic-content="groupsignup.signupPage.content | html"
             ng-show="groupsignup.showContent && !groupsignup.waitListCase && !groupsignup.alreadySignedUp && !groupsignup.showFull">
          </p>

          <p id="successMessage" dynamic-content="groupsignup.signupPage.success | html" ng-show="groupsignup.showSuccess && !groupsignup.waitListCase"></p>
          <p id="fullGroupMessage" dynamic-content="groupsignup.signupPage.full | html" ng-show="groupsignup.showFull"></p>
          <p id="waitListMessage" dynamic-content="groupsignup.signupPage.waitList | html" ng-show="groupsignup.showWaitList && groupsignup.waitListCase && !groupsignup.alreadySignedUp"></p>
          <p id="waitSuccessMessage" dynamic-content="groupsignup.signupPage.waitSuccess | html" ng-show="groupsignup.showWaitSuccess && groupsignup.waitListCase"></p>
        </div>

        <div class="row" ng-show="groupsignup.showContent">
          <legend>Participants</legend>
          <form  class="form-group" name="myForm" role="form" ng-submit="groupsignup.signup(myForm)" id="myForm">
            <p>
              <div class="checkbox"
                   ng-repeat="person in groupsignup.response as people"
                   ng-class="{'has-error':!groupsignup.formValid && !person['userInGroup']}">
                <label>
                  <span ng-show="groupsignup.response.length > 1">
                    <input name="input"
                           type="checkbox"
                           ng-checked="person.userInGroup"
                           ng-disabled="person.userInGroup || groupsignup.showFull"
                           ng-model="person.newAdd"
                           ng-true-value="'{{person.participantId}}'"
                           ng-false-value="''">
                    &nbsp;
                  </span>
                  <span>{{person.nickName}}</span>
                  <span>({{person.emailAddress}})</span>
                  <span ng-show="people.indexOf(person) === 0">
                    <a href="" ng-click="groupsignup.editProfile()">
                      <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                        <use xlink:href="#pencil4"></use>
                      </svg>
                    </a>
                  </span>
                </label>
                <div ng-show="groupsignup.childCareAvailable && !person.userInGroup">
                  <child-care-need
                      participant-id='person.participantId'
                      on-change='groupsignup.childCareChange'>
                  </child-care-need>
                </div>
              </div>
            </p>
            <p ng-show="!groupsignup.alreadySignedUp && !groupsignup.showFull">
              <loading-button
                 loading-text='Saving...'
                 normal-text='Sign Up'
                 input-type='submit'
                 input-classes='btn btn-primary push-half-bottom'
                 loading-class='disabled'
                 loading='groupsignup.saving' >
              </loading-button>
            </p>
          </form>
        </div>
        <pre>{{groupsignup.locations}}</pre>
      <script type="text/ng-template" id="editProfile.html">
        <div class="modal-header">
          <a type="button" class="close" ng-click="groupsignup.modalInstance.close()">x</a>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <profile-personal
            updated-person='groupsignup.response[0]'
            modal-instance="groupsignup.modalInstance"
            for-trips="true"
            locations='groupsignup.locations'
            allow-password-change="false"/>
        </div>
      </script>
    </div>
  </div>
</div>
