<div class="push-top">
  <div class="col-sm-5">
    <h1 class="brand-font type-color page-header">Oops.</h1>
    <h2 class="subheading push-bottom">We're sorry. There was an error loading the page.</h2>
    <form role="form">
      <div class="form-group">
        <p>
          Use the navigation above or maybe we can find what you're looking for?
        </p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-gray-light btn-block" type="submit">
              <svg viewBox="0 0 32 32" class="icon icon-search3 icon-medium">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search3"></use>
              </svg>
            </button>
          </span>
        </div>
        <!--<p class="push-top">
         If not, here are some popular pages you might have been looking for:
        </p>
        <ul>
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="home">Engage</a></li>
          <li><a ui-sref="home">Give</a></li>
          <li><a ui-sref="home">Media</a></li>
          <li><a ui-sref="home">Contact Us</a></li>
        </ul>-->
        <p class="push-top">
          <strong>Still need help?</strong> <br />Browse our <a href="#">help section</a>, <a href="#">email us</a> or give us a call at 513-731-7400.
        </p>
      </div>
    </form>
  </div><!--/col-sm-5-->
  <div class="col-sm-7 push-top">
     <a href="/"><img class="full-width center" src="//crossroads-media.s3.amazonaws.com/images/coffee-cup-crushed.jpg" alt="Page not found!"></a>
  </div><!--/col-sm-7-->
</div><!--/push-top-->
