<footer ng-if="!app.state.current.data.hideMenu">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 push-bottom">
          <h5><img class="img-responsive" src="http://s3.amazonaws.com/crossroads-media/images/BOSS_190_110.jpg"></h5>
      </div>
      <div class="col-sm-4 push-bottom">
          <h5 class="series-title">
              <strong>
                Current Series August 18 &#8211; September 14: Like A Boss
              </strong>
          </h5>
          <p class="series-description">Do your job like a BOSS. Crush that spreadsheet. Mulch like you own the place. Pack those lunches like you're the world champ of Capri Sun. God designed us to work, and he loves when we pile-drive our to-do lists into oblivion. So let's learn what it takes to work with purpose and authority (besides just growing a stache)</p>
          <a href="">View Series</a>
      </div>
      <div class="col-sm-3 open push-bottom">
          <h5><strong>One Church | Five Locations</strong></h5>
          <a href="">Clifton</a><br>
          <a href="">Florence</a><br>
          <a href="">Mason</a><br>
          <a href="">Oakley</a><br>
          <a href="">West Side</a><br>
      </div>
      <div class="col-sm-3 office push-bottom">
          <sn-addthis-toolbox class="addthis_crossroads_sharing clearfix addthis_32x32_style">
              <a href class="addthis_button_facebook"></a>
              <a href class="addthis_button_twitter"></a>
              <a href class="addthis_button_email"></a>
          </sn-addthis-toolbox>
          <br>
          <br>
          <a href="/prayerrequest">Submit a Prayer Request</a><br>
          <a href="/servicetimesanddirections">Service Times &amp; Directions</a><br>
          <a href="/privacypolicy">Privacy Policy</a><br>
          <br>
          <img class="img-responsive" src="//crossroads-media.s3.amazonaws.com/images/coc_logo.png" alt="Partner of Church of Cincinnati">
      </div>
    </div>
  </div>
</footer>
