<header ng-if="!app.state.current.data.hideMenu">
    <div class="overlay-container"></div>
    <!-- Brand Bar -->
    <ng-include src="'templates/brand-bar.html'"></ng-include>

    <div id="menu">
        <div class="container">
            <div class="row">
                <!-- TODO refactor this out into it's own directive, that uses the login and registration directives. The new directive should take an argument that is the internal directive (login and/or registration)* -->
                <div class="col-xs-12 menu__container hidden-print">
                    <div class="navbar-header">
                        <div ng-class="{show: menu.isMobileShowing}">
                            <button type="button" class="nav__side--toggle navbar-left hidden-md hidden-lg hidden-xl" ng-click="app.openAside('left', true)">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <a class="navbar-brand logo" ui-sref="home" href="/"><img src="//crossroads-media.s3.amazonaws.com/images/logo.svg" alt="crossroads">
                        </a>
                        <ul class="navbar--login list-unstyled">
                            <span id="current-user" class="hidden-xs" ng-if="$root.username != undefined" ng-cloak> {{$root.username}} </span>
                            <li class="hidden-xs ng-cloak" ng-show="$root.username != undefined" ng-cloak>
                                <a ui-sref="logout" class="ng-cloak">Sign Out</a>
                            </li>
                            <li class="hidden-xs" data-toggle="dropdown" ng-show="$root.username == undefined">
                                <button class="btn btn-primary" id="form-toggle" ng-click="toggleDesktopLogin(); passwordPrefix='login-dropdown'">
                                    <span>Log In</span>
                                </button>
                            </li>

                            <li>
                                <ul class="navbar--login__dropdown list-unstyled col-md-3 soft-top soft-sides" role="menu" aria-labelledby="dropdownMenu1" ng-class="{toggleOpen: loginShow}">
                                    <li role="presentation">
                                        <div class="navbar--register__container">
                                            <div class="dd_menu">

                                                <login-form></login-form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar--login list-unstyled">
                            <li class="hidden-xs" data-toggle="dropdown" ng-show="$root.username == undefined">
                                <button class="btn btn-standard" id="form-toggle" ng-click="toggleDesktopRegister(); passwordPrefix='registration'">
                                    <span>Create an Account</span>
                                </button>
                            </li>

                            <li>
                                <ul class="navbar--login__dropdown list-unstyled col-md-3 soft-top soft-sides" role="menu" aria-labelledby="dropdownMenu2" ng-class="{toggleOpen: registerShow}">
                                    <li role="presentation">
                                        <div class="navbar--register__container">
                                            <div class="dd_menu">
                                                <register-form></register-form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- search box -->
                        <div class="pull-right site-search visible-lg visible-md">

                          <a class="btn btn-link" href="" ui-sref="search">
                            <svg viewBox="0 0 32 32" class="icon icon-medium icon-search3">
                              <use xlink:href="#search3"></use>
                            </svg>
                          </a>
                      </div>
                      <!-- /search box -->
                    </div>
                    <ng-include src="'templates/nav.html'"> </ng-include>
                </div>
            </div>
        </div>
    </div>
</header>
