<ul>
    <li>
        <div class="input-group side-nav-search">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon"><svg viewBox="0 0 32 32" class="icon icon-search3"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search3"></use></svg></span>
        </div>

    </li>
    <li>
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
        </svg>
        <a href="#" ng-click="myCrdsCollapse = !myCrdsCollapse">My Crossroads</a>
        <ul collapse="!myCrdsCollapse" class="drop-menu">
            <li ng-if="$root.username == undefined">
                <div class="dd_menu side-nav-login clearfix">
                    <login-form prefix="mobile-page" ng-click="app.prevent($event)"></login-form>
                </div>
                <ul>
                    <li><a ui-sref="register" ng-click="ok($event)">Create an Account</a>
                    </li>
                </ul>
            </li>
            <li ng-if="$root.username != undefined">
                <ul>
                    <li><a ui-sref="profile" ng-click="ok($event)">Profile</a>
                    </li>
                    <li><a ui-sref="history" ng-click="ok($event)">Giving History</a>
                    </li>
                    <li><a ui-sref="serve-signup" ng-click="ok($event)">Sign Up to Serve</a></li>
                    <li><a href="#/" ng-click="logout($event)" class="ng-cloak" ng-click="ok($event)">Sign Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
        </svg>
        <a href="#" ng-click="engageCollapse = !engageCollapse">Engage</a>
        <ul collapse="!engageCollapse" class="drop-menu">
          <li><a ui-sref="content({link:'/engage/'})" ng-click="ok($event)">Get Involved (Overview)</a>
          </li>
          <li><a href="#" ng-click="ok($event)">Connect</a>
          </li>
          <li><a href="/corkboard/">Corkboard</a>
          </li>
          <li><a href="#" ng-click="ok($event)">Reach Out</a>
          </li>
        </ul>
    </li>
    <li>
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
        </svg>
        <a href="#" ng-click="growCollapse = !growCollapse">Grow</a>
        <ul collapse="!growCollapse" class="drop-menu">
            <li><a ui-sref="grow" ng-click="ok($event)">Essentials of Growth</a>
            </li>
            <li><a ui-sref="thedaily" ng-click="ok($event)">Subscribe to the Daily</a>
            </li>
            <li><a ui-sref="get-in-community" ng-click="ok($event)">Get in Community</a>
            </li>
            <li><a ui-sref="family-resources" ng-click="ok($event)">Family Resources</a>
            </li>
        </ul>
    </li>
    <li>
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
        </svg>
        <a href="#" ng-click="aboutCollapse = !aboutCollapse">About</a>
        <ul collapse="!aboutCollapse" class="drop-menu">
            <li><a ui-sref="explore-crossroads" ng-click="ok($event)">Explore Crossroads</a>
            </li>
            <li><a ui-sref="who-we-are" ng-click="ok($event)">Who We Are</a>
            </li>
            <li><a ui-sref="blog" ng-click="ok($event)">Blog</a>
            </li>
            <li><a ui-sref="service-times" ng-click="ok($event)">Service Times &amp; Directions</a>
            </li>
            <li><a ui-sref="pastoral-care" ng-click="ok($event)">Pastoral Care</a>
            </li>
        </ul>
    </li>
    <li>
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
        </svg>
        <a href="#" ng-click="giveCollapse = !giveCollapse">Give</a>
        <ul collapse="!giveCollapse" class="drop-menu">
            <li><a ui-sref="recurring-gift" ng-click="ok($event)">Recurring Gift</a>
            </li>
            <li><a ui-sref="give" ng-click="ok($event)">One-time Gift</a>
            </li>
            <li><a ui-sref="transfer-stock" ng-click="ok($event)">Transfer Stock</a>
            </li>
            <li><a ui-sref="estate-giving" ng-click="ok($event)">Estate Giving</a>
            </li>
            <li><a ui-sref="tripgiving" ng-click="ok($event)">Give to Someone's Trip</a>
            </li>
            <li><a href="/corkboard/">Give Your Stuff</a>
            </li>
        </ul>
    </li>
    <li>
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
        </svg>
        <a href="#" ng-click="mediaCollapse = !mediaCollapse">Media</a>
        <ul collapse="!mediaCollapse" class="drop-menu">
            <li><a ui-sref="messages" ng-click="ok($event)">Weekend Messages</a>
            </li>
            <li><a ui-sref="music" ng-click="ok($event)">Music</a>
            </li>
            <li><a ui-sref="video" ng-click="ok($event)">Videos</a>
            </li>
        </ul>
    </li>
    <li>
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
            <use xlink:href="#arrow-right9"></use>
        </svg>
        <a href="#" ng-click="adminCollapse = !adminCollapse">Admin</a>
        <ul collapse="!adminCollapse" class="drop-menu">
            <li><a href="https://admindemo.crossroads.net/ministryplatform/" target="_blank" ng-click="ok($event)">Ministry Platform (Demo)</a>
            </li>
            <li><a href="https://adminint.crossroads.net/ministryplatform/" target="_blank" ng-click="ok($event)">Ministry Platform (Integration)</a>
            </li>
        </ul>
    </li>
</ul>
