<div class="nav" role="navigation">
    <div class="hidden-xs hidden-sm">
        <ul class="nav nav-pills cr-nav">
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>My Crossroads</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3" ng-if="$root.username == undefined">
                        <ul>
                            <login-form prefix="menu" ng-click="app.prevent($event)"></login-form>
                        </ul>
                    </li>
                    <li class="col-sm-3" ng-if="$root.username != undefined">
                        <ul>
                            <li class="dropdown-header">My Account</li>
                            <li><a ui-sref="profile">Profile</a>
                            </li>
                            <li><a ui-sref="history">Giving History</a>
                             </li>
                             <li><a ui-sref="serve-signup">Sign Up to Serve</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3" ng-if="$root.username ==undefined">
                        <ul>
                            <li class="dropdown-header">Create an Account</li>
                            <li><a ui-sref="register">Create an Account</a>
                            </li>
                            <li><a ui-sref="why">Why Create an Account?</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Recent Weekend Services</li>
                            <li><a href="#">The Feed</a>
                            </li>
                            <li><a href="#">Weekend service audio</a>
                            </li>
                            <li><a href="#">Weekend service video</a>
                            </li>
                            <li><a href="#">Weekend Kids' Club lesson</a>
                            </li>
                            <li><a href="#">Weekend Middle School lesson</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Learn about Crossroads</li>
                            <li><a ui-sref="blog">Blog</a>
                            </li>
                            <li><a ui-sref="home">Home</a>
                            </li>
                            <li><a ui-sref="explore">Explore Crossroads</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Engage</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Serving Opportunities</li>
                            <li><a ui-sref="content({link:'/engage/'})">Get Involved (Overview)</a>
                            </li>
                            <li><a ui-sref="first-impressions">First Impressions</a>
                            </li>
                            <li><a ui-sref="kids-club">Kids' Club</a>
                            </li>
                            <li><a ui-sref="student-ministry">Student Ministry</a>
                            </li>
                            <li><a ui-sref="small-groups">Small Groups</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a ui-sref="creative-arts">Creative Arts</a>
                            </li>
                            <li><a ui-sref="behind-the-scenes">Behind the Scenes</a>
                            </li>
                            <li><a ui-sref="pastoral-care">Pastoral Care</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Connect</li>
                            <li><a ui-sref="connect">Overview</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a ui-sref="small-groups">Small Groups</a>
                            </li>
                            <li><a ui-sref="find-a-small-group">Find A Small Group</a>
                            </li>
                            <li><a ui-sref="start-a-small-group">Start A Small Group</a>
                            </li>
                            <li><a ui-sref="student-ministry">Teens</a>
                            </li>
                            <li><a href="/corkboard/">Corkboard</a>
                            </li>
                            <li><a ui-sref="unpolished">Unpolished</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Reachout</li>
                            <li><a ui-sref="reachout">Overview</a>
                            </li>
                            <li><a ui-sref="give-time">Give time</a>
                            </li>
                            <li><a ui-sref="give-stuff">Give stuff</a>
                            </li>
                            <li><a ui-sref="go-somewhere">GO somewhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Grow</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Ways to Grow</li>
                            <li><a ui-sref="grow">Essentials of Growth</a>
                            </li>
                            <li><a ui-sref="content({link:'/the-daily-getting-started/'})">Subscribe to The Daily</a>
                            </li>
                            <li><a ui-sref="get-in-community">Get in Community</a>
                            </li>
                            <li><a ui-sref="baptism">Baptism</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">The Daily</li>
                            <li><a ui-sref="content({link:'/the-daily-getting-started/'})">What is it?</a>
                            </li>
                            <li><a ui-sref="thedaily">Subscribe</a>
                            </li>
                            <li><a ui-sref="placeholder">June 10: Genesis 2</a>
                            </li>
                            <li><a ui-sref="placeholder">June 9: Genesis 1 - 2:3</a>
                            </li>
                            <li><a ui-sref="placeholder">June 8: Genesis 1</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Community</li>
                            <li><a ui-sref="get-in-community">Get in Community</a>
                            </li>
                            <li><a ui-sref="small-groups">Small Groups</a>
                            </li>
                            <li><a ui-sref="content({link:'/cg/'})">Community Groups</a>
                            </li>
                            <li><a ui-sref="healing-groups">Healing Groups</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Lead Your Family</li>
                            <li><a ui-sref="parent-resources">Parent Resources</a>
                            </li>
                            <li><a ui-sref="kids-club-0-5th">Kids' Club (0-5th grade)</a>
                            </li>
                            <li><a ui-sref="middle-school">Middle School (6,7,8th grade)</a>
                            </li>
                            <li><a ui-sref="high-school">High School</a>
                            </li>
                            <li><a ui-sref="marriage-resources">Marriage Resources</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>About</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">About Us</li>
                            <li><a ui-sref="explore-crossroads">Explore Crossroads</a>
                            </li>
                            <li><a ui-sref="who-we-are">Who We Are</a>
                            </li>
                            <li><a ui-sref="what-we-believe">What We Believe</a>
                            </li>
                            <li><a ui-sref="7-hills">7 Hills We Die On</a>
                            </li>
                            <li><a ui-sref="our-history">Our History</a>
                            </li>
                            <li><a ui-sref="kids-club-0-5th">Kids' Club (0-5th grade)</a>
                            </li>
                            <li><a ui-sref="middle-school">Middle School (6,7,8th grade)</a>
                            </li>
                            <li><a ui-sref="high-school">High School</a>
                            </li>
                            <li><a ui-sref="frequent-questions">Frequent Questions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Locations</li>
                            <li><a ui-sref="crossroads-clifton">Crossroads Clifton</a>
                            </li>
                            <li><a ui-sref="crossroads-florence">Crossroads Florence</a>
                            </li>
                            <li><a ui-sref="crossroads-mason">Crossroads Mason</a>
                            </li>
                            <li><a ui-sref="crossroads-oakley">Crossroads Oakley</a>
                            </li>
                            <li><a ui-sref="crossroads-west-side">Crossroads West Side</a>
                            </li>
                            <li><a ui-sref="multi-site-strategy">Multi-Site Strategy</a>
                            </li>
                            <li><a ui-sref="service-times">Service Times & Directions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Pastoral Care</li>
                            <li><a ui-sref="pastoral-care">Overview</a>
                            </li>
                            <li><a ui-sref="weddings">Weddings</a>
                            </li>
                            <li><a ui-sref="couselors">Counselors</a>
                            </li>
                            <li><a ui-sref="funerals">Funerals</a>
                            </li>
                            <li><a ui-sref="prayer">Prayer</a>
                            </li>
                            <li><a ui-sref="care-pages">Care Pages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Contact Us</li>
                            <li><a ui-sref="ask-a-question">Ask a Question</a>
                            </li>
                            <li><a ui-sref="staff-contacts">Staff Contacts</a>
                            </li>
                            <li><a ui-sref="prayer-requests">Prayer Requests</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Give</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Give to Crossroads</li>
                            <li><a ui-sref="give-egift">Recurring Gift (E-gift)</a>
                            </li>
                            <li><a ui-sref="give">One-time Gift</a>
                            </li>
                            <li><a ui-sref="mobile-giving">Mobile Giving</a>
                            </li>
                            <li><a ui-sref="transfer-stock">Transfer Stock</a>
                            </li>
                            <li><a ui-sref="estate-giving">Estate Giving</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Give to Others</li>
                            <li><a href="/corkboard/">Give Your Stuff</a>
                            </li>
                            <li><a ui-sref="wheels">Give a Car (Wheels)</a>
                            </li>
                            <li><a ui-sref="serve">Give Your Time</a>
                            </li>
                            <li><a ui-sref="tripgiving">Give to Someone's Trip</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Questions</li>
                            <li><a ui-sref="financial-philosophy">Financial Philosophy</a>
                            </li>
                            <li><a ui-sref="frequent-questions">Frequent Questions</a>
                            </li>
                            <li><a ui-sref="confidentiality-and-security">Online Security</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle>Media</a>
                <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Recent Weekend Audio</li>
                            <li><a ui-sref="placeholder">Relationships that Last: Week 1</a>
                            </li>
                            <li><a ui-sref="placeholder">Relationships that Last: Week 2</a>
                            </li>
                            <li><a ui-sref="placeholder">Relationships that Last: Week 3</a>
                            </li>
                            <li><a ui-sref="placeholder">Relationships that Last: Week 4</a>
                            </li>
                            <li><a ui-sref="placeholder">All Past Weekends</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3 ">
                        <ul>
                            <li class="dropdown-header">Media Categories</li>
                            <li><a ui-sref="messages">Weekend Service Audio</a>
                            </li>
                            <li><a ui-sref="videos">Videos</a>
                            </li>
                            <li><a ui-sref="music">Music</a>
                            </li>
                            <li><a ui-sref="recently-mentioned">Recently Mentioned Items</a>
                            </li>
                            <li><a href="http://www.youtube.com/crdschurch" target="_blank">YouTube Channel</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Podcasts</li>
                            <li><a ui-sref="audio-messages">Weekend Service Audio (iTunes)</a>
                            </li>
                            <li><a ui-sref="video-messages">Weekend Service Video (iTunes)</a>
                            </li>
                            <li><a ui-sref="music">All Music (iTunes)</a>
                            </li>
                            <li><a ui-sref="videos">All Videos (iTunes)</a>
                            </li>
                            <li><a ui-sref="help">Help</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="dropdown" dropdown>
                <a class="dropdown-toggle" dropdown-toggle href="#" role="button" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="https://admindemo.crossroads.net/ministryplatform/" target="_blank">Ministry Platform (Demo)</a>
                    </li>
                    <li><a href="https://adminint.crossroads.net/ministryplatform/" target="_blank">Ministry Platform (Integration)</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
