<p>"This'll tike us rahnd Edgware?" asked the driver, wild-eyed, white-faced; and when my brother told him it would if he turned to the left, he whipped up at once without the formality of thanks.</p>

<p>My brother noticed a pale grey smoke or haze rising among the houses in front of them, and veiling the white facade of a terrace beyond the road that appeared between the backs of the villas.  Mrs. Elphinstone suddenly cried out at a number of tongues of smoky red flame leaping up above the houses in front of them against the hot, blue sky.  The tumultuous noise resolved itself now into the disorderly mingling of many voices, the gride of many wheels, the creaking of waggons, and the staccato of hoofs.  The lane came round sharply not fifty yards from the crossroads.</p>

<p>"Good heavens!" cried Mrs. Elphinstone.  "What is this you are driving us into?"</p>

<p>My brother stopped.</p>

<p>For the main road was a boiling stream of people, a torrent of human beings rushing northward, one pressing on another.  A great bank of dust, white and luminous in the blaze of the sun, made everything within twenty feet of the ground grey and indistinct and was perpetually renewed by the hurrying feet of a dense crowd of horses and of men and women on foot, and by the wheels of vehicles of every description.</p>
  
<a href="" ui-sref="home"></a>