// Bootstrap Overrides
// --------------------------------------------------
svg { fill: currentColor;
}

/***************************************************************************************
* Breadcrumbs
***************************************************************************************/

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  > li {
    + li:before {
        content: "";
        min-height: 20px;
        min-width: 20px;
        background-image: url('http://crossroads-media.s3.amazonaws.com/images/arrow-right9.svg');
        background-position: 0px;
        display: inline-block;
        vertical-align: bottom;
        padding: 0;
        margin: 0 0 1px;
        background-size: 18px;
        background-repeat: no-repeat;
        opacity: .2;
    }
  }
}
ol.breadcrumb li:first-child {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.9rem;
  vertical-align: middle;
  font-family: $brand-font-family;

  a {
    color: $cr-orange;
  }
}
ol.breadcrumb li.active {
  text-transform: none;
}


/***************************************************************************************
* Buttons
***************************************************************************************/

.btn {
  text-transform: uppercase;
  font-family: $brand-font-family;
  font-size: 16px;
  padding: 3px 8px;
  font-style: normal;
  font-weight: 400;

  .icon {
    fill: #fff;
  }
}

.btn-xs, .btn-group-xs>.btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-sm, .btn-group-sm>.btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

//Our button styles seem to make the height not match text input in button groups. Adding 2px of vertical padding to fix this.
.input-group-btn {
  > .btn {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.btn-ghost {
    @include button-variant($gray-dark, transparent, lighten($gray-light, 10%));
}

.btn-ghost.active {
    @include button-variant(white, $gray-light, $gray-light);
}

/***************************************************************************************
* Badges
***************************************************************************************/

.filetype-badge {
  border-radius: 3px;
  margin-left: 5px;
}


/***************************************************************************************
* Tabs
***************************************************************************************/

.nav-tabs {
  margin-bottom: 15px;
}
.nav-tabs > li > a > tab-heading > span {
  line-height: 1.625;
  display: block;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #eeeeee;
}

/***************************************************************************************
* Modals
***************************************************************************************/

.modal-backdrop {
  height: 100%;
}

/***************************************************************************************
* Date Picker
***************************************************************************************/

.dropdown-menu.ng-valid-date {
  thead {
    th {
      .btn-default {
        // @extend .btn-primary;
        background: $gray-lighter;
        color: $gray-darker;
        border: 1px solid darken($gray-lighter, 20%);
      }
    }
  }

  .btn-default {
    background: white;
    border: none;
    color: $gray-darker;

    &:hover {
      background: $gray-lighter;
    }

    &:hover {
      .text-info {
        color: $gray-darker;
      }
    }
  }

  .btn-info, .btn-danger, .btn-success {
    @extend .btn-primary;
  }

  .active {
    .text-info {
      color: #fff;
    }
  }

  .btn-info, .btn-danger, .btn-success {
    @extend .btn-primary;
  }

  .active {
    .text-info {
      color: #fff;
    }
  }
}

/***************************************************************************************
* Label
***************************************************************************************/

label {
    @extend label;
    margin-bottom: 3px;
}
