// Overrides
// --------------------------------------------------

$icon-font-path: "../fonts/";

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #c9302c !default;

$state-danger-text:     #c9302c !default;

// Brand colors
// -------------------------

$cr-blue:				#3b6e8f; //PMS 5405 C58 M17 Y0   K46
$cr-orange:			#b05c30; //PMS 167  C0  M60 Y100 K17
$cr-dkblue:			#113556;
$cr-grey:				#878785; //PMS Cool Grey 9

$brand-primary:			$cr-blue;
$brand-secondary:   $cr-orange;

//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Roboto, Helvetica,Arial,sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$brand-font-family:       "Roboto Condensed",Helvetica,sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$subheading-ratio:    .65;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.625 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    normal;
$headings-line-height:    1.1 !default;
$headings-color:          $gray-darker !default;

// Navbar
// -------------------------

// Basics of a navbar
$navbar-default-bg:                inherit;
$navbar-default-border:            none;

// Navbar links
$navbar-default-link-active-bg:         #fff;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-default-color:              #fff !default;
$btn-default-bg:                 $brand-secondary !default;
$btn-default-border:             darken($btn-default-bg, 5%) !default;

//** Breadcrumb background color
$breadcrumb-bg:                 #f5f5f5 !default;
//** Breadcrumb text color
$breadcrumb-color:              $cr-blue !default;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $cr-orange !default;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          ">" !default;
