<ul class="media-list">
    <li class="col-sm-2 col-xs-6">
      <a href="/#/media/single">
        <img src="http://s3.amazonaws.com/crossroads-media/images/wonders_05_still.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Signs I Have Seen</h4>
        <p class="text-muted">08.09.2014</p>
      </a>
    </li>
    <li class="col-sm-2 col-xs-6">
      <a href="/messages/2014-07-26-signs-of-a-changed-city.html">
        <img src="http://s3.amazonaws.com/crossroads-media/images/wonders_04_still.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Signs of a Changed City</h4>
        <p class="text-muted">07.26.2014</p>
      </a>
    </li>
    <li class="col-sm-2 col-xs-6">
      <a href="/messages/2014-07-19-wonders-oakley.html">
        <img src="http://s3.amazonaws.com/crossroads-media/images/071914-Oakley.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Wonders - Oakley</h4>
        <p class="text-muted">07.19.2014</p>
      </a>
    </li>
    <li class="col-sm-2 col-xs-6">
      <a href="/messages/2014-07-19-wonders-west-side.html">
        <img src="http://s3.amazonaws.com/crossroads-media/images/071914-Westside.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Wonders - West Side</h4>
        <p class="text-muted">07.19.2014</p>
      </a>
    </li>
    <li class="col-sm-2 col-xs-6">
      <a href="/messages/2014-07-19-wonders-mason.html">
        <img src="http://s3.amazonaws.com/crossroads-media/images/wonders_01_still.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Wonders - Mason</h4>
        <p class="text-muted">07.19.2014</p>
      </a>
    </li>
    <li class="col-sm-2 col-xs-6">
      <a href="/messages/2014-07-19-wonders-florence.html">
        <img src="http://s3.amazonaws.com/crossroads-media/images/071914-Florence.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Wonders - Florence</h4>
        <p class="text-muted">07.19.2014</p>
      </a>
    </li>
    <li class="col-sm-2 col-xs-6">
      <a href="/messages/2014-07-12-freedom-slaves-being-set-free.html">
        <img src="http://s3.amazonaws.com/crossroads-media/images/wonders_02_still.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Freedom: Slaves being set free</h4>
        <p class="text-muted">07.12.2014</p>
      </a>
    </li>
    <li class="col-sm-2 col-xs-6">
      <a href="/messages/2014-07-05-modern-miracles.html">
        <img src="http://s3.amazonaws.com/crossroads-media/images/wonders_01_still.jpg" class="img-responsive imgix-fluid">
        <h4 class="flush-bottom">Modern Miracles</h4>
        <p class="text-muted">07.05.2014</p>
      </a>
    </li>
</ul>
