<div class="col-sm-12">
  <div class="series-info push-bottom">
    <div class="well media-well clearfix hard">
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="series-image-container">
            <img data-src="//crossroads-media.imgix.net/images/90x90_FL.jpg" class="blurred-series-image img-responsive imgix-fluid img-full-width mobile-push-bottom">
            <div class="series-image-small">
              <img data-src="//crossroads-media.imgix.net/images/90x90_FL.jpg">
            </div><!--/series-image-small-->
          </div><!--/series-image-container-->
        </div>
        <div class="col-md-5 col-sm-7">
          <div class="mobile-push">
            <h2 class="push-top mobile-flush-top">Wonders (Low Res Image)</h2>
            From the streets of Soweto to Cleves, come hear stories from the road.  Stories to fill us with wonder, with bravery, with beliefand give us all something to move toward.
          </div> <!--/mobile-push-->
        </div> <!--/col-sm-5-->
      </div> <!--/row-->
    </div> <!--/well-->
  </div> <!--/series-info-->

  <div class="row">
    <ul class="media-list">
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-08-09-signs-i-have-seen.html">
            <img data-src="//crossroads-media.imgix.net/images/wonders_05_still.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Signs I Have Seen</h4>
            <p class="text-muted">08.09.2014</p>
          </a>
        </li>
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-07-26-signs-of-a-changed-city.html">
            <img data-src="//crossroads-media.imgix.net/images/wonders_04_still.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Signs of a Changed City</h4>
            <p class="text-muted">07.26.2014</p>
          </a>
        </li>
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-07-19-wonders-oakley.html">
            <img data-src="//crossroads-media.imgix.net/images/071914-Oakley.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Wonders - Oakley</h4>
            <p class="text-muted">07.19.2014</p>
          </a>
        </li>
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-07-19-wonders-west-side.html">
            <img data-src="//crossroads-media.imgix.net/images/071914-Westside.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Wonders - West Side</h4>
            <p class="text-muted">07.19.2014</p>
          </a>
        </li>
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-07-19-wonders-mason.html">
            <img data-src="//crossroads-media.imgix.net/images/wonders_01_still.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Wonders - Mason</h4>
            <p class="text-muted">07.19.2014</p>
          </a>
        </li>
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-07-19-wonders-florence.html">
            <img data-src="//crossroads-media.imgix.net/images/071914-Florence.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Wonders - Florence</h4>
            <p class="text-muted">07.19.2014</p>
          </a>
        </li>
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-07-12-freedom-slaves-being-set-free.html">
            <img data-src="//crossroads-media.imgix.net/images/wonders_02_still.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Freedom: Slaves being set free</h4>
            <p class="text-muted">07.12.2014</p>
          </a>
        </li>
        <li class="col-sm-2 col-xs-6">
          <a href="/messages/2014-07-05-modern-miracles.html">
            <img data-src="//crossroads-media.imgix.net/images/wonders_01_still.jpg" class="img-responsive imgix-fluid">
            <h4 class="flush-bottom">Modern Miracles</h4>
            <p class="text-muted">07.05.2014</p>
          </a>
        </li>
    </ul>
  </div>
</div><!--/col-sm-12-->
