<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package locationId="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package locationId="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package locationId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package locationId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package locationId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package locationId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package locationId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package locationId="MicrosoftWebMvc" version="2.0" targetFramework="net45" />
  <package locationId="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package locationId="Mvc2Futures" version="2.0.50217.0" targetFramework="net45" />
  <package locationId="MvcContrib" version="2.0.95.0" targetFramework="net45" />
  <package locationId="MvcContrib.TestHelper" version="2.0.95.0" targetFramework="net45" />
  <package locationId="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package locationId="NUnit" version="2.6.4" targetFramework="net45" />
  <package locationId="RestSharp" version="105.1.0" targetFramework="net45" />
  <package locationId="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package locationId="SlowCheetah" version="2.5.14" targetFramework="net45" />
</packages>
