<form role="form" name="personal" ng-init="profile.initProfile(this)" novalidate>

    <p class="text-muted push-bottom">Information shared here is kept secure and private. We will not share or sell your information.</p>

    <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error':personal['first-name'].$invalid}">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" class="form-control" id="first-name" placeholder="Enter first name" ng-model="profile.person.First_Name" ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }" required>
            <ng-messages for="personal['first-name'].$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages">
        </div>

        <div class="form-group col-sm-6">
            <label for="middle-name">Middle Name</label>
            <input type="text" name="middle-name" class="form-control" id="middle-name" placeholder="Enter middle name" ng-model="profile.person.Middle_Name">
        </div>

        <div class="form-group col-sm-6" ng-class="{'has-error':personal['last-name'].$invalid}">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Enter last name" ng-model="profile.person.Last_Name" ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }" required>

            <ng-messages for="personal['last-name'].$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
        </div>

        <div class="form-group col-sm-6">
            <label for="maiden-name">Maiden Name</label>
            <input type="text" name="maiden-name" class="form-control" id="maiden-name" placeholder="Enter maiden name" ng-model="profile.person.Maiden_Name">
        </div>

        <div class="form-group col-sm-6">
            <label for="nickname">Preferred Name <small class="text-muted">(Example: Rob or Becky)</small></label>
            <input type="text" name="nickname" class="form-control" id="nickname" placeholder="Enter nick name" ng-model="profile.person.NickName">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error':personal.email.$invalid}">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" ng-model="profile.person.Email_Address" ng-model-options="{ debounce : { 'default' : 1000, blur: 0} }"  required unique-email>
            <ng-messages for="personal.email.$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
            <ng-messages for="personal.email.$error" ng-messages-include="on-pause-messages"></ng-messages>
        </div>
    </div>

    <div class="row" ng-controller="crdsDatePickerCtrl">
        <div class="form-group col-sm-6" ng-class="{'has-error': profile.isDobError()}">
            <label for="birthdate">Birth Date</label>
            <input type="text" name="birthdate" class="form-control" id="birthdate"
                    placeholder="MM/DD/YYYY"
                    ng-pattern="profile.dateFormat"
                    ng-model="profile.person.Date_of_Birth"
                    validate-date   
                    required />
            <ng-messages for="personal.birthdate.$error" ng-if="personal.$submitted || personal.birthdate.$touched" ng-messages-include="on-submit-messages"></ng-messages>
            <ng-messages for="personal.birthdate.$error" ng-messages-include="on-pause-messages"></ng-messages>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="marital-status">Marital Status</label>
            <select name="marital-status"
                    id="marital-status"
                    class="form-control col-sm-12"
                    ng-model="profile.person.Marital_Status_Id"
                    ng-options="status.dp_RecordID as status.dp_RecordName for status in profile.maritalStatuses"></select>
        </div>

        <div class="form-group col-sm-6">
            <label class="block" for="gender">Gender</label>
            <label class="radio-inline" ng-repeat="gender in profile.genders">
                <input type="radio" id="gender-{{ gender.dp_RecordName}}" ng-value="gender.dp_RecordID" ng-model="profile.person.Gender_Id"> {{ gender.dp_RecordName }}
            </label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="employer">Employer</label>
            <input type="text" class="form-control" name="employer" id="employer" placeholder="Enter employer" ng-model="profile.person.Employer_Name">
        </div>
    </div>

    <div class="row" ng-controller="crdsDatePickerCtrl">
        <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl" ng-class="{'has-error':personal['anniversary-date'].$invalid}">
            <label for="anniversary-date">When did you start attending Crossroads?</label>
            <input type="text"
                   name="anniversary-date"
                   placeholder="MM/DD/YYYY"
                   class="form-control"
                   id="anniversary-date"
                   validate-date
                   ng-model="profile.person.Anniversary_Date"
                   ng-pattern="profile.dateFormat" />
            <ng-messages for="personal['anniversary-date'].$error" ng-messages-include="on-pause-messages"></ng-messages>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error':personal['mobile-phone'].$invalid}">
            <label for="mobile-phone">Mobile Phone</label>
            <input type="text"
                   class="form-control" name="mobile-phone" id="mobile-phone"
                   placeholder="Enter mobile phone"
                   ng-model="profile.person.Mobile_Phone"
                   ng-pattern="profile.phoneFormat"
                   ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
                   ng-blur="profile.convertPhone()">
            <ng-messages for="personal['mobile-phone'].$error" ng-if="personal.$submitted || personal.$touched">
                <!-- TODO Create custom phone validator here so we can use the template instead of the override below -->
                <span ng-message="pattern"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"</span></span>
            </ng-messages>
        </div>
        <div class="form-group col-sm-6" ng-class="{'has-error':personal['service-provider'].$invalid}">
            <label for="service-provider">Service Provider</label>
            <select name="service-provider" class="form-control col-sm-12" id="service-provider" ng-model="profile.person.Mobile_Carrier"
                    ng-options="providers.dp_RecordID as providers.dp_RecordName for providers in profile.serviceProviders" ng-required="profile.serviceProviderRequired()">
                <option value=""> -- Choose One -- </option>
            </select>
            <ng-messages for="personal['service-provider'].$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages"></ng-messages>

        </div>
    </div>

    <div class="row">
        <fieldset>
            <legend>Your Household</legend>
            <p>
                Update information for your household, which includes:<br />
                <strong>Tate Lucas</strong>, <strong>Christy Lucas</strong>, <strong>Sadie Lucas</strong>, <strong>Simon Lucas</strong>
                <!-- >a href="#" class="btn btn-xs btn-light-gray push-half-left">Add or remove another person</a-->
            </p>

            <div class="panel panel-default clearfix">
                <div class="panel-heading address-panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">
                    <div class="row">
                        <a ng-click="isCollapsed = !isCollapsed" href="#" class="address-show" ng-show="isCollapsed">
                            <svg viewBox="0 0 32 32" class="icon icon-pencil4"><use xlink:href="/icons/cr.svg#pencil4"></use></svg>
                        </a>
                        <a ng-click="isCollapsed = !isCollapsed" href="#" class="address-show" ng-show="!isCollapsed">
                            <svg viewBox="0 0 18 32" class="icon icon-caret-up"><use xlink:href="/icons/cr.svg#caret-up"></use></svg>
                        </a>
                        <div class="col-md-7">
                            <svg viewBox="0 0 32 32" class="icon icon-home"><use xlink:href="/icons/cr.svg#home"></use></svg>3727 Hyde Park Ave, Cincinnati, OH 45209
                        </div>
                        <div class="col-md-2"><svg viewBox="0 0 32 32" class="icon icon-phone3"><use xlink:href="/icons/cr.svg#phone3"></use></svg>859-867-5309</div>
                        <div class="col-md-3"><svg viewBox="0 0 32 32" class="icon icon-crossroads"><use xlink:href="/icons/cr.svg#crossroads"></use> </svg>Crossroads Oakley</div>
                    </div><!--/row-->
                </div> <!--/panel-heading-->

                <div class="address-panel-body panel-body clearfix" collapse="isCollapsed">
                    <div class="col-sm-12">
                        <fieldset class="row">
                            <ul class="list-group clearfix">
                                <li class="list-group-item clearfix">
                                    <div class="form-group col-sm-6" ng-class="{'has-error':personal.address.$invalid}">
                                        <label for="address">Street</label>
                                        <input name="address" ng-model="profile.person.Address_Line_1" type="text" class="form-control" id="address" placeholder="Enter street address" required>
                                        <ng-messages for="personal.address.$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages">
                                        </ng-messages>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="address2">Street 2</label>
                                        <input ng-model="profile.person.Address_Line_2" type="text" name="address2" class="form-control" id="address2" placeholder="Enter street address (cont.)">
                                    </div>

                                    <div class="form-group col-sm-6" ng-class="{'has-error':personal.city.$invalid}">
                                        <label for="city">City</label>
                                        <input name="city" ng-model="profile.person.City" type="text" class="form-control" id="city" placeholder="Enter city" required>
                                        <ng-messages for="personal.city.$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
                                    </div>

                                    <div class="form-group col-sm-6" ng-class="{'has-error':personal.state.$invalid}">
                                        <label for="state">State</label>
                                        <select name="state" id="state" class="form-control col-sm-12" ng-model="profile.person.State" ng-options="state.State_Abbreviation as state.State_Abbreviation for state in profile.states" required>
                                            <option value=""> -- Choose a State -- </option>
                                        </select>
                                        <ng-messages for="personal.state.$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
                                    </div>

                                    <div class="form-group col-sm-6" ng-class="{'has-error':personal.zip.$invalid}">
                                        <label for="zip">Zip</label>
                                        <input name="zip" ng-model="profile.person.Postal_Code" type="text" class="form-control" id="zip" placeholder="Enter zip code" required ng-pattern="profile.zipFormat">
                                        <ng-messages for="personal.zip.$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
                                        <ng-messages for="personal.zip.$error">
                                            <!-- TODO Create custom phone validator here so we can use the template instead of the override below -->
                                            <span ng-message="pattern"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidZip].message | html"</span></span>
                                        </ng-messages>

                                    </div>

                                    <div class="form-group col-sm-6" ng-class="{'has-error':personal.country.$invalid}">
                                        <label for="country">Country</label>
                                        <select name="country" id="country" ng-model="profile.person.Foreign_Country" ng-options="country.dp_RecordName as country.dp_RecordName for country in profile.countries" class="form-control col-sm-12" required>
                                            <option value=""> -- Choose One -- </option>
                                        </select>
                                        <ng-messages for="personal.country.$error" ng-if="personal.$submitted" ng-messages-include="on-submit-messages"></ng-messages>
                                    </div>

                                </li>
                                <li class="list-group-item clearfix" ng-class="{'has-error':personal['home-phone'].$invalid}">
                                    <div class="form-group col-sm-6">
                                        <label for="home-phone">Home Phone</label>
                                        <input name="home-phone"
                                               ng-model="profile.person.Home_Phone"
                                               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }"
                                               type="text"
                                               class="form-control"
                                               id="home-phone"
                                               ng-pattern="profile.phoneFormat"
                                               placeholder="Enter home phone"
                                               ng-blur="profile.convertHomePhone()">
                                        <ng-messages for="personal['home-phone'].$error" ng-messages-include="on-submit-messages">
                                            <!-- TODO Create custom phone validator here so we can use the template instead of the override below -->
                                            <span ng-message="pattern"><span ng-bind-html="$root.messages[$root.MESSAGES.invalidPhone].message | html"</span></span>
                                        </ng-messages>
                                    </div>
                                </li>
                                <li class="list-group-item clearfix">
                                    <div id="Site" class="form-group col-sm-6">
                                        <label for="crossroads-location">Crossroads Location</label>
                                        <select name="crossroads-location" id="crossroads-location" class="form-control col-sm-12" ng-model="profile.person.Congregation_ID" ng-options="congregation.dp_RecordID as congregation.dp_RecordName for congregation in profile.crossroadsLocations"></select>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                        <!----form-->
                        <!----div--><!--/col-sm-12-->
                    </div><!--/panel-body-->
                </div><!--/panel-->

        </fieldset>
    </div>

    <button id="save-personal" ng-click="profile.savePersonal()" class="btn btn-primary" data-style="expand-left">
        Save
    </button>
</form>


