<!-- TODO Can this error handling be updated to utilize ngMessages? -->
<div class="alert alert-success" role="alert" ng-if="opportunity.created">
    <span ng-bind-html="$root.messages[$root.MESSAGES.succesfulResponse].message | html"></span>
</div>

<div class="alert alert-danger" role="alert" ng-if="opportunity.rejected">
    <span ng-bind-html="$root.messages[$root.MESSAGES.failedResponse].message | html"></span>
</div>

<section>
    <button class="btn btn-primary" ng-click="opportunity.submitRequest(115)"> Request to Join Kids Club </button>
</section>