<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- Configuration values for Stripe Event Handler (webhooks) -->
  <add key="StripeWebhookAsynchronousProcessingMode" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="CheckScannerDonationsAsynchronousProcessingMode" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  <add key="DefaultContactEmailId" value="1519180"/>
</appSettings>