<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--Please place in apropriate section in alphabetic order-->

  <!--Below are ids for the respective pages within MP-->
  <add key="Addresses" value="271" />
  <add key="AllFormFieldsView" value="2139" />
  <add key="AllIndividualsWithContactId" value="2129" />
  <add key="Attributes" value="277" />
  <add key="AttributesPageView" value="2185" />
  <add key="Batches" value="282" />
  <add key="ChangePassword" value="475" />
  <add key="SelectedContactAttributes" value="109" />
  <add key="ContactAttributesSubPage" value="269" />
  <add key="ContactByParticipantId" value="1102"/>
  <add key="ContactHouseholds" value="432" />
  <add key="ContactOpportunityResponses" value="76"/>
  <add key="ContactRelationships" value="265" />
  <add key="ContactRelationshipsIds" value="110"/>
  <add key="Contacts" value="292"/>
  <add key="DefaultContactEmailId" value="1519180"/>
  <add key="DefaultUserAuthorId" value="3009216"/>
  <add key="DefaultServeReminderTemplate" value="14567"/>
  <add key="DefaultGivingContactEmailId" value="5396574"/>
  <add key="Programs" value="375"/>
  <add key="Countries" value="442"/>
  <add key="CrossroadsLocations" value="466"/>
  <add key="Deposits" value="294"/>
  <add key="Distributions" value="296"/>
  <add key="Donations" value="297"/>
  <add key="DonationStatus" value="506"/>
  <add key="DonorAccounts" value="298"/>
  <add key="Donors" value="299"/>
  <add key="DonorMessageTemplateId" value="12599"/>
  <add key="Emails" value="481" />
  <add key="Events" value="308"/>
  <add key="EventsGroups" value="408"/>
  <add key="EventsParticipants" value="281"/>
  <add key="EventParticipant" value="305"/>
  <add key="EventParticipantSubpage" value="508"/>
  <add key="EventParticipantSubpageRegisteredView" value="120"/>
  <add key="EventParticipantByEventIdAndParticipantId" value="2099"/>
  <add key="EventsReadyForReminder" value="492" />
  <add key="EventReminderTemplateId" value="1459"/>
  <add key="EventsSubPageGroups" value="282" />
  <add key="EventsWithDetail" value="2188" />
  <add key="FindDonorByAccountPageView" value="2179" />
  <add key="FormResponsePageId" value="424"/>
  <add key="FormAnswerPageId" value="425"/>
  <add key="Genders" value="311" />
  <add key="GroupType_Waitlist" value="20"/>
  <add key="Households" value="327" />
  <add key="HouseholdProfile" value="2180"/>
  <add key="HouseholdMembers" value ="102"/>
  <add key="MaritalStatus" value="339"/>
  <add key="MyAddresses" value="468" />
  <add key="MyCommunicationPreferences" value="479" />
  <add key="MyContact" value="455" />
  <add key="MyContactCurrentRelationships" value="81"/>
  <add key="MyDonor" value="526"/>
  <add key="GoTripAgeExceptions" value="535"/>
  <add key="GoTripParticipants" value="92155" />
  <add key="GoTripFamilySignup" value="92219"/>
  <add key="GroupsEvents" value="302"/>
  <add key="GroupOpportunities" value="300"/>
  <add key="GroupOpportunitiesEvents" value="77"/>
  <add key="Groups" value="322"/>
  <add key="GroupsByEventId" value="92180" />
  <add key="GroupEventsSubPageView" value="111"/>
  <add key="GroupsParticipants" value="298"/>
  <add key="GroupParticipantsById" value="92188" />
  <add key="GroupsParticipantsSubPage" value="88"/>
  <add key="GroupsParticipantsQualifiedServerPageView" value="2102" />
  <add key="GroupSignUpRelations" value="521"/>
  <add key="GroupsSubgroups" value="299"/>
  <add key="MessagesPageId" value="341"/>
  <add key="MyHousehold" value="465" />
  <add key="MyHouseholdDonationDistributions" value="516"/>
  <add key="MyHouseholdDonationRecurringGifts" value="523"/>
  <add key="MyHouseholdRecurringGiftsApiPageView" value="2184"/>
  <add key="MyHouseholdPledges" value="525"/>
  <add key="MyParticipantRecords" value="482"/>
  <add key="MyProfile" value="474" />
  <add key="MyRoles" value="507" />
  <add key="MyServingTeams" value="1014"/>
  <add key="MyContactAttributesSubPage" value="421" />
  <add key="MyContactCurrentAttributesSubPageView" value="117" />
  <add key="OneTimeEventRsvpTemplate" value="13714"/>
  <add key="OpportunityPage" value="348"/>
  <add key="OpportunityResponses" value ="382"/>
  <add key="PaymentProcessorEventErrors" value ="508"/>
  <add key="ParticipantResponsesWithEventId" value="90" />
  <add key="Pledge_Campaigns" value="361" />
  <add key="Pledges" value="363" />
  <add key="PledgesByDonorId" value="92187" />
  <add key ="PledgeStatusDiscontinued" value="3"/>
  <add key="Publications" value="376" />
  <add key="PublicationPageViewSubPageId" value="543"/>
  <add key="RecipientsSubpageId" value="461"/>
  <add key="RecurringGifts" value ="517"/>
  <add key="Relationships" value="379" />
  <add key="SegmentationBasePageViewId" value="2197"/>
  <add key="ServiceProviders" value="453"/>
  <add key="SignedupToServe" value="79"/>
  <add key="States" value="487"/>
  <add key="Subscribers" value="417"/>
  <add key="Participants" value="355"/>
  <add key="TodaysEventLocationRecords" value ="490"/>
  <add key="TripDistributionsView" value="92179"/>
  <add key="TripInvitations" value="515"/>
  <add key="TripPrivateInvite" value="534" />
  <add key="TripPrivateInviteValid" value="101" />
  <add key="PrivateInviteTemplate" value="12302" />
  <add key="Users" value="401"/>
  <add key="Users_Roles" value="369"/>
  <add key="UsersApiLookupPageView" value="2181"/>
  <add key="SecurityRolesSubPageId" value="363"/>
  <add key="SubscriptionsSubPage" value="424"/>
  <add key="WorkTeams" value="513" />
  <add key="UnassignedContact" value="4" />

  <!--Below are ids for the respective views within MP-->
  <add key="BulkEmailPublicationsPageView" value="2199"/>
  <add key="DonorByContactId" value="1058"/>
  <add key="DonorLookupByEncryptedAccount" value = "2179"/>
  <add key="EventsWithEventTypeId" value="1028" />
  <add key="EventType_Childcare" value="Childcare"/>
  <add key="GoTripsWithForms" value="92193" />
  <add key="GPExportView" value="92198"/>
  <add key="MyContactFamilyRelationshipViewId" value="75"/>
  <add key="ParticipantByContactId" value="1029"/>
  <add key="PossibleGuestDonorContact" value="1098"/>
  <add key="RecurringGiftBySubscription" value="2182" />
  <add key="ResponseByOpportunityAndEvent" value="1030" />
  <add key="ResponsesByEventAndGroup" value="2201"/>
  <add key="ParticipantsByGroupAndEvent" value="2200"/>
  <add key="OpportunityResponsesByGroupAndEvent" value="2201"/>
  <add key="SignupToServeReminders" value="2203"/>

  <!--Below are the default values used by registerPerson in AccountService.cs-->
  <add key="Congregation_Default_ID" value="5"/>
  <add key="Household_Default_Source_ID" value="30"/>
  <add key="Household_Position_Default_ID" value="1"/>
  <add key="Household_Type_Default_ID" value="1"/>
  <add key="Role_Default_ID" value="39"/>
  <add key="Participant_Type_Default_ID" value="1"/>

  <!-- Default values used for signing up a participant for a Community Group -->
  <add key="Group_Role_Default_ID" value="16"/> <!-- Role = "Member" -->
  <add key="CommunityGroupConfirmationTemplateId" value="5386" />
  <add key="CommunityGroupWaitListConfirmationTemplateId" value="5407" />

  <!-- Default values used for signing up a participant for an Event -->
  <add key="Event_Participant_Status_Default_ID" value="02"/> <!-- Participant Status = "Registered" -->
  <add key="OnlineGivingProgramsPageViewId" value="1038"/>

  <!-- Below are ids of message templates for RSVPs -->
  <add key="RsvpYesTemplate" value="11366"/>
  <add key="RsvpNoTemplate" value="11367"/>
  <add key="RsvpChangeTemplate" value="11366"/>
  <add key="RsvpYesToNo" value="11825"/>

  <!-- Default values used in sending emails -->
  <add key="ActionStatusId" value="2"/>
  <add key="CommunicationStatusId" value="3"/>

  <!-- Relationship IDs -->
  <add key ="SponsoredChild" value="43" />
  <add key ="SponsoredChildOf" value="44" />
  <add key="DefaultEmailFromContact" value="2" />
  <add key="DefaultAuthorUser" value="5"/>

  <!-- Below are ids of message templates for GiveConfirmation -->
  <add key="DefaultGiveConfirmationEmailTemplate" value="11402"/>
  <add key="RecurringGiftSetupEmailTemplateId" value="13304"/>
  <add key="RecurringGiftUpdateEmailTemplateId" value="13305"/>
  <add key="RecurringGiftCancelEmailTemplateId" value="13306"/>
  <!-- Below are ids of message templates for Corkboard -->
  <add key="CorkboardPostContactEmail" value="11419"/>
  <add key="CorkboardPostFlaggedEmail" value="11419"/>

  <!-- Configuration values for Stripe and Payments -->
  <add key="BatchEntryTypePaymentProcessor" value="10" />
  <add key="DonationStatusDeclined" value="3" />
  <add key="DonationStatusDeposited" value="2" />
  <add key="DonationStatusSucceeded" value="4" />
  <add key="MaxStripeQueryResultsPerPage" value="100"/> <!-- This value needs to be 100 or less, per Stripe docs -->
  <add key="PaymentClient" value ="https://api.stripe.com/v1"/>
  <add key="StripeWebhookLiveMode" value="false" /> <!-- Set to true in production, false in non-prod -->
  <add key="StripeWebhookAsynchronousProcessingMode" value="false"/> <!-- Set to false in non-deployed environment, true everywhere else -->
  <add key="StripeWebhookEventQueueName" value=".\Private$\StripeEvents"/>
  <add key="CheckScannerDonationsAsynchronousProcessingMode" value="false"/> <!-- Set to false in non-deployed environment, true everywhere else -->
  <add key="CheckScannerDonationsQueueName" value=".\Private$\CheckScannerDonations"/>
  <add key="DonorStatementFrequencyNever" value="3"/>
  <add key="DonorStatementFrequencyQuarterly" value="1"/>
  <add key="DonorStatementTypeIndividual" value="1"/>
  <add key="DonorStatementTypeFamily" value="2"/>
  <add key="DonorStatementMethodNone" value="4"/>
  <add key="DonorStatementMethodPostalMail" value="1"/>
  <add key="GuestGiverContactDisplayName" value="Guest Giver"/>
  <add key="ProcessingProgramId" value="127"/>
  <add key="ScholarshipPaymentTypeId" value="9"/>
  <add key="NotSiteSpecificCongregation" value ="5"/>
  <add key="PledgeCampaignTypeCapitalCampaign" value="1"/>
  <add key="PledgeCampaignTypeTrip" value="2"/>

  <!-- Configuration Values for subscriptions -->
  <add key="KidsClubPublication" value="2" />
  <add key="CrossroadsPublication" value="3" />

  <!-- Configuration Values for statements -->
  <add key="PostalMailStatement" value="1"/>
  <add key="EmailOnlineStatement" value="2"/>  

  <!-- Configuration Values for SU2S -->
  <add key="SignupToServeEventQueue" value=".\Private$\SignupToServeEvents"/>
  <add key="SignupToServeFailedMessage" value="12666" />

  <!-- Configuration Values for Trips -->
  <add key="TripApplicationFormId" value="20" />
  <add key="TripApplicationEventQueue" value=".\Private$\TripEvents"/>
  <add key="TripDonationMessageTemplateId" value="12530"/>
  <add key="TripDestinationDocuments" value="92233" />
  <add key="EventParticipantDocuments" value="536"/>
  <add key="TripApplicantSuccessTemplate" value="12953"/>
  <add key="TripAdminErrorTemplate" value="12954"/>
  <add key="TripApplicantErrorTemplate" value="12955"/>
  <add key="TripParticipantSuccessTemplate" value="12986" />

  <!-- Check Scanner Batch Values -->
  <add key="CheckScannerBatchSuccessTemplateId" value="12259"/>
  <add key="CheckScannerBatchFailureTemplateId" value="12260"/>
  
  <!-- Default Email Values -->
  <add key="DomainId" value="1"/>
  <add key="ChurchAdminContact" value="7"/>

  <!--Trip Form Mapping-->
  <!--Page 2-->
  <add key="TripForm.Allergies" value="1431"/>
  <add key="TripForm.Conditions" value="1432"/>
  <add key="TripForm.GuardianFirstName" value="1426"/>
  <add key="TripForm.GuardianLastName" value="1427"/>
  <add key="TripForm.Referral" value="1433"/>
  <add key="TripForm.ScrubSizeTop" value="1477"/>
  <add key="TripForm.ScrubSizeBottom" value="1429"/>
  <add key="TripForm.SpiritualLifeObedience" value="1437"/>
  <add key="TripForm.SpiritualLifeReceived" value="1436"/>
  <add key="TripForm.SpiritualLifeReplicating" value="1438"/>
  <add key="TripForm.SpiritualLifeSearching" value="1435"/>
  <add key="TripForm.TshirtSize" value="1428"/>
  <add key="TripForm.Vegetarian" value="1430"/>
  <add key="TripForm.Why" value="1434"/>

  <!--Page 3-->
  <add key="TripForm.EmergencyContactEmail" value="1441" />
  <add key="TripForm.EmergencyContactFirstName" value="1439" />
  <add key="TripForm.EmergencyContactLastName" value="1440" />
  <add key="TripForm.EmergencyContactPrimaryPhone" value="1442" />
  <add key="TripForm.EmergencyContactSecondaryPhone" value="1443" />

  <!--Page 4-->
  <add key="TripForm.GroupCommonName" value="1445"/>
  <add key="TripForm.InterestedInGroupLeader" value="1449"/>
  <add key="TripForm.Lottery" value="1444"/>
  <add key="TripForm.RoommateFirstChoice" value="1446"/>
  <add key="TripForm.RoommateSecondChoice" value="1447"/>
  <add key="TripForm.SupportPersonEmail" value="1448"/>
  <add key="TripForm.WhyGroupLeader" value="1450"/>

  <!--Page 5-->
  <add key="TripForm.PreviousTripExperience" value="1451" />
  <add key="TripForm.ProfessionalSkillBusiness" value="1452" />
  <add key="TripForm.ProfessionalSkillConstruction" value="1453" />
  <add key="TripForm.ProfessionalSkillDental" value="1454" />
  <add key="TripForm.ProfessionalSkillEducation" value="1455" />
  <add key="TripForm.ProfessionalSkillInformationTech" value="1456" />
  <add key="TripForm.ProfessionalSkillMedia" value="1457" />
  <add key="TripForm.ProfessionalSkillMedical" value="1458" />
  <add key="TripForm.ProfessionalSkillMusic" value="1459" />
  <add key="TripForm.ProfessionalSkillOther" value="1460" />
  <add key="TripForm.ProfessionalSkillPhotography" value="1461" />
  <add key="TripForm.ProfessionalSkillSocialWorker" value="1462" />
  <add key="TripForm.ProfessionalSkillStudent" value="1463" />
  <add key="TripForm.SponsorChildFirstName" value="1419" />
  <add key="TripForm.SponsorChildInNicaragua" value="1418" />
  <add key="TripForm.SponsorChildLastName" value="1420" />
  <add key="TripForm.SponsorChildNumber" value="1421" />
  <add key="TripForm.FirstChoiceWorkTeam" value="1423"/>
  <add key="TripForm.FirstChoiceWorkTeamExperience" value="1424"/>
  <add key="TripForm.SecondChoiceWorkTeam" value="1425"/>

  <!--Page 6-->
  <add key="TripForm.DeltaFrequentFlyer" value="1471"/>
  <add key="TripForm.DescribeExperienceAbroad" value="1476"/>
  <add key="TripForm.ExperienceAbroad" value="1475"/>
  <add key="TripForm.InternationalTravelExpericence" value="1474"/>
  <add key="TripForm.PassportCountry" value="1469"/>
  <add key="TripForm.PassportExpirationDate" value="1465"/>
  <add key="TripForm.PassportFirstName" value="1466"/>
  <add key="TripForm.PassportLastName" value="1468"/>
  <add key="TripForm.PassportMiddleName" value="1467"/>
  <add key="TripForm.PastAbuseHistory" value="1417"/>
  <add key="TripForm.PassportNumber" value="1478"/>
  <add key="TripForm.SouthAfricanFrequentFlyer" value="1472"/>
  <add key="TripForm.UnitedFrequentFlyer" value="1473"/>
  <add key="TripForm.UsAirwaysFrequentFlyer" value="1422"/>
  <add key="TripForm.ValidPassport" value="1464"/>
  <!--End of Trip Form Mapping-->
  
  <!-- Childcare System -->
  <add key="ChildcareRequestTemplate" value="13362" />
  <add key="ChildcareConfirmationTemplate" value="13548" />
  <add key="EventParticipantsChildCarePageView" value="1100"/>
  <add key="NumberOfDaysBeforeEventToSend" value="14"/>
  <add key="EmailAuthorId" value="5" />
  <add key="EventsByParentEventID" value="1101" />
  <add key="MaxAgeWithoutGrade" value="8" />
  <add key="MaxGradeForChildcare" value="5" />

</appSettings>
