<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name ="Page2" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page3" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page4" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page5" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page6" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page7" type="System.Configuration.DictionSectionHandler,System"/>
  </configSections>
  
  <Page2>
    <add key="Allergies" value=""/>
    <add key="Conditions" value=""/>
    <add key="GuardianFirstName" value=""/>
    <add key="GuardianLastName" value=""/>
    <add key="Referral" value=""/>
    <add key="ScrubSize" value=""/>
    <add key="SpiritualLifeObedience" value=""/>
    <add key="SpiritualLifeReceived" value=""/>
    <add key="SpiritualLifeReplicating" value=""/>
    <add key="SpiritualLifeSearching" value=""/>
    <add key="TshirtSize" value=""/>
    <add key="Vegetarian" value=""/>
    <add key="Why" value=""/>
  </Page2>
  
  <Page4>
    <add key="GroupCommonName" value=""/>
    <add key="InterestedInGroupLeader" value=""/>
    <add key="Lottery" value=""/>
    <add key="RoommateFirstChoice" value=""/>
    <add key="RoommateSecondChoice" value=""/>
    <add key="SupportPersonEmail" value=""/>
    <add key="WhyGroupLeader" value=""/>
  </Page4>

  <Page6>
    <add key="DeltaFrequentFlyer" value=""/>
    <add key="DescribeExperienceAbroad" value=""/>
    <add key="ExperienceAbroad" value=""/>
    <add key="InternationalTravelExpericence" value=""/>
    <add key="PassportBirthday" value=""/>
    <add key="PassportCountry" value=""/>
    <add key="PassportExpirationDate" value=""/>
    <add key="PassportFirstName" value=""/>
    <add key="PassportLastName" value=""/>
    <add key="PassportMiddleName" value=""/>
    <add key="PastAbuseHistory" value=""/>
    <add key="SouthAfricanFrequentFlyer" value=""/>
    <add key="UnitedFrequentFlyer" value=""/>
    <add key="UsAirwaysFrequentFlyer" value=""/>
    <add key="ValidPassport" value=""/>
  </Page6>

</configuration>
