<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name ="Page2" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page3" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page4" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page5" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page6" type="System.Configuration.DictionSectionHandler,System"/>
    <section name ="Page7" type="System.Configuration.DictionSectionHandler,System"/>
  </configSections>
  
  <Page2>
    <add key="Allergies" value=""/>
    <add key="Conditions" value=""/>
    <add key="GuardianFirstName" value=""/>

            [JsonProperty(PropertyName = "guardianLastName")]
            public string GuardianLastName { get; set; }

            [JsonProperty(PropertyName = "referral")]
            public string Referral { get; set; }

            [JsonProperty(PropertyName = "scrubSize")]
            public string ScrubSize { get; set; }

            [JsonProperty(PropertyName = "spiritualLifeObedience")]
            public string SpiritualLifeObedience { get; set; }

            [JsonProperty(PropertyName = "spiritualLifeReceived")]
            public string SpiritualLifeReceived { get; set; }

            [JsonProperty(PropertyName = "spiritualLifeReplicating")]
            public string SpiritualLifeReplicating { get; set; }

            [JsonProperty(PropertyName = "spiritualLifeSearching")]
            public string SpiritualLifeSearching { get; set; }

            [JsonProperty(PropertyName = "tshirtSize")]
            public string TshirtSize { get; set; }

            [JsonProperty(PropertyName = "vegetarian")]
            public string Vegetarian { get; set; }

            [JsonProperty(PropertyName = "why")]
            public string Why { get; set; }
  </Page2>

</configuration>
