<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="PaymentClient" value ="https://api.stripe.com/v1"/>
  
  <!--Please place in apropriate section in alphabetic order-->
  
  <!--Below are ids for the respective pages within MP-->
  <add key="Attributes" value="277" />
  <add key="ChangePassword" value="475" />
  <add key="ContactAttributes" value="412" />
  <add key="ContactHouseholds" value="432" />
  <add key="ContactOpportunityResponses" value="76"/>
  <add key="Contacts" value="292"/>
  <add key="Countries" value="442"/>
  <add key="CrossroadsLocations" value="288"/>
  <add key="Distributions" value="296"/>
  <add key="Donations" value="297"/>
  <add key="Donors" value="299"/>
  <add key="Emails" value="481" />
  <add key="Events" value="308"/>
  <add key="EventsGroups" value="408"/>
  <add key="EventsParticipants" value="281"/>
  <add key="EventParticipant" value="305"/>
  <add key="EventParticipantByEventIdAndParticipantId" value="2099"/>
  <add key="Genders" value="311" />
  <add key="Households" value="327" />
  <add key="MaritalStatus" value="339"/>
  <add key="MyAddresses" value="468" />
  <add key="MyCommunicationPreferences" value="479" />
  <add key="MyContact" value="455" />
  <add key="MyContactCurrentRelationships" value="81"/>
  <add key="GroupsEvents" value="302"/>
  <add key="GroupOpportunities" value="300"/>
  <add key="GroupOpportunitiesEvents" value="77"/>
  <add key="Groups" value="322"/>
  <add key="GroupsParticipants" value="298"/>
  <add key="GroupsParticipantsSubPage" value="88"/>
  <add key="GroupsParticipantsQualifiedServerPageView" value="2102" />
  <add key="GroupSignUpRelations" value="521"/>
  <add key="GroupsSubgroups" value="299"/>
  <add key="MyHousehold" value="465" />
  <add key="MyParticipantRecords" value="482"/>
  <add key="MyProfile" value="474" />
  <add key="MyServingTeams" value="1014"/>
  <add key="MySkills" value="421" />
  <add key="OpportunityPage" value="348"/>
  <add key="OpportunityResponses" value ="382"/>
  <add key="ParticipantResponsesWithEventId" value="90" />
  <add key="ServiceProviders" value="453"/>
  <add key="SignedupToServe" value="79"/>
  <add key="States" value="487"/>
  <add key="Participants" value="355"/>
  <add key="TodaysEventLocationRecords" value ="490"/>
  <add key="Users" value="401"/>
  <add key="Users_Roles" value="369"/>
  
  <!--Below are ids for the respective views within MP-->
  <add key="DonorByContactId" value="1058"/>
  <add key="EventsWithEventTypeId" value="1028" />
  <add key="MyContactFamilyRelationshipViewId" value="75"/>
  <add key="ParticipantByContactId" value="1029"/>
  <add key="PossibleGuestDonorContact" value="1098"/>
  <add key="ResponseByOpportunityAndEvent" value="1030" />

  <!--Below are the default values used by registerPerson in AccountService.cs-->
  <add key="Congregation_Default_ID" value="5"/>
  <add key="Household_Default_Source_ID" value="30"/>
  <add key="Household_Position_Default_ID" value="1"/>
  <add key="Household_Type_Default_ID" value="1"/>
  <add key="Role_Default_ID" value="39"/>
  <add key="Participant_Type_Default_ID" value="4"/>
  
  <!-- Default values used for signing up a participant for a Community Group -->
  <add key="Group_Role_Default_ID" value="16"/> <!-- Role = "Member" -->

  <!-- Default values used for signing up a participant for an Event -->
  <add key="Event_Participant_Status_Default_ID" value="02"/> <!-- Participant Status = "Registered" -->
  <add key="OnlineGivingProgramsPageViewId" value="1038"/>
</appSettings>
